
<div class="panel-side">
  <h3>YOUR DAILY UPDATE</h3>
  <h4>- September 7, 2015 -</h4>
  <div class="selection">
    <h4 ng-click="loadInteresting();" data-ng-class="{active: selection == true}">INTERESTING</h4>
    <h4 ng-click="loadIntriguing();" data-ng-class="{active: selection == false}">INTRIGUING</h4>
  </div>
  <div data-ng-hide="!selection" class="posts">
    <div ng-repeat="article in articles" class="post">
      <div class="top">
        <div class="number">
          <h5 ng-bind="($index + 1)"></h5>
        </div>
        <h2 ng-bind="article.title"></h2>
      </div>
      <div class="bottom">
        <p ng-bind="article.content"></p>
      </div>
    </div>
  </div>
  <div data-ng-hide="selection" class="posts">
    <div ng-repeat="article in articlesB" class="post">
      <div class="top">
        <div class="number">
          <h5 ng-bind="($index + 1)"></h5>
        </div>
        <h2 ng-bind="article.title"></h2>
      </div>
      <div class="bottom">
        <p ng-bind="article.content"></p>
      </div>
    </div>
  </div>
</div>