
<div class="panel-search">
  <div class="search-container">
    <div class="dropdown">
      <isteven-multi-select input-model="categories" output-model="categoriesFiltered" output-properties="category" button-label="category" item-label="category" tick-property="ticked" max-labels="1" helper-elements=""></isteven-multi-select>
    </div>
    <div class="dropdown">
      <isteven-multi-select input-model="subCategories" output-model="subCategoriesFiltered" output-properties="subCategory" button-label="subCategory" item-label="subCategory" tick-property="ticked" max-labels="1" helper-elements=""></isteven-multi-select>
    </div>
    <div class="dropdown">
      <isteven-multi-select input-model="tags" output-model="tagsFiltered" output-properties="tag" button-label="tag" item-label="tag" tick-property="ticked" max-labels="1" helper-elements=""></isteven-multi-select>
    </div>
  </div>
</div>