.contact
	float left
	width 300px
	padding 0
	margin 0 0 0 10px
	border none
	border-bottom none
	background none

	.contact-detail
		float left
		width 258px
		padding 22px 20px 24px 20px
		margin 0 0 14px 0
		border none
		background $card
		border $card-border
		border-bottom $card-border-bottom
		border-radius $border-radius

		h2
			float left
			width 236px
			padding 9px 10px 6px 10px
			margin 0 0 22px 0
			font-weight 400
			font-size 24px
			line-height 24px
			color $white
			background $burgundy
			border $burgundy-border
			border-bottom $burgundy-border-bottom
			border-radius $border-radius
			text-align center
			text-shadow $burgundy-text-shadow

		.contact-container
			float left
			width 258px
			padding 0
			margin 0
			border none

			a
				float left
				width 100%
				padding 0
				margin 0 0 12px 0
				font-weight 400
				font-size 21px
				line-height 21px
				color $black
				text-align center
				text-shadow $card-text-shadow

			h4
				float left
				width 100%
				padding 0
				margin 5px 0 0 0
				font-weight 400
				font-size 19px
				line-height 28px
				color $grey
				text-align center

	.contact-form
		float left
		width 258px
		padding 24px 20px 18px 20px
		margin 0 0 20px 0
		background $grey
		border $grey-border
		border-bottom $grey-border-bottom
		border-radius $border-radius

		.row
			float left
			width 258px
			padding 0
			margin 0 0 10px 0

			input
				width 256px
				height 58px
				padding 2px 0 0 0
				margin 0
				font-weight 400
				font-size 25px
				line-height 25px
				color $black
				background $white
				border $input-border
				border-bottom $input-border-bottom
				border-radius $border-radius
				text-align center

			::-webkit-input-placeholder
				line-height: normal

			textarea
				float left
				width 236px
				height 80px
				padding 16px 10px 14px 10px
				margin 0
				font-weight 400
				font-size 25px
				line-height 30px
				color $black
				border $input-border
				border-bottom $input-border-bottom
				border-radius $border-radius
				text-align center

		.submit
			float left
			width 256px
			height 58px
			padding 0
			margin 0
			font-weight 400
			font-size 29px
			line-height 59px
			color $white
			background $burgundy
			border $burgundy-border
			border-bottom $burgundy-border-bottom
			border-radius $border-radius
			box-shadow none
			text-align center
			text-shadow $burgundy-text-shadow
			vertical-align middle
			user-select none
			cursor pointer

	.card-confirmation
		float left
		width 256px
		padding 0
		margin 0
		border $border
		border-bottom 3px solid $grey-border
		border-radius $border-radius

		h1
			float left
			width 100%
			padding 0
			margin 0 0 20px 0
			font-size 24px
			text-align center

		h2
			float left
			width 100%
			padding 0
			margin 0 0 15px 0
			font-size 18px
			font-weight 400
			text-align center

		p
			float left
			width 100%
			margin 0
			font-size 14px
			font-weight 200
			text-align center

.map
	float left
	width 298px
	height 298px
	padding 0
	margin 0 0 35px 10px
	background $grey
	border $input-border
	border-bottom $input-border-bottom
	border-radius $border-radius

	#map_canvas
		border-radius $border-radius

		ui-gmap-google-map
		.angular-google-map-container
			border-radius $border-radius
