.contact-holder
    float left
    width 460px
    padding 0
    margin 50px 20px 0 30px

    .contact-detail
        float left
        width  428px
        padding 20px 0 20px 30px
        margin 0 20px 20px 0
        border $border
        background $background-texture

        h2
            float left
            width 398px
            padding 10px 0
            margin 0 0 10px 0
            font-size 26px
            text-align center

        .contact-container
            float left
            width 398px
            padding 0
            margin 0

            p
                float left
                width 60px
                font-size 16px
                font-weight 400
                line-height 24px

            h2
                float left
                width 100%
                font-size 16px
                font-weight 400
                line-height 24px
                text-align left

            h3
                float left
                width 338px
                padding 0
                margin 0
                font-weight 400
                font-size 16px
                line-height 24px
                //text-align center



    .contact-form
        float left
        width 428px
        padding 38px 0 20px 30px
        margin 0 20px 20px 0
        border $border
        background $background-texture

        .row
            float left
            width 398px
            padding 0
            margin 0 0 20px 0

            input
                width 396px
                height 60px
                padding 0
                margin 0
                font-size 18px
                line-height 18px
                text-align center
                border $border

            textarea
                float left
                width 396px
                height 60px
                padding 10px 0
                margin 0
                font-size 18px
                text-align center
                line-height 62px
                border $border

        .submit
            float left
            width 398px
            height 52px
            padding 0
            margin 0
            font-weight 600
            font-size 24px
            line-height 54px
            color $white
            background $burgundy
            background-repeat repeat-x;
            border $border
            border-radius 4px
            box-shadow none
            box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
            box-shadow 1px 1px 4px #aaa
            text-align center
            text-shadow $dark-shadow
            vertical-align middle;
            user-select none
            cursor pointer

        .card-confirmation
            float left
            width 466px
            padding 0
            margin 0

            h1
                float left
                width 436px
                padding 0
                margin 0 0 20px 0
                font-size 24px
                text-align center

            h2
                float left
                width 100%
                padding 0
                margin 0 0 15px 0
                font-size 18px
                font-weight 400
                text-align center

            p
                float left
                width 100%
                margin 0
                font-size 14px
                font-weight 200
                text-align center

.map
    float left
    width 458px
    height 720px
    padding 0
    margin 50px 0 0 0
    border $border
    background #ccc
