.contact-holder
    width 460px
    margin 0 20px 0 30px

    .contact-detail
        width  378px
        padding 30px 40px 34px 40px
        margin 0 20px 20px 0

        h2
            width 378px
            margin 0 0 22px 0
            font-weight 500
            font-size 33px
            line-height 33px

        .contact-container
            width 378px

            p
                margin 0 0 14px 0
                font-size 16px
                line-height 16px

            a
                width 378px
                margin 0 0 20px 0
                font-weight 500
                font-size 27px
                line-height 27px

            h4
                width 398px
                margin 8px 0 0 0
                font-size 21px
                line-height 30px

    .contact-form
        width 428px
        padding 38px 0 30px 30px
        margin 0 20px 20px 0

        .row
            width 398px
            margin 0 0 20px 0

            input
                width 396px
                height 58px
                padding 8px 0 0 0
                font-size 25px
                line-height 25px

            textarea
                width 356px
                height 120px
                padding 18px 20px
                font-size 25px
                line-height 29px

        .submit
            width 398px
            height 68px
            font-size 31px
            line-height 70px

        .card-confirmation
            width 466px

            h1
                width 436px
                margin 0 0 20px 0
                font-size 24px

            h2
                margin 0 0 15px 0
                font-size 18px

            p
                font-size 14px

.map
    width 488px
    height 900px
    margin 0 0 40px 0