.contact-holder
    float left
    width 460px
    padding 0
    margin 50px 20px 0 30px

    .contact-detail
        float left
        width  378px
        padding 20px 40px 20px 40px
        margin 0 20px 20px 0
        border $border
        border-bottom 4px solid #333
        background $background-texture
        border-radius 0 0 8px 8px

        h2
            float left
            width 378px
            padding 10px 0
            margin 0 0 18px 0
            font-size 33px
            line-height 43px
            text-align center

        .contact-container
            float left
            width 378px
            padding 0
            margin 0

            p
                float left
                width 100%
                margin 0 0 14px 0
                font-size 16px
                line-height 16px
                font-weight 400
                text-align center

            h3
                float left
                width 378px
                padding 0
                margin 0 0 12px 0
                font-weight 600
                font-size 25px
                line-height 25px
                color $burgundy
                text-align center
                text-shadow $white-shadow

            h4
                float left
                width 398px
                padding 0
                margin 18px 0 12px 0
                font-weight 500
                font-size 19px
                line-height 30px
                text-align center

    .contact-form
        float left
        width 428px
        padding 38px 0 30px 30px
        margin 0 20px 20px 0
        background $background-texture
        border $border
        border-bottom 4px solid #333
        border-radius 0 0 8px 8px

        .row
            float left
            width 398px
            padding 0
            margin 0 0 20px 0

            input
                width 396px
                height 64px
                padding 4px 0 0 0
                margin 0
                font-size 23px
                line-height 23px
                text-align center
                border $border

            textarea
                float left
                width 396px
                height 90px
                padding 10px 0
                margin 0
                font-size 23px
                line-height 29px
                border $border
                text-align center

        .submit
            float left
            width 398px
            height 68px
            padding 0
            margin 0
            font-style italic
            font-weight 600
            font-size 31px
            line-height 70px
            color $white
            background $burgundy
            background-repeat repeat-x;
            border none
            border $border-black
            border-radius 4px
            box-shadow none
            box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
            box-shadow 1px 1px 4px #aaa
            text-align center
            text-shadow $dark-shadow
            vertical-align middle;
            user-select none
            cursor pointer

        .card-confirmation
            float left
            width 466px
            padding 0
            margin 0

            h1
                float left
                width 436px
                padding 0
                margin 0 0 20px 0
                font-size 24px
                text-align center

            h2
                float left
                width 100%
                padding 0
                margin 0 0 15px 0
                font-size 18px
                font-weight 400
                text-align center

            p
                float left
                width 100%
                margin 0
                font-size 14px
                font-weight 200
                text-align center

.map
    float left
    width 458px
    height 800px
    padding 0
    margin 50px 0 0 0
    border $border
    background #ccc
    border-bottom 4px solid #333
    border-radius 0 0 8px 8px