.content
	float left
	width 1020px
	padding 0

	.panel
		float left
		width 448px
		padding 30px 0 20px 40px
		margin 0 20px 14px 0
		background $card
		border $border
		cursor pointer

		.fields
			float left
			width 448px
			padding 0

			h6
				float left
				width 100%
				padding 0
				margin 0 0 12px 0
				font-weight 400
				font-size 20px
				line-height 20px
				color $black
				text-align center
				text-shadow $card-text-shadow

			input
				float left
				// width 368px
				height 56px
				padding 0
				margin 0 0 34px 0
				border $border
				font-size 25px
				line-height 25px
				color $black
				text-align center

			.full
				float left
				width 408px

				input
					width 376px
					padding 4px 0 0 30px

			.half
				float left
				width 222px
				padding 0
				margin 0
				background #f2f

				h6
					width 202px

				input
					width 172px
					padding 4px 0 0 20px

		.logo
			float left
			width 408px
			padding 0
			margin 0

			.image
				float left
				width 406px
				margin 0
				background $white
				border $border

			.thumb-image
				float left
				width 406px

				img
					float left
					width 100%