.lists
    width 1020px
    margin 0 0 30px 0

    .list
        width 428px
        padding 26px 30px 10px 30px
        margin 0 20px 14px 0

        .image
            width 428px
            margin 0 0 26px 0

            .thumb-image
                width 428px
                min-height 80px

        .information
            width 428px

            h3
                width 408px
                height 33px
                padding 4px 10px 8px 10px
                margin 0 0 14px 0
                font-size 28px
                line-height 33px

            h5
                width 428px
                margin 0 0 12px 0
                font-size 22px
                line-height 22px

    .item
        width 938px
        padding 30px 20px 10px 40px
        margin 0 20px 14px 0

        .image
            width 918px
            margin 0 0 46px 0

            .tag-holder
                width 868px

                .tag
                    width 48px
                    height 48px
                    margin 0 6px 0 0

                    .fa-pencil
                        width 48px
                        height 48px
                        font-size 25px
                        line-height 50px

                    .file-upload
                        width 48px
                        height 48px

                .tag.save
                    background $burgundy

                    .fa-cloud
                        width 48px
                        height 48px
                        font-size 21px
                        line-height 50px

            .thumb-image
                width 916px
                min-height 80px

        .information
            width 938px

            .h3
                width 426px
                height 33px
                padding 4px 10px 4px 10px
                margin 0
                font-size 28px
                line-height 33px

            h5
                width 448px
                margin 0 0 14px 0
                font-size 22px
                line-height 22px

            .full
                width 448px
                margin 0 20px 38px 0

        .submit
            width 916px
            padding 16px 0 14px 0
            margin 0 0 30px 0
            font-size 29px
            line-height 29px