.card-member
	width 898px
	padding 30px 0 0 0
	margin 0 0 12px 50px
	border-radius $border-radius

	.member
		width 848px
		padding 0 0 20px 50px

		.member-brand
			width 318px
			margin 0 0 0 30px

		.member-content
			width 440px
			margin 20px 0 0 0

			.row
				margin 0 0 0 0

				h4
					font-size 20px
					line-height 27px

				.left
					width 100px
					margin 0 10px 12px 0

					h4
						text-align right

				.right
					width 100px
					margin 0 10px 12px 0

				.left.small
					width 100px
					margin 0 10px 12px 0

				.right.small
					width 300px
					margin 0 0 12px 0

				.left.middle
					width 100px
					margin 0 10px 12px 0

				.right.middle
					width 100px
					margin 0 10px 12px 0

	.disclaimer
		width 778px
		padding 30px 60px 20px 60px

		p
			width 778px
			margin 0 0 14px 0
			font-size 17px
			line-height 26px

		a
			font-size 21px
			line-height 21px

		.brand
			width 180px
			margin 0 30px 10px 0

			img
				width 180px

.card
	width 454px
	padding 38px 0px 22px 54px
	margin 0 0 12px 0

	.card-logo
		width 56px
		margin 210px 0 0 330px

	.card-content
		width 344px

		h1
			margin 0 0 14px 0
			font-size 41px
			line-height 41px

		.company
			margin 0 0 38px 0

			h5
				font-size 24px
				line-height 23px

			span
				margin 0 12px
				font-size 23px
				line-height 23px

		.patient-holder
			width 100%

			h6
				width 340px
				margin 0 0 32px 0
				font-size 31px
				line-height 31px

			.row
				margin 0 0 12px 0

				h6
					width 106px
					font-size 15px
					line-height 15px