.card-member
	width 940px
	padding 0 0 0 0
	margin 0 0 18px 20px

	.member
		width 420px
		padding 10px 30px 40px 30px

		.member-brand
			width 380px
			margin 0 0 20px 20px

		.member-content
			width 380px
			margin 20px 0 0 40px

			.row
				margin 0

				h4
					font-size 22px
					line-height 28px

				.left
					width 170px
					margin 0 0 12px 0

				.right
					width 210px
					margin 0 0 12px 0

	.disclaimer
		width 378px
		padding 10px 40px 16px 40px
		border-top none
		border-left 2px dotted #999

		p
			width 378px
			margin 0 0 18px 0
			font-size 18px
			line-height 29px

		a
			font-size 18px
			line-height 29px

		.brand
			width 280px
			margin 0 30px 20px 50px

			img
				width 280px

.card
	width 434px
	padding 32px 0px 20px 54px
	margin 10px 0 14px 0

	.card-content
		width 444px

		h1
			width 324px
			margin 0 0 12px 0
			font-size 35px
			line-height 35px

		.company
			width 324px
			margin 0 0 34px 0

			h5
				font-size 25px
				line-height 25px

			span
				margin 0 8px
				font-size 27px
				line-height 27px

		.patient-holder
			width 100%

			h6
				width 100%
				margin 0 0 32px 0
				font-size 30px
				line-height 30px

			.row-holder
				float left
				width 290px
				padding 0
				margin 0

				.row
					margin 0 0 12px 0

					h6
						width 104px
						font-size 16px
						line-height 16px
						
			.lines
				width 74px
				margin 4px 0 0 0