.card-member
	width 898px
	padding 30px 0 0 0
	margin 0 0 12px 50px
	border-radius $border-radius

	.member
		width 848px
		padding 0 0 20px 50px

		.member-brand
			width 318px
			margin 0 0 0 30px

		.member-content
			width 440px
			margin 20px 0 0 0

			.row
				margin 0 0 0 0

				h4
					font-size 20px
					line-height 27px

				.left
					width 100px
					margin 0 10px 12px 0

					h4
						text-align right

				.right
					width 100px
					margin 0 10px 12px 0

				.left.small
					width 100px
					margin 0 10px 12px 0

				.right.small
					width 300px
					margin 0 0 12px 0

				.left.middle
					width 100px
					margin 0 10px 12px 0

				.right.middle
					width 100px
					margin 0 10px 12px 0

	.disclaimer
		width 778px
		padding 30px 60px 20px 60px

		p
			width 778px
			margin 0 0 14px 0
			font-size 17px
			line-height 26px

		a
			font-size 21px
			line-height 21px

		.brand
			width 180px
			margin 0 30px 10px 0

			img
				width 180px

.card
	width 464px
	padding 34px 0px 24px 44px
	margin 0 0 12px 0

	.card-logo
		width 110px
		margin 130px 0 0 300px

	.card-content
		width 344px

		h1
			margin 0 0 14px 0
			font-size 37px
			line-height 37px

		.company
			margin 0 0 36px 0

			h5
				font-weight 400
				font-size 25px
				line-height 25px

			span
				margin 0 10px
				font-size 22px
				line-height 25px

		.patient-holder
			width 100%

			p
				width 340px
				margin 0 0 38px 0
				font-weight 400
				font-size 29px
				line-height 29px

			.row
				margin 0 0 10px 0

				h6
					width 110px
					font-size 15px
					line-height 15px