.contact-holder
    float left
    width 978px
    padding 20px 0 20px 20px
    margin 30px 0 0 0

    h1
        float left
        width 100%
        padding 0
        margin 0 0 10px 0
        font-size 18px
        font-weight 400
    .contact-container
        float left
        width 978px
        padding 0
        margin 0 0 20px 0

        .contact-detail
            float left
            width  466px
            padding 10px 0 10px 10px
            margin 0 20px 20px 0
            border $border

            h2
                float left
                width 100%
                padding 0
                margin 0 0 10px 0
                font-size 14px

            .address
                float left
                width 130px
                padding 0
                margin 0

                p
                    float left
                    width 100%
                    padding 0
                    margin 0
                    font-size 14px
                    line-height 18px
                    font-weight 400

            .contact-information
                float left
                width 206px
                padding 0
                margin 0
                //background #def
                h3
                    float left
                    width 100%
                    padding 0
                    margin 0
                    font-size 12px
                    line-height 18px
                    font-weight 400

            .logo
                float left
                width 120px
                border $border
                p
                    float left
                    width 100%
                    padding 20px 0 20px 0
                    margin 0
                    text-align center
                    font-size 14px
                    font-weight 400

        .contact-form
            float left
            width 420px
            //height 150px
            padding 20px 0 10px 20px
            margin 0
            border $border

            .row
                float left
                width 100%
                padding 0
                margin 0

                .column
                    float left
                    width 148px
                    padding 0
                    margin 0 40px 20px 0
                    border $border

                    p
                        float right
                        width 100%
                        padding 0
                        margin 0
                        font-size 14px

            .message
                float left
                width 400px
                height 80px
                padding 0
                margin 0 0 10px 0
                border $border

            p
                float right
                width 110px
                padding 0
                margin 0
                font-size 14px
    .map
        float left
        width 956px
        height 420px
        padding 0
        margin 0
        border $border
