.contact-holder
    float left
    width 978px
    padding 20px 0 20px 20px
    margin 30px 0 0 0

    .contact-detail
        float left
        width  428px
        padding 20px 0 20px 30px
        margin 0 20px 0 0
        border $border
        background $background-texture
        h2
            float left
            width 200px
            padding 0
            margin 0 0 10px 0
            font-size 18px

        .contact-container
            float left
            width 428px
            padding 0
            margin 0

            .address
                float left
                width 130px
                padding 0
                margin 0

                p
                    float left
                    width 150px
                    padding 0
                    margin 0
                    font-size 14px
                    font-weight 200
                    line-height 22px
                    font-weight 400

            .contact-information
                float left
                width 268px
                padding 0
                margin 0
                //background #def
                h3
                    float left
                    width 100%
                    padding 0
                    margin 0
                    font-size 16px
                    font-weight 300
                    line-height 22px
                    font-weight 400

    .contact-form
        float left
        width 466px
        //height 220px
        padding 30px 0 20px 30px
        margin 0 0 20px 0
        border $border
        background $background-texture

        .half
            float left
            width 208px
            padding 0
            margin 0 20px 20px 0
            //background #ff9
            //border $border
            input
                float left
                width 198px
                height 40px
                padding 0
                margin 0
                font-size 18px
                text-align center
                border $border
        .full
            float left
            width 436px
            padding 0
            margin 0 0 20px 0

            input
                width 424px
                height 40px
                padding 0
                margin 0
                font-size 18px
                text-align center
                border $border

            textarea
                float left
                width 426px
                height 60px
                padding 10px 0
                margin 0
                font-size 18px
                text-align center
                line-height 62px
                border $border

        .button-holder
            float left
            width 466px
            margin 0

            .submit
                float left
                width 426px
                height 62px
                padding 0
                margin 0
                font-weight 600
                font-size 27px
                line-height 59px
                color $white
                background $burgundy
                background-repeat repeat-x;
                border $border
                border-radius 4px
                box-shadow none
                box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
                box-shadow 1px 1px 4px #aaa
                text-align center
                text-shadow $dark-shadow
                vertical-align middle;
                user-select none
                cursor pointer



        .card-confirmation
            float left
            width 466px
            padding 0
            margin 0

            h1
                float left
                width 436px
                padding 0
                margin 0 0 20px 0
                font-size 24px
                text-align center

            h2
                float left
                width 100%
                padding 0
                margin 0 0 15px 0
                font-size 18px
                font-weight 400
                text-align center

            p
                float left
                width 100%
                margin 0
                font-size 14px
                font-weight 200
                text-align center

    .map
        float left
        width 956px
        height 420px
        padding 0
        margin 0
        border $border
