footer
    height 82px

    .footer
        width 960px
        height 82px

        .link
            margin 0

            p
                font-size 19px
                line-height 28px

        .link.email
            margin 14px 70px 0 30px

        .link.phone
            margin 14px 170px 0 0

        .link.privacy
            margin 14px 40px 0 0

        .link.terms
            margin 14px 0 0 0

        .legal
            width 320px