footer
    height 72px

    .footer
        width 920px
        height 72px

        .link
            margin 10px 60px 0 0

            h4
                font-size 20px
                line-height 26px

        .link.email
            margin 10px 70px 0 30px

        .link.phone
            margin 10px 190px 0 0

        .link.terms
            margin 10px 0 0 0