header
	margin 0 0 60px 0
	height 120px

	.header
		width 1024px

		.brand
			width 270px
			padding 0
			margin 12px 24px 0 29px

			.logo
				width 260px
				margin 0

		nav
			width 700px
			height 76px
			margin 44px 0 0 0

			.tile
				height 75px
				padding 0 24px

				h4
					margin 13px 0 0 0
					font-size 20px
					line-height 25px

			.tile.active
				height 76px