header
	float left
	width 100%
	top 0
	padding 0
	margin 0
	background $background-texture
	border-bottom 1px solid #333

	.header
		position relative
		width 1000px
		height 78px
		padding 0
		margin 0 auto

		.brand
			float left
			width 250px
			height 78px
			padding 0
			margin 0
			// background #fff

			.logo
				display none
				float left
				width 250px
				height 78px
				padding 0
				margin 0
				font-size 14px
				line-height 50px
				// background #fff
				text-align center

		nav
			float left
			width 749px
			height 78px
			padding 0
			margin 0
			border-right 1px solid #333

			.tile
				float right
				height 78px
				padding 0 32px 0 32px
				margin 0
				background $burgundy
				border-left 1px solid #333

				h4
					float left
					padding 0
					margin 20px 0 0 0
					font-weight 600
					font-size 17px
					line-height 22px
					color $white
					text-align center
					text-shadow $shadow

			.tile.active
				height 79px
				background #838383
				border-left 1px solid #333