header
	margin 0 0 40px 0

	.header
		width 1020px

		.brand
			width 330px
			height 78px
			margin 0

			.logo
				width 330px
				height 78px
				margin 0

		nav
			width 689px
			height 79px
			margin 20px 0 0 0

			.tile
				height 78px
				padding 0 30px 0 30px

				h4
					margin 19px 0 0 0
					font-weight 500
					font-size 20px
					line-height 24px

			.tile.active
				height 79px