.page
	float left
	width 100%
	padding 0
	margin 0

	.content-holder
		position relative
		width 1000px
		margin 0 auto

        .content
			float left
			width 998px
			margin 0
			padding 0
			border $border
			border-top none
			border-bottom none
			background #f1f1f1

			.main
				float left
				width 460px
				padding 0
				margin 60px 0 50px 70px

				.rx-card
					float left
					width 418px
					height 260px
					padding 0
					margin 0 0 18px 0
					background $white
					border $border
					border-radius 8px

				.rx-card-download
					float left
					width 460px
					padding 0
					margin 0

					.column
						float left
						width 97px
						padding 0
						margin 0 8px 0 0
						background $burgundy
						border $border
						border-radius 4px

						h4
							float left
							width 100%
							padding 14px 0 12px 0
							margin 0
							color $white
							font-size 18px
							line-height 18px
							text-align center
							text-shadow $shadow

			.points
				float left
				width 388px
				height 320px
				padding 0 40px 0 40px
				margin 70px 0 50px 0

				.point
					float left
					width 100%
					padding 0
					margin 0 0 28px 0

					.number
						float left
						width 60px
						height 60px
						padding 0
						margin 0 30px 0 0
						background $burgundy
						border-radius 1000px

						h1
							float left
							width 60px
							padding 0
							margin 0
							font-size 25px
							line-height 60px
							color $white
							text-align center
							text-shadow $shadow

					.text
						float left
						width 298px
						padding 0
						margin 0
						border none

						h3
							float left
							width 100%
							padding 0
							margin 0
							font-weight 400
							font-size 29px
							line-height 37px
							text-align left




			.center
				float left
				width 1000px

				.center-holder
					float left
					width 1000px
					height 300px
					margin 0 0 50px 0
					border $border
					border-left none
					border-right none

					h3
						float left
						width 100%
						padding 0
						margin 0
						font-size  22px
						text-align center
						font-weight 400
						line-height 300px

			.bottom
				position relative
				width 1000px
				margin 0 auto

				.bottom-holder
					float left
					width 980px
					padding 0
					margin 0 0 0 20px

					.price-holder
						float left
						width 154px
						//height 150px
						padding 20px 10px 0 10px
						margin 0 20px 50px 0
						border $border
						p
							float left
							width 100%
							padding 0
							margin 0 0 20px 0
							font-size 12px
							text-align center
						h2
							float left
							width 100%
							padding 0
							font-size 12px
							margin 0 0 10px 0
							text-align center
						h3
							float left
							width 100%
							padding 0
							margin 0 0 10px 0
							font-size 10px
							text-align center
