.card
	width 400px
	padding 32px 0px 22px 48px
	margin 0 0 14px 0

	.card-logo
		width 90px
		margin 90px 0 0 280px

	.card-content
		width 344px

		h1
			margin 0 0 12px 0
			font-size 39px
			line-height 39px

		.company
			margin 0 0 32px 0

			h5
				font-size 21px
				line-height 21px

			span
				margin 0 12px
				font-size 20px
				line-height 21px

		.patient-holder
			width 100%

			p
				width 300px
				margin 0 0 28px 0
				font-size 21px
				line-height 21px

			.row
				margin 0 0 14px 0

				h6
					width 82px
					font-size 11px
					line-height 11px

.page
	width 1000px

    .content
		width 1000px

		.main
			width 490px
			margin 0 0 50px 0

			.download
				width 478px
				margin 0 0 0 26px

				.tag
					width 86px
					padding 14px 0 10px 0
					margin 0 14px 0 0

					p
						margin 0
						font-weight 400
						font-size 18px
						line-height 18px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 34px
						font-size 28px

					.fa-mobile
						height 44px
						margin -10px 0 0 -12px
						font-size 45px

					.fa-send
						font-size 22px

					.fa-file-text
						font-size 24px

		.points
			width 480px
			margin 0

			.point-container
				width 480px
				margin 0 0 18px 0

				.point
					display inline-block

					.fa-certificate
						width 66px
						top -18px
						left -32px
						font-size 39px
						line-height 39px

					h3
						padding 12px 40px 26px 40px
						font-size 33px
						line-height 33px
						text-align left

						span
							padding 0 0 4px 0
							border-bottom 5px solid $yellow

		.center
			width 1000px
			margin 0 0 40px 0

			.fa-certificate
				width 30px
				margin -18px 0 0 920px
				font-size 39px

			h1
				width 880px
				padding 22px 0 18px 0
				margin 0 0 16px 60px
				font-size 31px
				line-height 31px
				text-align center

			.center-holder
				width 958px
				padding 34px 0 10px 40px

				.logo
					padding 0 30px 38px 30px
					margin 0

					img
						height 40px

		.locator
			width 1000px
			margin 0 0 30px 0

			h2
				width 280px
				margin 0 0 24px 10px
				font-size 31px
				line-height 37px

			.locator-zip
				width 300px
				padding 22px 40px 30px 40px
				margin 0 20px 20px 0

				h2
					width 280px
					margin 0 0 24px 10px

				input
					width 158px
					height 48px
					margin 0 20px 0 0
					font-size 23px
					line-height 23px

				.submit
					width 120px
					height 52px
					font-size 23px
					line-height 49px

			.locator-state
				width 520px
				padding 22px 40px 30px 40px
				margin 0 0 20px 0

				h2
					width 320px
					margin 0 0 24px 100px
					font-size 31px
					line-height 37px

				select
					width 178px
					height 52px
					padding 2px 0 0 20px
					margin 0 20px 0 0
					font-size 23px
					line-height 23px

				.submit
					width 120px
					height 52px
					font-size 23px
					line-height 49px

			.locator-results
				width 1000px
				padding 28px 0 40px 0
				margin 0 0 30px 0
				border-radius 12px

				h2
					width 100%
					margin 0 0 24px 0
					font-size 37px
					line-height 46px

				.locator-results-content
					width 800px
					margin 0 100px

					.row-container
						border-bottom $black-border

						p
							font-size 20px
							line-height 29px

						.pharmacy
							width 620px
							padding 16px 90px 16px 90px

						.address
							width 620px
							padding 16px 90px 16px 90px

						.phone
							width 620px
							padding 16px 90px 16px 90px

		.testimonals-holder
			width 1020px

			.testimonals
				width 1020px
				margin 0 0 60px 0

				.testimonal
					width 195px
					padding 28px 20px 28px 20px
					margin 0 20px 20px 0

					p
						margin 0 0 20px 0
						font-size 16px
						line-height 28px

					h2
						font-size 19px
						line-height 19px
						margin 0 0 12px 0

					h3
						font-size 16px
						line-height 16px
