.modal-holder
	width 380px
	margin 0 0 0 -190px

	.modal-container
		width 338px
		padding 18px 30px 14px 30px
		margin 22px 0 0 0

		.print
			width 338px

			img
				width 338px

		.fa-close
			width 20px
			margin 0 0 18px 158px
			font-size 19px
			line-height 19px

		.row
			width 338px

			input
				width 338px
				height 60px
				padding 2px 0 0 0
				margin 0 0 12px 0
				font-size 27px
				line-height 27px

		.submit
			width 338px
			padding 14px 0 10px 0
			margin 0 0 22px 0
			font-size 29px
			line-height 29px

		.submit.print
			margin 18px 0 26px 0

		.legal
			width 100%
			margin 10px 0 0 0

			p
				width 318px
				margin 0 0 20px 10px
				font-size 16px
				line-height 25px

			a
				margin 8px 0 0 0
				font-size 17px
				line-height 25px