.modal-holder
	position absolute
	width 380px
	margin 0 0 0 -200px
	top 30px
	left 50%
	z-index 99999

	.modal-container
		float left
		width 358px
		padding 26px 10px 36px 30px
		margin 0
		background $background-texture
		border $border-black
		border-radius 4px

		.fa-close
			float left
			width 20px
			padding 0
			margin 0 0 18px 158px
			font-weight 600
			font-size 19px
			color $grey
			text-align center
			text-shadow $white-shadow
			cursor pointer

		h1
			float left
			width 338px
			padding 0
			margin 0
			font-style italic
			font-weight 500
			font-size 31px
			line-height 31px
			text-align center

		h2
			float left
			width 338px
			padding 0 0 8px 0
			margin 8px 0 30px 0
			font-weight 700
			font-size 45px
			line-height 45px
			border-bottom 6px solid #999
			text-align center

		.row
			float left
			width 338px
			padding 0
			margin 0

			input
				float left
				width 336px
				height 52px
				padding 6px 0 0 0
				margin 0 0 14px 0
				font-weight 600
				font-size 24px
				line-height 24px
				text-align center
				border $border
				border-bottom 2px solid #333
				border-radius 8px

		.rx-card
			float left
			width 276px
			height 180px
			padding 24px 30px 30px 30px
			margin 0 0 8px 0
			background $card
			border-bottom 2px solid #333
			border-radius 8px

			.card-logo
				position absolute
				width 140px
				height 160px
				padding 0
				margin 30px 0 0 264px
				background none
				z-index 1

				img
					display none
					float left
					width 100%
					height 100%

			.card-content
				float left
				width 336px
				padding 0
				margin 0
				z-index 10

				.card-headline
					float left
					width 100%

					.company
						float left
						width 100%
						margin 0 0 20px 0

						h2
							float left
							width 100%
							margin 0 0 4px 0
							font-weight 600
							font-size 31px
							line-height 31px
							border none
							text-align left

						h5
							float left
							font-style italic
							font-weight 500
							font-size 19px
							line-height 21px
							color $black
							text-align left

						span
							float left
							margin 0 8px
							font-size 18px
							line-height 21px
							color $grey
							text-align left

					.patient-holder
						float left
						width 100%
						padding 0
						margin 0

						.row
							float left
							width 244px
							padding 0
							margin 0 0 10px 0

							h3
								float left
								width 300px
								margin 0 0 18px 0
								font-weight 500
								font-size 23px
								line-height 23px
								color $grey-light
								background none
								border none
								outline none
								text-align left

							h6
								float left
								width 82px
								padding 0
								margin 0
								font-weight 700
								font-size 10px
								line-height 10px
								color $grey
								text-shadow $white-shadow

		.submit
			float left
			width 338px
			padding 12px 0 10px 0
			margin 0 0 22px 0
			font-weight 600
			font-size 27px
			line-height 33px
			color $white
			background $header-tile
			border none
			outline none
			border-bottom 2px solid #333
			border-radius 8px
			box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
			box-shadow 1px 1px 4px #aaa
			text-align center
			text-shadow $shadow
			cursor pointer

		.legal
			float left
			width 100%

			p
				float left
				width 338px
				margin 18px 0 0 0
				font-weight 600
				font-size 15px
				line-height 26px
				color $grey
				text-align center
				text-shadow $white-shadow

			a
				display block
				float left
				width 100%
				padding 0
				margin 4px 0 0 0
				font-style italic
				font-size 18px
				line-height 18px
				color $black
				text-align center
				text-shadow $white-shadow