header
    .header
        .brand
            .logo
                img(ng-src='data:{{member.image.filetype}};base64,{{member.image.base64}}')
            .mobile-navigation(data-ng-click="openMemberdNavigation();")
                h5 Navigation
        nav.member
            .tile.last(ui-sref='member.testimonial', data-ng-class="{active: $state.includes('member.testimonial')}")
                h4 Client<br>Testimonials
            .tile(ui-sref='member.question', data-ng-class="{active: $state.includes('member.question')}")
                h4 Frequently<br>Asked Questions
            .tile.first(ui-sref='member.view', data-ng-class="{active: $state.includes('member.view')}")
                h4 Get Your Free<br>Savings Card

md-sidenav(md-component-id="memberNavigationPanel", class="md-sidenav-left md-closed")
    .side
        ul
            li.close
                .fa.fa-long-arrow-left(ng-click="closeMemberdNavigation();")
            li(ui-sref='member.view', data-ng-click='closeMemberdNavigation();', data-ng-class="{active: $state.includes('member.view')}")
                h4 Get Your Free<br>Savings Card

            li(ui-sref='member.question', data-ng-click='closeMemberdNavigation();', data-ng-class="{active: $state.includes('member.question')}")
                h4 Frequently<br>Asked Questions

            li(ui-sref='member.testimonial', data-ng-click='closeMemberdNavigation();', data-ng-class="{active: $state.includes('member.testimonial')}")
                h4 Client<br>Testimonials

#panel(ng-show='display')