header
    .header
        .brand
            .logo
        nav
            .tile(ui-sref='frontend.contact', data-ng-class="{active: $state.includes('frontend.contact')}")
                h4 About The<br>Company
            .tile(ui-sref='frontend.testimonial', data-ng-class="{active: $state.includes('frontendex.testimonial')}")
                h4 Client<br>Testimonials
            .tile(ui-sref='frontend.question', data-ng-class="{active: $state.includes('frontend.question')}")
                h4 Frequently<br>Asked Questions
            .tile(ui-sref='frontend.index', data-ng-class="{active: $state.includes('frontend.index')}")
                h4 Get Your Free<br>Savings Card
