header
    .header
        .brand
            .logo
                img(ng-src='/img/logo.png')
            .mobile-navigation(data-ng-click="openBackendNavigation();")
                h5 Navigation
        nav
            .tile.last(data-ng-click='logout();')
                h4 Logout
            .tile(ui-sref='backend.add', data-ng-class="{active: $state.includes('backend.add')}")
                h4 Add Account
            .tile.first(ui-sref='backend.list', data-ng-class="{active: $state.includes('backend.list')}")
                h4 Account List

md-sidenav(md-component-id="backendNavigationPanel", class="md-sidenav-left md-closed")
    .side
        ul
            li.close
                .fa.fa-long-arrow-left(ng-click="closeBackendNavigation();")
            li(ui-sref='backend.list', data-ng-click='closeBackendNavigation();', data-ng-class="{active: $state.includes('backend.list')}")
                h4 Account List

            li(ui-sref='backend.add', data-ng-click='closeBackendNavigation();', data-ng-class="{active: $state.includes('backend.add')}")
                h4 Add Account

            li(data-ng-click='logout();')
                h4 Logout

#panel(ng-show='display')