header
    .header
        .brand
            .logo
                .mobile-navigation-button(data-ng-click="open();")
                    h5 Navigation
        nav
            .tile(ui-sref='frontend.about', data-ng-class="{active: $state.includes('frontend.about')}")
                h4 About The<br>Company
            .tile(ui-sref='frontend.testimonial', data-ng-class="{active: $state.includes('frontend.testimonial')}")
                h4 Client<br>Testimonials
            .tile(ui-sref='frontend.question', data-ng-class="{active: $state.includes('frontend.question')}")
                h4 Frequently<br>Asked Questions
            .tile(ui-sref='frontend.index', data-ng-class="{active: $state.includes('frontend.index')}")
                h4 Get Your Free<br>Savings Card
                
//- md-sidenav(md-component-id="navigationPanel", class="md-sidenav-left md-closed")
//-     .side
//-         ul
//-             li.close
//-                 .fa.fa-long-arrow-left(ng-click="closeNavigation();")
//- 
//-             li(ui-sref="frontend.index.content", data-ng-click='closeNavigation();', data-ng-class="{active: $state.includes('frontend.index')}")
//-                 h4 Start
//-             li(ui-sref="frontend.inventory.list", data-ng-click='closeNavigation();', data-ng-class="{active: $state.includes('frontend.inventory.list') || $state.includes('frontend.inventory.view')}")
//-                 h4 Inventory
//-             li(ui-sref="frontend.financing", data-ng-click='closeNavigation();', data-ng-class="{active: $state.includes('frontend.financing')}")
//-                 h4 Financing
//-             li(ui-sref="frontend.promotion", data-ng-click='closeNavigation();', data-ng-class="{active: $state.includes('frontend.promotion')}")
//-                 h4 Promotions
//-             li(ui-sref="frontend.about", data-ng-click='closeNavigation();', data-ng-class="{active: $state.includes('frontend.about')}")
//-                 h4 About
//-             li(ui-sref="frontend.contact.content", data-ng-click='closeNavigation();', data-ng-class="{active:
//- $state.includes('frontend.contact')}")
//-                 h4 Contact
//-             li(ui-sref="frontend.privacy", data-ng-click='closeNavigation();', data-ng-class="{active: $state.includes('frontend.privacy')}")
//-                 h4 Privacy
//-             li(ui-sref="frontend.terms", data-ng-click='closeNavigation();', data-ng-class="{active: $state.includes('frontend.terms')}")
//-                 h4 Terms
//- 
//- #panel(ng-show='display')
