
<div class="modal-holder">
  <div class="modal-container">
    <div data-ng-click="close();" class="fa fa-close"></div>
    <div class="print"><img ng-src="{{member.file_url}}"/></div>
    <div data-ng-click="print();" class="submit print">Print Rx Card</div>
    <div class="card-modal">
      <div class="card-content">
        <h1>National Rx Card</h1>
        <div class="company">
          <h5>Free</h5><span>&bull;</span>
          <h5>Fast</h5><span>&bull;</span>
          <h5>Discounts</h5>
        </div>
        <div class="patient-holder">
          <h6>Preferred Client</h6>
          <div class="row-holder">
            <div class="row">
              <h6>BIN</h6>
              <h6 data-ng-bind="member.plan.bin"></h6>
            </div>
            <div class="row">
              <h6>PCN</h6>
              <h6 data-ng-bind="member.plan.pcn"></h6>
            </div>
            <div class="row">
              <h6>GROUP</h6>
              <h6 data-ng-bind="member.plan.group"></h6>
            </div>
            <div class="row">
              <h6>PATIENT</h6>
              <h6 data-ng-bind="member.plan.patient_id"></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="legal">
      <p>This is <b>NOT</b> insurance and is not a substitute for insurance. Discounts are available only at participating pharmacies. You pay 100% of the discount price at the pharmacy.</p>
      <p>NationalRxCard&#174; is administered by NationalRxCard, LLC, located at Park City, UT: <a href='mailto:info@nationalrxcard.com'>info@nationalrxcard.com</a></p>
    </div>
  </div>
</div>
<div id="panel" data-ng-show="display"></div>