.legal-container
    width 438px

    .legal
        width 358px
        padding 26px 40px 20px 40px

        h1
            font-size 33px
            line-height 33px
            margin 0 0 16px 0

        .title-container
            width 358px

            .title
                display: inline-block

                h3
                    padding 4px 20px 2px 20px
                    margin 14px 0 8px 0
                    font-size 25px
                    line-height 33px

        h4
            margin 0 0 26px 0
            font-size 16px
            line-height 16px
        p
            font-size 17px
            line-height 28px
            margin 0 0 14px 0