.modal-holder
	.modal-container
		.fa.fa-close(data-ng-click="close();")
		h2 Thank You For Using<br>The National RX Card.
		h3 For any questions and/or comements please contact us at <a href="mailto:info@nationalrxcard.com">info@nationalrxcard.com</a>

#panel(data-ng-show='display')