header
	margin 0 0 30px 0

	.header
		width 944px

		.brand
			width 254px
			margin 0 0 12px 20px

			.logo
				width 220px
				margin 6px 0 0 0

		.brand.rectangle
			width 413px
			padding 0
			margin 0

			.logo
				width 360px
				margin 6px 0 0 30px

		nav
			width 670px

			.tile-container
				width 670px
				margin 22px 0 0 0

				.tile
					position relative

					h4
						padding 7px 22px 7px 22px
						margin 0 6px
						font-size 19px
						line-height 23px

		nav.rectangle
			width 530px

			.tile-container
				width 530px
				margin 18px 0 10px 0