.card-discount
	width 608px
	margin 0 30px 22px 80px
	border-radius 4px

	img
		float left
		width 100%
		border none
		background none
		padding 0
		margin 0
		border-radius 4px 4px 4px 4px

.card-member
	width 500px
	padding 20px 0 0 0
	margin 10px 20px 0 40px

	.member
		width 460px
		padding 0 0 20px 40px

		.member-brand
			width 380px
			margin 0 0 20px 20px

		.member-content
			width 400px
			margin 10px 0 0 20px

			.row
				margin 0

				h4
					font-size 23px
					line-height 29px

				.left
					width 170px
					margin 0 0 12px 0

				.right
					width 180px
					margin 0 0 12px 0

			.row.hide
				display none

	.disclaimer
		width 480px
		padding 30px 0 20px 40px

		p
			width 420px
			margin 6px 0 14px 0
			font-size 19px
			line-height 30px

		a
			font-size 19px
			line-height 30px

		.brand
			width 320px
			margin 0 80px 20px 0

			img
				width 320px

.card
	width 548px
	padding 54px 0 22px 60px
	margin 0 30px 22px 80px

	.card-content
		width 480px

		h1
			width 340px
			margin 0 0 18px 0
			font-size 43px
			line-height 43px

		.company
			width 340px
			margin 0 0 28px 0

			p
				font-size 26px
				line-height 26px

			span
				padding 0
				margin 0 9px
				font-size 31px
				line-height 33px

		.patient-holder
			width 100%

			h6
				margin 0 0 46px 0
				font-size 43px
				line-height 43px

			.row-holder
				width 340px

				.row
					margin 0 0 17px 0

					h6
						width 124px
						font-size 19px
						line-height 19px

			.lines
				width 84px
				padding 0
				margin 14px 0 0 14px