footer
	.footer
		.logo
			img(ng-src='/img/logo.png')
		.link.email
			p Email Support
			a(ng-href="mailto:info@nationalrxcard.com") info@nationalrxcard.com
		.link.phone
			p Phone Support
			a(ng-href="tel:+1-855 525-6375") 1-855 525-6375

		.legal
			.link.privacy
				p(ui-sref='frontend.privacy') Privacy Policy
			.link.terms
				p(ui-sref='frontend.terms') Terms &amp; Conditions