
<div class="page">
  <div class="content-holder">
    <div class="content">
      <div class="faq-holder">
        <div class="input-holder">
          <div class="input-container">
            <h2>Ask Question:</h2>
            <input type="text"/>
          </div>
        </div>
        <div class="reset-holder">
          <div class="reset">
            <p>Reset <span class='fa fa-times'></span></p>
          </div>
        </div>
        <div class="answers-holder">
          <div ng-repeat="answer in answers" class="answer">
            <h2 ng-bind="::answer.title"></h2>
            <p ng-bind="::answer.content"></p>
            <div ng-repeat="keyword in answer.keywords" class="tag">
              <h5 ng-bind="::keyword.value"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>