
<section>
  <div class="page">
    <div class="content">
      <div class="content-holder">
        <div class="top-left">
          <div class="top-left-holder">
            <h2>PARTICIPATING PHARMACIES</h2>
          </div>
          <div class="top-bottom-holder">
            <div class="column">
              <h4>SAVE</h4>
            </div>
            <div class="column">
              <h4>TEXT</h4>
            </div>
            <div class="column">
              <h4>EMAIL</h4>
            </div>
            <div class="column"> 
              <h4>PRINT      </h4>
            </div>
          </div>
        </div>
        <div class="top-right">
          <div class="numbers">
            <div class="number">
              <p>1</p>
            </div>
            <div class="number">
              <p>2</p>
            </div>
            <div class="number">
              <p>3</p>
            </div>
          </div>
          <div class="subject">
            <div class="row-holder">
              <h3>PARTICIPATING PHARMACIES</h3>
            </div>
            <div class="row-holder">
              <h3>PARTICIPATING PHARMACIES</h3>
            </div>
            <div class="row-holder">
              <h3>PARTICIPATING PHARMACIES</h3>
            </div>
          </div>
        </div>
        <div class="center">
          <div class="center-holder">
            <div class="rows"></div>
          </div>
        </div>
        <div class="bottom"> 
          <div class="bottom-holder">
            <div class="price-holder">
              <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."               </p>
              <h2>Whisky John</h2>
              <h3>Victoria, Texas</h3>
            </div>
            <div class="price-holder">
              <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
              <h2>Whisky John</h2>
              <h3>Victoria, Texas</h3>
            </div>
            <div class="price-holder">
              <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
              <h2>Whisky John</h2>
              <h3>Victoria, Texas</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>