
<div class="columns">
  <div class="article-panel">
    <div class="article-content">
      <div class="article-side">
        <div class="article-detail">
          <div class="author-image"><img src="../img/img.png" alt=""/></div>
          <h4>Christopher Strauss-Khan</h4>
          <div class="twitter"><span class="fa fa-twitter"></span>
            <h5>@cris.strauss</h5>
          </div>
          <div class="tags"><span class="date">18/08/2015</span></div>
          <div class="social"><span class="fa fa-instagram"></span><span class="fa fa-facebook"></span><span class="fa fa-github"></span></div>
          <div class="comments">
            <div class="like"><span class="fa fa-heart"></span>
              <h6>2312</h6>
            </div>
            <div class="comment"><span class="fa fa-comments"></span>
              <h6>2424</h6>
            </div>
          </div>
          <div class="tags">
            <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span><span>PHYSICAL</span>
          </div>
          <div class="tags">
            <h5>Sub-Categories</h5><span>HEALTH</span><span>MENTAL</span><span>PHYSICAL</span>
          </div>
          <div class="tags">
            <h5>Tags</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span><span>PHYSICAL</span>
          </div>
        </div>
        <div class="article-ad">
          <h1>AD SPACE</h1>
        </div>
        <div class="article-ad">
          <h1>AD SPACE</h1>
        </div>
      </div>
      <div class="headline">
        <h1>So This Is How You Said It Would Be Done,<br>And Here Is Exactly Where We Do It</h1>
      </div>
      <div class="writing">
        <p>The police withdrawal at the station coincided with the start of a special parliamentary session to debate tightening migration laws and punishment for those caught trying to breach a 3.5-metre high fence Hungary is building on its border with Serbia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p>Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae, praesentium cumque deserunt maiores perferendis ratione, placeat voluptas aliquam ea dicta eveniet numquam accusamus odio quo.animi mollitia sequi repudiandae officiis voluptate reiciendis earum accusantium debitis placeat. Impedit fugit exercitationem itaque, delectus consectetur dolores nulla.</p>
        <p>Raesentium cumque deserunt maiores perferendis ratione, placeat voluptas aliquam ea dicta eveniet numquam accusamus odio quo.animi mollitia sequi repudiandae officiis voluptate reiciendis earum accusantium debitis placeat. Impedit fugit exercitationem itaque, delectus consectetur dolores nulla.</p>
        <div class="video">
          <iframe src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1" alt=""></iframe>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae.</p>
        <div class="picture"><img src="../../../img/article.jpg" alt=""/></div>
        <p>Raesentium cumque deserunt maiores perferendis ratione, placeat voluptas aliquam ea dicta eveniet numquam accusamus odio quo.animi mollitia sequi repudiandae officiis voluptate reiciendis earum accusantium debitis placeat. Impedit fugit exercitationem itaque, delectus consectetur dolores nulla.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae.</p>
        <h3>"So we started out just kind of by the seat of our pants trying stuff to see how easy it was for people to entertain themselves"</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iusto ab eum eligendi culpa sit ipsa veritatis ea, doloremque quis ratione Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae maiores deserunt illum dicta ex laudantium autem cupiditate saepe. Veniam reiciendis eius iusto perspiciatis molestiae.</p>
        <p>Raesentium cumque deserunt maiores perferendis ratione, placeat voluptas aliquam ea dicta eveniet numquam accusamus odio quo.animi mollitia sequi repudiandae officiis voluptate reiciendis earum accusantium debitis placeat. Impedit fugit exercitationem itaque, delectus consectetur dolores nulla.</p>
      </div>
      <div class="article-ad">
        <h1>AD SPACE</h1>
      </div>
      <div class="interview">
        <h2>Interview With <i>Antonio Banderas</i></h2>
        <h4>Brother Brother</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi blanditiis sit tempore, voluptates illo incidunt. Itaque error quaerat, doloremque inventore eaque autem sequi, a. Voluptate odit alias placeat illo, rerum fuga qui minus quia laboriosam voluptatibus, rem et dolores corporis. ipsum dolor sit amet, consectetur adipisicing elit. Odit minus nihil non adipisci, doloribus corrupti."</p>
        <h4>Antonio Banderas</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia non totam, sed deserunt recusandae repellat labore vitae, porro sunt incidunt unde quo minus ipsum natus, tenetur ea culpa dolor quis sapiente adipisci perspiciatis nulla distinctio. Enim ipsum optio autem, eum?"</p>
        <h4>Brother Brother</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi blanditiis sit tempore, voluptates illo incidunt. Itaque error quaerat, doloremque inventore eaque autem sequi, a."</p>
        <h4>Antonio Banderas</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia non totam, sed deserunt recusandae repellat labore vitae, porro sunt incidunt unde quo minus ipsum natus, tenetur ea culpa dolor quis sapiente adipisci perspiciatis nulla distinctio. Enim ipsum optio autem, eum? ipsum dolor sit amet, consectetur adipisicing elit. Odit minus nihil non adipisci, doloribus corrupti."</p>
      </div>
    </div>
  </div>
</div>