
<div class="page">
  <div class="content-holder">
    <div class="content">
      <div class="contact-holder">
        <h1>CONTACT US</h1>
        <div class="contact-container">
          <div class="contact-detail">
            <H2>NATIONAL RX</H2>
            <div class="address">
              <p>Interface Agency<br> 13 Munch Place<br> Toronto,L9T8K6</p>
            </div>
            <div class="contact-information">
              <h3>6476085645</h3>
              <h3>9057877575</h3>
              <h3>manish.dutta@Interfaceagency.com</h3>
            </div>
            <div class="logo">
              <p>logo</p>
            </div>
          </div>
          <div class="contact-form">
            <div class="row">
              <div class="column">
                <p>Name:</p>
              </div>
              <div class="column">
                <p>Company:</p>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <p>Email:</p>
              </div>
              <div class="column">
                <p>Phone No:</p>
              </div>
            </div>
            <div class="message"></div>
            <p>send message</p>
          </div>
        </div>
        <div class="map">
          <div id="map_canvas">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
              <ui-gmap-marker coords="marker.coords" options="marker.options" icon="marker.options.icon" idkey="marker.id"></ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>