
<div class="columns">
  <div class="column-four">
    <div class="contact-holder">
      <h1>London</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nesciunt, culpa, at perspiciatis ex.</p>
      <div class="contact">
        <h5 class="phone">(647) 534-3337</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org</h5>
      </div>
    </div>
    <div class="map">
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" icon="marker.options.icon" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
  <div class="column-four">
    <div class="contact-holder">
      <h1>Moscow</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident nesciunt, culpa, at perspiciatis ex.</p>
      <div class="contact">
        <h5 class="phone">(647) 534-3337</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org</h5>
      </div>
    </div>
    <div class="map">
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" icon="marker.options.icon" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
  <div class="column-four">
    <div class="contact-holder">
      <h1>New York</h1>
      <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit. Provident nesciunt, culpa, at perspiciatis ex.</p>
      <div class="contact">
        <h5 class="phone">(647) 534-3337</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org</h5>
      </div>
    </div>
    <div class="map">
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" icon="marker.options.icon" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
  <div class="column-four">
    <div class="contact-holder">
      <h1>Toronto</h1>
      <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit. Provident nesciunt, culpa, at perspiciatis ex.</p>
      <div class="contact">
        <h5 class="phone">(647) 534-3337</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org</h5>
        <p>Service</p>
        <h5>info@brotherbrother.org					</h5>
      </div>
    </div>
    <div class="map">
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" icon="marker.options.icon" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>