
<div class="page">
  <div class="content-holder">
    <div class="content">
      <div class="contact-holder">
        <div class="contact-detail">
          <H2>NATIONAL RX</H2>
          <div class="contact-container">
            <div class="address">
              <p>Interface Agency<br> 13 Munch Place<br> Toronto,L9T8K6</p>
            </div>
            <div class="contact-information">
              <h3>6476085645</h3>
              <h3>9057877575</h3>
              <h3>manish.dutta@Interfaceagency.com</h3>
            </div>
          </div>
        </div>
        <div data-ng-click="toggle();" ng-show="state" class="contact-form">
          <div class="half">
            <input type="text" placeholder="Name:"/>
          </div>
          <div class="half">
            <input type="text" placeholder="Phone:"/>
          </div>
          <div class="full">
            <input type="text" placeholder="email"/>
          </div>
          <div class="full">
            <textarea>Message</textarea>
          </div>
          <div class="button-holder">
            <button type="button" name="submit" class="submit">Submit</button>
          </div>
        </div>
        <div data-ng-click="toggle();" ng-show="!state" class="contact-form">
          <div class="card-confirmation">
            <h1>Thank You John for Using The National Rx Card</h1>
            <h2>Need Help? Have Questions?</h2>
            <p>1-800 808-1213</p>
          </div>
        </div>
      </div>
      <div class="map">
        <div id="map_canvas">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-marker coords="marker.coords" options="marker.options" icon="marker.options.icon" idkey="marker.id"></ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
  </div>
</div>