
<div class="page">
  <div class="content-holder">
    <div class="content">
      <div class="main">
        <div class="rx-card"></div>
        <div class="rx-card-download">
          <div class="column">
            <h4>Save</h4>
          </div>
          <div class="column">
            <h4>Text</h4>
          </div>
          <div class="column">
            <h4>Email</h4>
          </div>
          <div class="column">
            <h4>Print</h4>
          </div>
        </div>
      </div>
      <div class="points">
        <div class="point">
          <div class="number">
            <h1>1</h1>
          </div>
          <div class="text">
            <h3>Selling Point That Appeals First</h3>
          </div>
        </div>
        <div class="point">
          <div class="number">
            <h1>2</h1>
          </div>
          <div class="text">
            <h3>Selling Point That Appeals Second</h3>
          </div>
        </div>
        <div class="point">
          <div class="number">
            <h1>3</h1>
          </div>
          <div class="text">
            <h3>Selling Point That Appeals Third</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>