
<div class="page">
  <div class="content-holder">
    <div class="content">
      <div class="main">
        <div class="rx-card">
          <div class="card-headline">
            <div class="company">
              <h2>National RX Card</h2>
            </div>
            <div class="card-title">
              <p>CARD NUMBER</p>
            </div>
          </div>
          <div class="card-logo"></div>
          <div class="card-numbers">
            <div class="square">
              <p>3456</p>
            </div>
            <div class="square">
              <p>3456</p>
            </div>
            <div class="square">
              <p>3456</p>
            </div>
            <div class="square">
              <p>3456</p>
            </div>
          </div>
        </div>
        <div class="rx-card-download">
          <div class="column">
            <h4>Save</h4>
          </div>
          <div class="column">
            <h4>Text</h4>
          </div>
          <div class="column">
            <h4>Email</h4>
          </div>
          <div class="column">
            <h4>Print</h4>
          </div>
        </div>
      </div>
      <div class="points">
        <div class="point">
          <div class="number">
            <h1>1</h1>
          </div>
          <div class="text">
            <h3>Selling Point That Appeals First</h3>
          </div>
        </div>
        <div class="point">
          <div class="number">
            <h1>2</h1>
          </div>
          <div class="text">
            <h3>Selling Point That Appeals Second</h3>
          </div>
        </div>
        <div class="point">
          <div class="number">
            <h1>3</h1>
          </div>
          <div class="text">
            <h3>Selling Point That Appeals Third</h3>
          </div>
        </div>
      </div>
      <div class="center">
        <div class="center-holder"></div>
      </div>
      <div class="bottom">
        <div class="bottom-holder">
          <div class="price-holder">
            <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
            <h2>James Anderson</h2>
            <h3>Victoria, Texas</h3>
          </div>
          <div class="price-holder">
            <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
            <h2>James Anderson</h2>
            <h3>Victoria, Texas</h3>
          </div>
          <div class="price-holder">
            <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
            <h2>James Anderson</h2>
            <h3>Victoria, Texas</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>