
<div class="layout">
  <div class="article-content">
    <div class="interview">
      <h1>INTERVIEW WITH AUTHOR</h1>
      <h4>TEST ONE</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi blanditiis sit tempore, voluptates illo incidunt. Itaque error quaerat, doloremque inventore eaque autem sequi, a. Voluptate odit alias placeat illo, rerum fuga qui minus quia laboriosam voluptatibus, rem et dolores corporis. ipsum dolor sit amet, consectetur adipisicing elit. Odit minus nihil non adipisci, doloribus corrupti.</p>
      <div class="right">
        <h4>TEST TWO</h4>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia non totam, sed deserunt recusandae repellat labore vitae, porro sunt incidunt unde quo minus ipsum natus, tenetur ea culpa dolor quis sapiente adipisci perspiciatis nulla distinctio. Enim ipsum optio autem, eum? ipsum dolor sit amet, consectetur adipisicing elit. Odit minus nihil non adipisci, doloribus corrupti.</p>
    </div>
    <div class="article-side">
      <div class="author-image">
      </div>
      <h4>Author Name</h4>
      <h5>18/08/2015</h5>
      <div class="social"><span class="fa fa-facebook"></span><span class="fa fa-github"></span><span class="fa fa-twitter"></span><span class="fa fa-paper-plane"></span></div>
      <div class="categories">
        <h5>Categories</h5>
        <h6>Category 1</h6>
      </div>
      <div class="sub-categories">
        <h5>Sub-Categories</h5>
        <h6>Category 1</h6>
      </div>
    </div>
  </div>
</div>