
<div class="columns">
  <div class="column-one">
    <div class="legal">
      <h1>Policy</h1>
      <h4>Please Read Thoroughly</h4>
      <h2>Billing</h2>
      <p>Statements are issued by email on the 15th of each month. Minimum: 4 lessons per month per student. Payment will be accepted in cash, Chase quickpay, or Paypal.</p>
      <h2>Rates</h2>
      <p>Standard rates will appear on statements. Payments are to be made on the first lesson of every month. No credits or refunds will be given under any circumstances. Accounts will be subject to a $10 late fee received after the first lesson of the month.</p>
      <h2>Cancellations</h2>
      <p>24 hour Policy-Stundents are responsible for giving instructors 24 hours notice in</p>
      <p>the event of a cancellation, other than illness or emergency. Holidays: The studio does not does not follow the school calendar.  Lessons do take place during school breaks and most holidays unless notified by the instructor.  Bad Weather: Students are encouraged not to travel in icy conditions and should use good judgement in scheduling lessons on those days.</p>
      <h2>Lateness</h2>
      <p>Students are encouraged to be on time for lessons.  Instructors are not required to go over scheduled amounts of time in lieu of student lateness. In Lessons and In Studio lessons.  Lessons are considered cancelled by the student without notice should an instructor have to wait more than 10 minutes to begin an in-Lessons or in studio lesson. , unless due to illness or emergency.  An emergency is a situation over which the student has no control.  Instructors are required to to give the amount of their own late time as a courtesy in the amount of time missed as a result of their lateness,  At the discretion of the Instructor, lessons, in-Lessons or in-studio, will be discontinued by the studio for students who accumulate excessive cancellations or lateness.</p>
      <h2>First Lessons:</h2>
      <p>As a new student, the first lesson you schedule with your instructor is tentative pending receipt of your monthly payment to the studio.  Once your payment is received, the studio will call you to confirm the day and time of your first lesson.</p>
      <h2>Scheduling and makeups:</h2>
      <p>Students are entitled to makeup lessons with 24 hours notice of a cancellation to the instructor.  All lessons are scheduled directly through the instructor.  Makeups will be given during paid months only.  Makeups are done in addition to regular lesson, and may not be given in the place of regular lessons.  If makeups cannot be scheduled during the week they are cancelled, they may be given on Fifth Week Days (29th, 30th, and 31st of the month).  Fifth week days: Reseved for make ups only.  Students may schedule, as far in advance as they choose, a makeup lesson on the fifth day week.</p>
      <h2>Discontinuance of Lessons By The Studio</h2>
      <p>Babylon Village School of Music reserves the right to discontinue lessons at any time.  If in the professional opinion of the instructor, music instruction throughout the studio does not prove beneficial to the music education of the student, Babylon Village School of Music reserves the right to discontinue such instruction.  Discontinuation of Lessons By The Student-Students are asked to to give notice of discontinuance of lessons prior to the 1st of the month for the upcoming month to avoid being included in that months billing cycle.  If no notice of discontinuance is given prior to the 1st of the upcoming month, and the instructor shows for an assumed lesson, the student will be responsible for lesson without notice to the instructor.</p>
      <div class="download">
        <h4>Download<span class="fa fa-file-pdf-o"></span></h4>
      </div>
      <div class="legal-contact">
        <h2>LAWYERS</h2><span>Navpreet Singh</span><span>13 Munch Pl, Toronto Ontario</span>
        <h6>example@live.com</h6>
        <h6>(647)777-777</h6>
      </div>
    </div>
  </div>
</div>