
<div class="modal">
  <form name="loginForm" data-ng-submit="emailLogin(loginForm.$valid)" novalidate="novalidate" class="modal-holder">
    <h1>Member Login</h1>
    <div class="field">
      <h6>Email</h6>
      <input type="email" name="email" ng-model="email" placeholder="adam.carson@me.com" required="required"/>
      <div serverError="serverError" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched" class="errors modal">
        <div ng-message="required" class="error">
          <h5>Please enter your email</h5>
        </div>
        <div class="triangle"></div>
      </div>
    </div>
    <div class="field">
      <h6>Password</h6>
      <input type="password" name="password" ng-model="password" placeholder="••••••••" ng-minlength="8" ng-maxlength="8" required="required"/>
      <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched" class="errors modal">
        <div ng-message="required" class="error">
          <h5>Please enter your password</h5>
        </div>
        <div class="triangle"></div>
      </div>
    </div>
    <button type="submit" ng-disabled="loginForm.$invalid" href="#" class="submit">Submit <span class='fa fa-lock'></span></button>
  </form>
</div>