
<div class="columns">
  <div class="column-one">
    <div class="register-video"></div>
  </div>
  <div class="column-one">
    <div class="panel-aboutA">
      <h1>What We Do</h1>
      <p>Lorem ipsum dolor sit amet, sit amet, consectetur adipisicing elit. Totam impedit pariatur, sapiente non, laboriosam aut. Totam impedit pariatur, sapiente non, laboriosam auto Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam impedit pariatur, sapiente non, laboriosam aut. Totam impedit pariatur, sapiente non, laboriosam aut.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam impedit pariatur, sapiente non, laboriosam aut. Totam impedit pariatur, sapiente non, laboriosam aut.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam impedit pariatur, sapiente non, laboriosam aut. Totam impedit pariatur, sapiente non, laboriosam aut.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis voluptatem inventore a neque aspernatur voluptatibus, fuga quae minus ullam et commodi ex molestiae.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum non atque eius facere nihil iusto iure consequatur, sit odio molestias! ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quo itaque, quis sapiente exercitationem eos iure quod reprehenderit, unde saepe molestiae officia recusandae similique qui veniam pariatur ipsa architecto laborum.</p>
    </div>
  </div>
  <div class="column-two">
    <div class="register-content">
      <h1>REGISTER TODAY...</h1>
      <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet deserunt voluptate dolorem id, deleniti rem ipsum sapiente ad tempora cupiditate.</P>
      <div class="squares">
        <div class="square-two">
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Reason Why to register Lorem ipsum dolor sit amet.</h6>
            </div>
          </div>
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Reason Why to register</h6>
            </div>
          </div>
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Reason Why to register</h6>
            </div>
          </div>
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Reason Why to register</h6>
            </div>
          </div>
        </div>
        <div class="square-two">
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Benefits after get register</h6>
            </div>
          </div>
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Benefits after get register</h6>
            </div>
          </div>
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Benefits after get register</h6>
            </div>
          </div>
          <div class="row">
            <div class="check">
              <sapn class="fa fa-check"></sapn>
            </div>
            <div class="write">
              <h6>Benefits after get register</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column-two">
    <form name="registration" id="registration" data-ng-model="registration" data-ng-submit="addRegistration(registration.$valid)" novalidate="novalidate" class="register-form">
      <div class="tabs">
        <div data-ng-click="startOver();" data-ng-class="{active: !register}" class="tab">
          <h5>Personal</h5>
        </div>
        <div data-ng-class="{active: register}" class="tab right">
          <h5>Payment</h5>
        </div>
      </div>
      <div ng-hide="register" class="form">
        <div class="half">
          <h6>First Name</h6>
          <input type="text" name="first" data-ng-model="first" placeholder="First Name" required="required"/>
          <div ng-messages="registration.first.$error" ng-if="registration.first.$touched &amp;&amp; registration.first.$invalid" class="errors">
            <div ng-message="required" class="error">
              <h5>A first name is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>Last Name</h6>
          <input type="text" name="last" data-ng-model="last" placeholder="Last Name" required="required"/>
          <div ng-messages="registration.last.$error" ng-if="registration.last.$touched &amp;&amp; registration.last.$invalid" class="errors">
            <div ng-message="required" class="error">
              <h5>A last name is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>Email</h6>
          <input type="email" name="email" data-ng-model="email" placeholder="Email" required="required"/>
          <div ng-messages="registration.email.$error" ng-if="registration.email.$touched &amp;&amp; registration.email.$invalid" class="errors two">
            <div ng-message="required" class="error">
              <h5>An email address<br>is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
          <div ng-messages="registration.email.$error" ng-if="registration.email.$touched &amp;&amp; registration.email.$invalid" class="errors two">
            <div ng-message="email" class="error">
              <h5>A valid email address is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>User Name</h6>
          <input type="text" name="username" data-ng-model="username" placeholder="UserName" required="required"/>
          <div ng-messages="registration.username.$error" ng-if="registration.username.$touched &amp;&amp; registration.username.$invalid" class="errors">
            <div ng-message="required" class="error">
              <h5>A username is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>Password</h6>
          <input type="text" name="password" data-ng-model="password" placeholder="Password" required="required"/>
          <div ng-messages="registration.password.$error" ng-if="registration.password.$touched &amp;&amp; registration.password.$invalid" class="errors two">
            <div ng-message="required" class="error">
              <h5>A valid password <br> is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>Confirm Password</h6>
          <input type="text" name="passwordConfirm" data-ng-model="passwordConfirm" placeholder="Confirm Password" required="required"/>
          <div ng-messages="registration.passwordConfirm.$error" ng-if="registration.passwordConfirm.$touched &amp;&amp; registration.passwordConfirm.$invalid" class="errors">
            <div ng-message="required" class="error">
              <h5>Password does't matched</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div data-ng-click="payment();" class="submit">Proceed To Payment</div>
      </div>
      <div ng-hide="!register" class="form">
        <div class="full">
          <h6>Card Holder</h6>
          <input type="text" name="cardHolderName" data-ng-model="cardHolderName" placeholder="Card Holder Name" required="required"/>
          <div ng-messages="registration.cardHolderName.$error" ng-if="registration.cardHolderName.$touched &amp;&amp; registration.cardHolderName.$invalid" class="errors inputFull">
            <div ng-message="required" class="error">
              <h5>A card holder Name is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="full">
          <h6>Address</h6>
          <input type="text" name="address" data-ng-model="address" placeholder="Address" required="required"/>
          <div ng-messages="registration.address.$error" ng-if="registration.address.$touched &amp;&amp; registration.address.$invalid" class="errors inputFull">
            <div ng-message="required" class="error">
              <h5>Card Holder address is required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>City</h6>
          <input type="text" name="city" data-ng-model="city" placeholder="City" required="required"/>
          <div ng-messages="registration.city.$error" ng-if="registration.city.$touched &amp;&amp; registration.city.$invalid" class="errors two">
            <div ng-message="required" class="error">
              <h5>city is <br> required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>Country</h6>
          <input type="text" name="country" data-ng-model="country" placeholder="Country" required="required"/>
          <div ng-messages="registration.country.$error" ng-if="registration.country.$touched &amp;&amp; registration.country.$invalid" class="errors two">
            <div ng-message="required" class="error">
              <h5>country is <br> required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="full">
          <h6>Card Number</h6>
          <input type="number" name="cardNumber" data-ng-model="cardNumber" placeholder="Card Number" required="required"/>
          <div ng-messages="registration.cardNumber.$error" ng-if="registration.cardNumber.$touched &amp;&amp; registration.cardNumber.$invalid" class="errors inputFull">
            <div ng-message="required" class="error">
              <h5>A card number is <br> required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>Expiry Date</h6>
          <input type="number" name="expiryDate" data-ng-model="expiryDate" placeholder="Expiry Date" required="required"/>
          <div ng-messages="registration.expiryDate.$error" ng-if="registration.expiryDate.$touched &amp;&amp; registration.expiryDate.$invalid" class="errors two">
            <div ng-message="required" class="error">
              <h5>A expiry date is <br> required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div class="half">
          <h6>CCV Code</h6>
          <input type="number" name="ccvCode" data-ng-model="ccvCode" placeholder="CCV Code" required="required"/>
          <div ng-messages="registration.ccvCode.$error" ng-if="registration.ccvCode.$touched &amp;&amp; registration.ccvCode.$invalid" class="errors two">
            <div ng-message="required" class="error">
              <h5>A CCV code is <br> required</h5>
            </div>
            <div class="triangle"></div>
          </div>
        </div>
        <div data-ng-click="startOver();" class="submit">Submit Registration</div>
      </div>
    </form>
  </div>
</div>
<div class="push"></div>