
<div class="page">
  <div class="content-holder">
    <div class="content">   
      <div class="testimonals-holder">
        <div class="testimonals">
          <div class="testimonal">
            <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
            <h2>James Anderson</h2>
            <h3>Victoria, Texas</h3>
          </div>
          <div class="testimonal">
            <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
            <h2>James Anderson</h2>
            <h3>Victoria, Texas</h3>
          </div>
          <div class="testimonal">
            <p>“When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."</p>
            <h2>James Anderson</h2>
            <h3>Victoria, Texas</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>