
<div class="columns">
  <div class="column-four">
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Description about video Lorem ipsum dolor sit ametabout video Lorem ipsum dolor sit amet about video Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span>
        </div>
        <div class="tags">
          <h5>Tags</h5><span>SELF-HELP</span><span>FINANCE</span><span>CAREER</span>
        </div>
      </div>
    </div>
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Description about video Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span>
        </div>
        <div class="tags">
          <h5>Sub-categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
      </div>
    </div>
  </div>
  <div class="column-four">
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Description about video Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span>
        </div>
        <div class="tags">
          <h5>Sub-categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
      </div>
    </div>
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ipsa a necessitatibus voluptatibus vitae. Dolore excepturi corrupti quas ducimus voluptatum?</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span>
        </div>
        <div class="tags">
          <h5>Sub-categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
      </div>
    </div>
  </div>
  <div class="column-four">
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video On Two Lines Only</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Online video viewers have come to expect quality media streaming experiences for entertainment, e-commerce and even job training. To deliver online video and media to an expanding audience, you need a complete online video strategy. Read our guide ʺ10 Key Considerations for a Successful Online Video Strategyʺ to learn how to ensure a successful cloud media streaming experience.</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span>
        </div>
        <div class="tags">
          <h5>Sub-categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
      </div>
    </div>
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, expedita.</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
        <div class="tags">
          <h5>Sub-categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
      </div>
    </div>
  </div>
  <div class="column-four">
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis sapiente dolore recusandae vitae ea, rem quas porro voluptatum aspernatur nesciunt!</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span>
        </div>
        <div class="tags">
          <h5>Sub-categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
      </div>
    </div>
    <div class="panel-preview">
      <div class="video"></div>
      <div class="content">
        <h2>Article Video</h2>
        <div class="tags"><span>12/12/2014</span></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, quo?</p>
        <div class="tags">
          <h5>Categories</h5><span>HEALTH</span><span>MENTAL</span>
        </div>
        <div class="tags">
          <h5>Sub-categories</h5><span>HEALTH</span><span>MENTAL</span><span>EMOTIONAL</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="push"></div>