.content
    position relative
    width 520px
    padding 0
    margin 0 auto

    .contact-holder
        float left
        width 520px
        padding 0
        margin 40px 0 0 0

        .contact-detail
            float left
            width 478px
            padding 20px
            margin 20px 0 20px 0
            border $border
            border-bottom 4px solid #333
            background $background-texture
            border-radius 0 0 8px 8px

            h2
                float left
                width 458px
                padding 10px 0
                margin 0 0 18px 0
                font-size 28px
                line-height 32px
                text-align center

            .contact-container
                float left
                width 458px
                padding 0
                margin 0

                p
                    float left
                    width 100%
                    margin 0 0 14px 0
                    font-size 20px
                    line-height 24px
                    font-weight 400
                    text-align center

                h3
                    float left
                    width 100%
                    padding 0
                    margin 0 0 12px 0
                    font-weight 600
                    font-size 24px
                    line-height 27px
                    color $burgundy
                    text-align center
                    text-shadow $white-shadow

                h4
                    float left
                    width 100%
                    padding 0
                    margin 25px 0 8px 0
                    font-weight 500
                    font-size 21px
                    line-height 24px
                    text-align center

    .contact-form
        float left
        width 478px
        padding 20px
        margin 0
        background $background-texture
        border $border
        border-bottom 4px solid #333
        border-radius 0 0 8px 8px

        .row
            float left
            width 400px
            padding 0
            margin 0 0 20px 0

            input
                width 100%
                height 50px
                padding 4px 0 0 0
                margin 0
                font-size 23px
                line-height 23px
                text-align center
                border $border

            textarea
                float left
                width 100%
                height 50px
                padding 10px 0
                margin 0
                font-size 23px
                line-height 29px
                border $border
                text-align center

        .submit
            float left
            width 400px
            height 68px
            padding 0
            margin 0
            font-style italic
            font-weight 600
            font-size 31px
            line-height 70px
            color $white
            background $burgundy
            background-repeat repeat-x;
            border none
            border $border-black
            border-radius 4px
            box-shadow none
            box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
            box-shadow 1px 1px 4px #aaa
            text-align center
            text-shadow $dark-shadow
            vertical-align middle;
            user-select none
            cursor pointer

        .card-confirmation
            float left
            width 280px
            padding 0
            margin 0

            h1
                float left
                width 236px
                padding 0
                margin 0 0 20px 0
                font-size 24px
                text-align center

            h2
                float left
                width 100%
                padding 0
                margin 0 0 15px 0
                font-size 18px
                font-weight 400
                text-align center

            p
                float left
                width 100%
                margin 0
                font-size 14px
                font-weight 200
                text-align center

.map
    float left
    width 440px
    height 500px
    padding 0
    margin 50px 0 0 0
    border $border
    background #ccc
    border-bottom 4px solid #333
    border-radius 0 0 8px 8px
