.lists
    width 520px
    margin 0 0 30px 60px

    .list
        width 438px
        padding 20px 40px 24px 40px
        margin 0 0 14px 0

        .image
            width 438px
            margin 0 0 30px 0

            .thumb-image
                width 436px
                min-height 80px

        .information
            width 438px

            h3
            .h3
                width 416px
                height 36px
                padding 4px 10px 8px 10px
                font-size 31px
                line-height 36px

            h3
                padding 4px 10px 6px 10px

            h5
                width 438px
                margin 0 0 14px 0
                font-size 25px
                line-height 25px

            .full
                width 438px
                margin 0 0 28px 0

    .item
        width 438px
        padding 30px 40px 14px 40px
        margin 0 0 14px 0

        .image
            width 438px
            margin 0 0 38px 0

            .tag-holder
                width 408px

                .tag
                    width 44px
                    height 44px
                    margin 0 6px 0 0

                    .fa-pencil
                        width 44px
                        height 44px
                        font-size 21px
                        line-height 45px

                    .file-upload
                        width 44px
                        height 44px

                .tag.save
                    background $burgundy

                    .fa-cloud
                        width 44px
                        height 44px
                        font-size 19px
                        line-height 45px

            .thumb-image
                width 436px
                min-height 80px

        .information
            width 438px

            .h3
                width 416px
                height 36px
                padding 4px 10px 4px 10px
                font-size 31px
                line-height 36px

            h5
                width 438px
                margin 0 0 12px 0
                font-size 24px
                line-height 24px

            .full
                width 438px
                margin 0 0 34px 0

        .submit
            width 436px
            padding 12px 0 10px 0
            margin 0 0 20px 0
            font-size 28px
            line-height 28px