.card-discount
	width 420px
	margin 0 0 12px 50px
	border-radius 4px 4px 4px 4px

	img
		float left
		width 100%
		border none
		background none
		padding 0
		margin 0
		border-radius 4px 4px 4px 4px

.card-member
	width 500px
	padding 20px 0 0 0
	margin 0 0 18px 10px

	.member
		width 460px
		padding 0 0 20px 40px

		.member-brand
			width 380px
			margin 0 0 20px 20px

		.member-content
			width 400px
			margin 10px 0 0 20px

			.row
				margin 0

				h4
					font-size 23px
					line-height 29px

				.left
					width 170px
					margin 0 0 14px 0

				.right
					width 230px
					margin 0 0 14px 0

			.row.hide
				display none

	.disclaimer
		width 460px
		padding 20px 0 20px 60px

		p
			width 380px
			margin 6px 0 14px 0
			font-size 19px
			line-height 31px

		a
			font-size 19px
			line-height 31px

		.brand
			width 280px
			margin 0 80px 20px 0

			img
				width 280px

.card-modal
	width 298px
	padding 28px 0px 20px 40px
	margin 0 0 10px 0

	.card-content
		width 268px

		h1
			width 234px
			margin 0 0 11px 0
			font-size 30px
			line-height 30px

		.company
			width 234px
			margin 0 0 32px 0

			h5
				font-size 22px
				line-height 22px

			span
				margin 0 8px
				font-size 24px
				line-height 24px

		.patient-holder
			width 100%

			h6
				margin 0 0 30px 0
				font-size 25px
				line-height 25px

			.row-holder
				float left
				width 210px

				.row
					margin 0 0 10px 0

					h6
						width 88px
						font-size 15px
						line-height 15px

			.lines
				width 58px
				margin 12px 0 0 0

.card
	width 390px
	padding 28px 0 18px 50px
	margin 0 0 14px 40px

	.card-content
		width 440px

		h1
			width 340px
			margin 0 0 13px 0
			font-size 36px
			line-height 36px

		.company
			width 340px
			margin 0 0 32px 0

			p
				font-size 25px
				line-height 25px

			span
				margin 0 8px
				font-size 27px
				line-height 27px

		.patient-holder
			width 100%

			h6
				margin 0 0 26px 0
				font-size 29px
				line-height 29px

			.row-holder
				width 274px

				.row
					margin 0 0 12px 0

					h6
						width 110px
						font-size 16px
						line-height 16px

			.lines
				width 74px
				margin 8px 0 0 0