.card-member
	width 500px
	padding 30px 0 0 0
	margin 0 0 18px 20px

	.member
		width 460px
		padding 0 0 20px 40px

		.member-content
			width 440px
			margin 10px 0 20px 0

			.row
				margin 0

				h4
					font-size 20px
					line-height 20px

				.left
					width 100px
					margin 0 0 12px 0

				.right
					width 110px
					margin 0 0 12px 0

				.left.small
					width 80px
					margin 0 0 12px 0

				.right.small
					width 220px
					margin 0 0 12px 0

				.left.middle
					width 100px
					margin 0 0 8px 0

				.right.middle
					width 110px
					margin 0 0 8px 0

			.row.hide
				display none

		.member-brand
			width 300px
			margin 0 0 0 60px

	.disclaimer
		width 480px
		padding 30px 0 20px 40px

		p
			width 420px
			margin 6px 0 14px 0
			font-size 17px
			line-height 26px

		a
			font-size 21px
			line-height 21px

		.brand
			width 200px
			margin 0 20px 0 0

			img
				width 200px

.card-modal
	width 298px
	padding 24px 0px 20px 40px
	margin 0 0 10px 0

	.card-logo
		width 68px
		margin 94px 0 0 180px

	.card-content
		width 268px

		h1
			margin 0 0 12px 0
			font-size 29px
			line-height 29px

		.company
			width 100%

			h5
				font-size 20px
				line-height 20px

			span
				margin 0 8px
				font-size 18px
				line-height 20px

		.patient-holder
			width 100%

			p
				margin 0 0 32px 0
				font-size 24px
				line-height 24px

			.row
				margin 0 0 8px 0

				h6
					width 86px
					font-size 14px
					line-height 14px

.card
	width 430px
	padding 36px 0 24px 50px
	margin 0 0 12px 20px

	.card-content
		width 440px

		.card-logo
			width 56px
			margin 0 30px 0 0
			
		h1
			width 340px
			margin 0 0 10px 0
			font-size 31px
			line-height 31px

		.company
			width 340px
			margin 0 0 38px 0

			h5
				font-size 23px
				line-height 23px

			span
				margin 0 8px
				font-size 25px
				line-height 25px

		.patient-holder
			width 100%

			h6
				margin 0 0 36px 0
				font-size 30px
				line-height 30px

			.row-holder
				float left
				width 250px

				.row
					margin 0 0 13px 0

					h6
						width 114px
						font-size 18px
						line-height 18px

			.lines
				float left 
				width 54px
				padding 0
				margin 40px 0 0 10px