footer
    height 72px

    .footer
        width 580px
        height 72px

        .link
            margin 0 30px 0 0

            p
                font-size 17px
                line-height 26px

        .link.email
            display block
            margin 12px 40px 0 30px

        .link.phone
            margin 12px 50px 0 0

        .link.privacy
            margin 12px 0 0 0

        .legal
            width 170px