footer
	height 90px

	.footer
		width 600px
		height 74px

		.logo
			width 180px
			margin 10px 40px 0 0

		.link
			margin 0

			p
				margin 0 0 9px 0
				font-size 18px
				line-height 18px

			a
				font-size 20px
				line-height 20px

		.link.email
			display block
			width 180px
			margin 24px 60px 0 0

		.link.phone
			width 140px
			margin 24px 0 0 0

		.link.privacy
			margin 11px 0 0 0

		.legal
			width 180px