footer
    height 72px

    .footer
        width 560px
        height 72px

        .link
            margin 12px 30px 0 0

            p
                font-size 17px
                line-height 24px

        .link.email
            display block
            margin 12px 40px 0 0

        .link.phone
            margin 12px 50px 0 0

        .link.terms
            margin 12px 0 0 0