.page
	position relative
	width 100%

	.content-holder
		position relative
		width 520px

        .content
			width 520px

			.main
				width 520px
				padding 0
				margin 30px 0 40px 0

				.rx-card
					width 490px
					padding 28px 0px 16px 30px
					margin 0 0 20px 0

					h2
						width 100%
						margin 0 0 10px 0

					.card-content
						width 420px

						.card-headline
							width 100%

							.company
								width 100%
								margin 0 0 20px 0

								h5
									font-size 22px
									line-height 26px

								span
									margin 0 6px
									font-size 16px
									line-height 23px

							.patient-holder
								width 100%
								padding 0
								margin 0

								.row
									width 100%
									padding 0
									margin 0 0 10px 0

									input
										width 100%
										margin 0 0 18px 0
										font-size 22px
										line-height 24px

									h6
										width 82px
										padding 0
										margin 0
										font-size 11px
										line-height 11px

				.rx-card-download
					width 520px

					.column
						width 118px
						padding 10px 0 10px 0
						margin 0 12px 10px 0

						p
							width 100%

							span.fa-cloud
							span.fa-mobile
							span.fa-send
							span.fa-file-text
								width 100%

							span.fa-mobile
								font-size 26px

							span.fa-send
								font-size 16px

							span.fa-file-text
								font-size 19px

			.points
				width 520px
				padding 0
				margin 0 0 20px 0

				.point
					width 100%
					padding 0
					margin 0 0 31px 0

					div.fa-certificate
						width 96px
						padding 0
						margin 0
						font-size 48px
						line-height 52px

					.text
						width 424px
						padding 0
						margin 0

						h3
							width 100%
							padding 0
							margin 0
							font-size 29px
							line-height 44px

							span
								padding 0 0 10px 0

			.center
				width 520px
				padding 0
				margin 0 0 40px 0

				span.fa-certificate
					position absolute
					width 20px
					margin -18px 0 0 510px

				h1
					width 510px
					//height 40px
					padding 5px
					margin 0 0 28px 0
					font-size 32px
					line-height 42px

				.center-holder
					width 500px
					padding 20px 0 20px 20px
					margin 0

					.logo
						padding 0 20px 20px 0
						margin 0 0 0 10px

						img
							float left
							height 30px
							padding 0
							margin 0
							font-size 28px

			.locator
				float left
				width 520px

				h2
					width 100%
					padding 0
					margin 0 0 18px 0

				.submit
					float left
					width 320px
					padding 0
					margin 0 0 0 60px

				.locator-zip
					float left
					width 440px
					padding 20px 40px 30px 40px
					margin 0 0 20px 0

					input
						float left
						width 320px
						height 48px
						padding 0
						margin 0 0 14px 60px

				.locator-state
					float left
					width 440px
					padding 20px 40px 20px 40px
					margin 0 0 30px 0

					select
						float left
						width 320px
						height 52px
						padding 0
						margin 0 0 10px 60px




				.locator-results
					display none

			.testimonals-holder
				position relative
				width 520px
				padding 0
				margin 0 auto

				.testimonals
					float left
					width 520px
					padding 0
					margin 0 0 60px 0

					.testimonal
						float left
						width 480px
						padding 28px 20px 28px 20px
						margin 0 0 14px 0

						p
							float left
							width 100%
							padding 0
							margin 0 0 14px 0

						h2
							float left
							width 100%
							padding 0
							margin 0 0 12px 0
							font-weight 600

						h3
							float left
							width 100%
							padding 0
							margin 0

					.testimonal.hide
						display none
