.page
	width 520px

    .content
		width 520px

		.main
			width 520px
			margin 0

			.card
				width 430px
				padding 28px 0 16px 50px
				margin 0 0 20px 20px

				.card-logo
					width 102px
					margin 94px 0 0 270px

				.card-content
					width 440px

					h2
						margin 0 0 10px 0
						font-size 35px
						line-height 40px

					.company
						margin 0 0 18px 0

						h5
							font-size 22px
							line-height 24px

						span
							margin 0 8px
							font-size 19px
							line-height 26px

					.patient-holder
						width 100%

						.row
							margin 0 0 14px 0

							input
								margin 0 0 14px 0
								font-size 21px
								line-height 25px

							h6
								width 90px
								padding 0
								margin 0
								font-size 13px
								line-height 13px

			.download
				width 430px
				padding 0
				margin 0 0 58px 60px

				.tag
					width 91px
					padding 15px 0 10px 0
					margin 0 12px 0 0

					p
						margin 3px 0 0 0
						font-size 20px
						line-height 20px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 28px
						font-size 25px

					.fa-mobile
						height 32px
						margin -4px 0 0 -4px
						font-size 43px

					.fa-send
						font-size 22px

					.fa-file-text
						font-size 24px

		.points
			width 500px
			margin 0 0 40px 20px

			.point
				margin 0

				.fa-certificate
					width 74px
					font-size 45px
					line-height 48px

				.text
					width 420px
					margin 0 0 36px 0

					h3
						font-size 35px
						line-height 50px

						span
							padding 0 0 10px 0

		.center
			width 500px
			margin 0 0 30px 0

			.fa-certificate
				width 20px
				margin -18px 0 0 455px
				font-size 45px

			h1
				width 380px
				padding 14px 30px
				margin 0 0 22px 40px
				font-size 33px
				line-height 43px

			.center-holder
				width 520px
				padding 20px 0 20px 0
				border-radius 12px

				.logo
					padding 0 30px 20px 0
					margin 0 0 0 10px

					img
						height 30px

		.locator
			width 400px
			margin 0 0 20px 60px

			.locator-zip
			.locator-state
				width 360px
				padding 24px 20px 30px 20px
				margin 0 0 20px 0

				h2
					width 280px
					margin 0 0 20px 40px
					font-size 33px
					line-height 42px

				input
					width 300px
					height 56px
					padding 8px 0 0 0
					margin 0 20px 15px 30px
					font-size 27px
					line-height 27px

				select
					width 300px
					height 64px
					margin 0 0 15px 30px
					font-size 27px
					line-height 27px

				.submit
					width 300px
					height 64px
					margin 0 0 0 30px
					font-size 31px
					line-height 63px

		.testimonals-holder
			width 400px
			margin 0 0 0 60px

			.testimonals
				width 400px
				margin 0 0 20px 0

				.testimonal
					width 340px
					padding 38px 30px 42px 30px
					margin 0 0 15px 0

					p
						margin 0 0 24px 0
						font-size 23px
						line-height 35px

					h2
						font-size 28px
						line-height 28px
						margin 0 0 14px 0

					h3
						font-size 24px
						line-height 24px