.card-modal
	width 310px
	padding 26px 0 12px 30px
	margin 0 0 22px 0

	.card-logo
		width 68px
		margin 114px 0 0 210px

	.card-content
		width 305px

		h1
			margin 0 0 12px 0
			font-size 33px
			line-height 33px

		.company
			margin 0 0 22px 0

			h5
				font-size 20px
				line-height 20px

			span
				margin 0 10px
				font-size 18px
				line-height 20px

		.patient-holder
			width 100%

			p
				margin 0 0 24px 0
				font-size 20px
				line-height 20px

			.row
				margin 0 0 12px 0

				h6
					width 72px
					padding 0
					margin 0
					font-size 12px
					line-height 12px

.card
	width 430px
	padding 28px 0 16px 50px
	margin 0 0 20px 20px

	.card-logo
		width 102px
		margin 94px 0 0 270px

	.card-content
		width 440px

		h1
			margin 0 0 10px 0
			font-size 35px
			line-height 40px

		.company
			margin 0 0 18px 0

			h5
				font-size 22px
				line-height 24px

			span
				margin 0 8px
				font-size 19px
				line-height 26px

		.patient-holder
			width 100%

			p
				margin 0 0 14px 0
				font-size 21px
				line-height 25px

			.row
				margin 0 0 14px 0

				h6
					width 90px
					padding 0
					margin 0
					font-size 13px
					line-height 13px

.page
	width 520px

    .content
		width 520px

		.main
			width 520px
			margin 0

			.download
				width 446px
				padding 0
				margin 0 0 58px 48px

				.tag
					width 95px
					padding 16px 0 12px 0
					margin 0 12px 0 0

					p
						font-size 20px
						line-height 20px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 34px
						font-size 27px

					.fa-mobile
						height 46px
						margin -12px 0 0 -12px
						font-size 44px

					.fa-send
						font-size 22px

					.fa-file-text
						font-size 24px

		.points
			width 520px
			margin 0 0 40px 0

			.point-container
				width 520px
				margin 0 0 20px 0

				.point
					display: inline-block

					.fa-certificate
						top -14px
						left -15px
						width 36px
						// margin -24px 0 0 -14px
						font-size 35px

					h3
						padding 10px 30px 20px 30px
						font-size 33px
						line-height 43px

						span
							padding 0 0 4px 0

		.center
			width 500px
			margin 0 0 30px 0

			.fa-certificate
				width 20px
				margin -18px 0 0 445px
				font-size 45px

			h1
				width 380px
				padding 12px 20px
				margin 0 0 18px 50px
				font-size 33px
				line-height 43px

			.center-holder
				width 520px
				padding 20px 0 20px 0
				border-radius 12px

				.logo
					padding 0 30px 20px 0
					margin 0 0 0 10px

					img
						height 30px

		.locator
			width 520px

			h2
				width 280px
				margin 0 0 24px 40px
				font-size 33px
				line-height 42px

			.locator-zip
			.locator-state
				width 360px
				padding 24px 20px 26px 20px
				margin 0 0 20px 60px

				input
					width 300px
					height 60px
					padding 0
					margin 0 20px 14px 30px
					font-size 29px
					line-height 29px

				select
					width 300px
					height 64px
					padding 2px 0 0 30px
					margin 0 0 14px 30px
					font-size 29px
					line-height 29px

				.submit
					width 300px
					height 64px
					margin 0 0 0 30px
					font-size 33px
					line-height 68px

			.locator-results
				width 520px
				padding 20px 0 25px 0
				margin 0 0 30px 0
				border-radius 12px

				h2
					width 440px
					margin 0 0 18px 40px

				.locator-results-content
					width 440px
					margin 0 40px

					.row-container
						width 440px

						p
							font-size 20px
							line-height 28px

						.pharmacy
							width 380px
							padding 12px 30px 10px 30px

						.address
							width 380px
							padding 12px 30px 10px 30px

						.phone
							width 380px
							padding 12px 30px 10px 30px

		.testimonals-holder
			width 400px
			margin 0 0 0 60px

			.testimonals
				width 400px
				margin 0 0 20px 0

				.testimonal
					width 340px
					padding 38px 30px 42px 30px
					margin 0 0 15px 0

					p
						margin 0 0 24px 0
						font-size 23px
						line-height 35px

					h2
						font-size 28px
						line-height 28px
						margin 0 0 14px 0

					h3
						font-size 24px
						line-height 24px