.modal-holder
	width 400px
	margin 0 0 0 -200px

	.modal-container
		width 340px
		padding 20px 30px 18px 30px
		margin 18px 0 0 0

		.print
			width 340px

			img
				width 340px

		.fa-close
			width 30px
			margin 0 0 16px 155px
			font-size 22px
			line-height 22px

		.row
			width 340px

			input
				width 340px
				height 68px
				margin 0 0 14px 0
				font-size 33px
				line-height 35px

		.submit
			width 340px
			padding 12px 0 10px 0
			margin 0 0 20px 0
			font-size 31px
			line-height 36px

		.legal
			width 320px
			margin 10px

			p
				margin 0 0 24px 0
				font-size 20px
				line-height 29px

			a
				font-size 22px
				line-height 22px