.modal-holder
	width 400px
	margin 0 0 0 -200px

	.modal-container
		width 340px
		padding 20px 30px 20px 30px
		margin 18px 0 0 0

		.print
			width 340px

			img
				width 340px

		.fa-close
			width 20px
			margin 0 0 20px 160px
			font-size 21px
			line-height 21px

		.row
			width 340px

			input
				width 340px
				height 56px
				padding 2px 0 0 0
				margin 0 0 14px 0
				font-size 29px
				line-height 29px

		.submit
			width 340px
			padding 14px 0 10px 0
			margin 0 0 20px 0
			font-size 31px
			line-height 31px

		.legal
			width 320px
			margin 14px 0 0 10px

			p
				margin 0 0 20px 0
				font-size 19px
				line-height 27px

			a
				font-size 20px
				line-height 27px