md-sidenav
    width: 194px
    max-width: 194px

.side
    width 194px

    ul
        width 194px

        li
            width 194px
            padding: 16px 0 14px 0
            margin: 0

            h4
                width 178px
                font-size 21px
                line-height 27px

        li.close
            padding: 14px 0 10px 0

            .fa-long-arrow-left
                width 178px
                font-size 27px
                line-height 27px