.filter
	width 498px
	padding 18px 0 16px 20px
	margin 0 0 18px 60px

	input
		width 398px
		height 66px
		margin 0 10px 0 0
		font-size 30px
		line-height 30px

	.reset
		width 66px
		height 64px
		margin 0

		.fa-times
			font-size 25px
			line-height 65px

.answers
	width 520px
	margin 0 0 20px 60px

	.answer
		width 418px
		padding 26px 50px 12px 50px
		margin 0 0 16px 0

		h2
			width 376px
			padding 10px 20px 8px 20px
			margin 0 0 18px 0
			font-size 28px
			line-height 32px

		p
			width 418px
			padding 0
			margin 0 0 20px 0
			font-size 21px
			line-height 31px

		.tag-holder
			width 340px

			.tag
				float left
				margin 10px 10px 0 0
				padding 0

				h5
					float left
					margin 0
					padding 8px 16px
