.filter-holder
    width 520px
    padding 24px 0 20px
    margin 0 0 20px 0

    .filter-container
        width 400px
        margin 0 0 0 60px

        input
            width 400px
            height 56px
            margin 0 0 14px 0
            font-size 27px
            line-height 29px

        .reset
            width 400px
            height 56px
            margin 0 0 0 0

            .fa-times
                font-size 27px
                line-height 57px

.answers-holder
    width 520px
    margin 0 0 20px 0

    .answer
        width 420px
        padding 28px 50px 20px 50px
        margin 0 0 18px 0

        h2
            margin 0 0 18px 0
            padding 0 0 8px 0
            font-size 31px
            line-height 41px

        p
            width 400px
            padding 0 10px
            margin 0 0 18px 0
            font-size 20px
            line-height 32px

        .tag-holder
            width 340px

            .tag
                float left
                margin 10px 10px 0 0
                padding 0

                h5
                    float left
                    margin 0
                    padding 8px 16px
