.contact-holder
    width 335px
    margin 0 0 0 20px

    .contact-detail
        width 293px
        padding 30px 20px 30px 20px
        margin 0 0 20px 0

        h2
            margin 0 0 26px 0
            font-size 32px
            line-height 32px

        .contact-container
            width 293px

            p
                padding 0
                margin 0 0 14px 0

            a
                padding 0
                margin 0 0 12px 0
                font-size 22px
                line-height 22px

            h4
                float left
                width 100%
                padding 0
                margin 10px 0 0 0
                font-size 19px
                line-height 29px

    .contact-form
        width 273px
        padding 38px 30px 20px 30px
        margin 0 0 16px 0

        .row
            width 273px
            padding 0
            margin 0 0 15px 0

            input
                width 271px
                height 52px
                padding 6px 0 0 0
                font-size 23px
                line-height 23px

            textarea
                width 251px
                height 80px
                padding 14px 10px
                font-size 23px
                line-height 23px

        .submit
            width 273px
            height 58px
            font-size 29px
            line-height 59px

        .card-confirmation
            width 293px
            padding 0
            margin 0

            h1
                width 100%
                padding 0
                margin 0 0 20px 0

            h2
                width 100%
                padding 0
                margin 0 0 15px 0

            p
                width 100%
                margin 0

.map
    width 333px
    margin 0 0 35px 20px
