.contact-holder
    width 335px
    margin 0 0 0 20px

    .contact-detail
        width 293px
        padding 30px 20px 30px 20px
        margin 0 0 20px 0

        h2
            margin 0 0 24px 0
            font-size 26px
            line-height 26px

        .contact-container
            width 293px

            p
                padding 0
                margin 0 0 14px 0
                font-size 18px
                line-height 18px
                
            a
                padding 0
                margin 0 0 10px 0
                font-size 20px
                line-height 20px

            h4
                margin 10px 0 0 0
                font-size 19px
                line-height 29px

    .contact-form
        width 275px
        padding 38px 30px 20px 30px
        margin 0 0 16px 0

        .row
            float left
            width 275px
            padding 0
            margin 0 0 15px 0

            input
                width 275px
                height 60px
                padding 2px 0 0 0
                margin 0
                font-size 26px
                line-height 26px

            textarea
                width 255px
                height 100px
                padding 16px 10px
                margin 0
                font-size 26px
                line-height 31px

        .submit
            width 275px
            height 62px
            font-size 28px
            line-height 63px

    .card-confirmation
        width 295px
        padding 0
        margin 0

        h1
            width 100%
            padding 0
            margin 0 0 20px 0

        h2
            width 100%
            padding 0
            margin 0 0 15px 0

        p
            width 100%
            margin 0

.map
    width 333px
    margin 0 0 35px 20px
