.card-member
	width 335px
	padding 20px 0 0 0
	margin 0 0 12px 10px
	border-radius $border-radius

	.member
		width 290px
		padding 0 0 20px 20px

		.member-content
			width 280px
			margin 10px 0 10px 15px

			.row
				margin 0

				h4
					font-size 18px
					line-height 18px

				.left
					width 54px
					margin 0 0 14px 0

				.right
					width 80px
					margin 0 0 14px 0

				.left.small
					width 60px
					margin 0 0 14px 0

				.right.small
					width 220px
					margin 0 0 14px 0

				.left.middle
					width 140px
					margin 0 0 6px 0

				.right.middle
					width 140px
					margin 0 0 6px 0

		.member-brand
			width 240px
			margin 0 0 0 25px

	.disclaimer
		width 275px
		padding 20px 40px 10px 40px

		p
			margin 0 0 22px 0
			font-size 17px
			line-height 26px

		a
			font-size 21px
			line-height 21px

		.brand
			width 300px
			margin 0 0 22px 0

			img
				width 220px

.card-modal
	width 268px
	padding 24px 0px 16px 30px
	margin 0 0 10px 0

	.card-logo
		width 68px
		margin 94px 0 0 180px

	.card-content
		width 268px

		h1
			margin 0 0 12px 0
			font-size 29px
			line-height 29px

		.company
			width 100%

			h5
				font-size 20px
				line-height 20px

			span
				margin 0 8px
				font-size 18px
				line-height 20px

		.patient-holder
			width 100%

			p
				margin 0 0 28px 0
				font-size 24px
				line-height 24px

			.row
				margin 0 0 8px 0

				h6
					width 82px
					font-size 13px
					line-height 13px

.card
	width 325px
	padding 28px 0 22px 30px
	margin 0 0 12px 0
	border-radius 8px

	.card-logo
		width 64px
		margin 154px 0 0 240px

	.card-content
		width 305px

		h1
			margin 0 0 11px 0
			font-size 33px
			line-height 33px

		.company
			margin 0 0 32px 0

			h5
				font-size 22px
				line-height 22px

			span
				margin 0 10px
				font-size 20px
				line-height 22px

		.patient-holder
			width 100%

			p
				margin 0 0 34px 0
				font-size 27px
				line-height 27px

			.row
				margin 0 0 9px 0

				h6
					width 78px
					font-size 13px
					line-height 13px