.card-discount
	width 335px
	margin 0 0 12px 10px
	border-radius 4px 4px 4px 4px

	img
		float left
		width 100%
		border none
		background none
		padding 0
		margin 0
		border-radius 4px 4px 4px 4px

.card-member
	width 335px
	padding 20px 0 0 0
	margin 0 0 12px 10px
	border-radius $border-radius

	.member
		width 290px
		padding 0 0 20px 20px

		.member-brand
			width 290px
			margin 0 0 20px 0

		.member-content
			width 280px
			margin 10px 0 0 20px

			.row
				margin 0

				h4
					font-size 22px
					line-height 28px

				.left
					width 150px
					margin 0 0 14px 0

				.right
					width 130px
					margin 0 0 14px 0

	.disclaimer
		width 275px
		padding 20px 40px 20px 40px

		p
			width 270px
			margin 0 0 18px 0
			font-size 18px
			line-height 28px

		a
			font-size 18px
			line-height 28px

		.brand
			width 300px
			margin 0 0 22px 0

			img
				width 260px

.card-modal
	width 268px
	padding 26px 0px 18px 30px
	margin 0 0 10px 0

	.card-logo
		width 68px
		margin 94px 0 0 180px

	.card-content
		width 305px

		h1
			width 234px
			margin 0 0 11px 0
			font-size 30px
			line-height 30px

		.company
			width 234px
			margin 0 0 32px 0

			h5
				font-size 22px
				line-height 22px

			span
				margin 0 8px
				font-size 24px
				line-height 24px

		.patient-holder
			width 100%

			h6
				margin 0 0 30px 0
				font-size 25px
				line-height 25px

			.row-holder
				float left
				width 210px

				.row
					margin 0 0 10px 0

					h6
						width 88px
						font-size 15px
						line-height 15px

			.lines
				width 58px
				margin 12px 0 0 0

.card
	width 320px
	padding 28px 0 18px 35px
	margin 0 0 12px 0

	.card-content
		width 305px

		h1
			width 234px
			margin 0 0 10px 0
			font-size 32px
			line-height 32px

		.company
			width 234px
			margin 0 0 20px 0

			p
				font-size 21px
				line-height 21px

			span
				margin 0 7px
				font-size 24px
				line-height 24px

		.patient-holder
			width 100%

			h6
				margin 0 0 24px 0
				font-size 26px
				line-height 26px

			.row-holder
				float left
				width 214px

				.row
					margin 0 0 10px 0

					h6
						width 88px
						font-size 14px
						line-height 14px

			.lines
				width 54px
				margin 10px 0 0 0