footer
	height 88px

	.footer
		width 330px
		height 88px

		.logo
			width 190px
			margin 4px 10px 0 0
			padding 4px

		.link
			margin 0 20px 0 0

			p
			a
				font-size 18px
				line-height 24px

		.link.phone
			margin 14px 0 0 0