footer
    height 78px

    .footer
        width 360px
        height 78px

        .link
            margin 0 20px 0 0

            p
                font-size 18px
                line-height 27px

        .link.phone
            margin 12px 50px 0 20px

        .link.privacy
            margin 12px 0 0 0

        .legal
            width 170px