header
	margin 0 0 20px 0

	.header
		width 320px

		.brand
			padding 0 0 14px 0

			.logo
				width 280px
				margin 10px 0 28px 5px

			.mobile-navigation
				width 318px

				h5
					font-size 24px
					line-height 26px