.page
	position relative
	width 375px
	padding 0
	margin 0 auto

    .content
		width 320px

		.main
			width 320px
			padding 0
			margin 0 0 0 20px

			.rx-card
				width 290px
				padding 28px 0px 16px 30px
				margin 0 0 20px 0

				h2
					width 100%
					margin 0 0 10px 0

				.card-content
					width 260px

					.card-headline
						width 100%

						.company
							width 100%
							margin 0 0 18px 0

							h5
								font-size 18px
								line-height 22px

							span
								margin 0 6px
								font-size 16px
								line-height 23px

						.patient-holder
							width 100%
							padding 0
							margin 0

							.row
								width 100%
								padding 0

								input
									width 100%
									margin 0 0 12px 0
									font-size 22px
									line-height 24px

								h6
									width 82px
									padding 0
									margin 0
									font-size 10px
									line-height 10px

			.rx-card-download
				width 320px
				padding 0
				margin 0

				.column
					width 68px
					padding 10px 0 10px 0
					margin 0 12px 10px 0
					background $header-tile
					border-bottom 4px solid #333
					border-radius 8px
					cursor pointer

					p
						padding 0
						margin 0

						span.fa-cloud
						span.fa-mobile
						span.fa-send
						span.fa-file-text
							padding 0
							margin 0

						span.fa-mobile
							padding 0
							margin 0

						span.fa-send
							font-size 16px

						span.fa-file-text
							font-size 19px

		.points
			width 320px

			.point
				margin 0 0 31px 0

				div.fa-certificate
					width 56px

				.text
					width 234px

					h3
						font-size 26px
						line-height 32px

						span
							padding 0 0 10px 0

		.center
			width 320px

			span.fa-certificate
				position absolute
				width 20px
				margin -18px 0 0 310px

			h1
				width 260px
				padding 20px 20px
				margin 0 0 28px 10px

			.center-holder
				width 300px
				padding 20px 0 20px 20px
				margin 0

				.logo
					padding 0 20px 20px 0
					margin 0 0 0 10px

					img
						float left
						height 30px
						padding 0
						margin 0
						font-size 22px

		.locator
			float left
			width 320px
			margin 0
			padding 0

			h2
				float left
				width 100%
				padding 0
				margin 0 0 18px 0

			.submit
				float left
				width 100%

			.locator-zip
				float left
				width 240px
				padding 20px 40px 30px 40px
				margin 0 0 20px 0

				input
					float left
					width 240px
					height 48px
					padding 0
					margin 0 20px 14px 0

			.locator-state
				float left
				width 240px
				padding 20px 40px 20px 40px
				margin 0 0 30px 0

				select
					width 240px
					height 52px
					padding 0
					margin 0 0 10px 0px


			.locator-results
				display none

		.testimonals-holder
			position relative
			width 320px
			padding 0
			margin 0 auto

			.testimonals
				width 320px
				padding 0
				margin 24px 0 0 0

				.testimonal
					width 280px
					padding 28px 20px 28px 20px
					margin 0 0 14px 0

					p
						padding 0
						margin 0 0 24px 0

					h2
						padding 0

					h3
						padding 0
						margin 0

				.testimonal.hide
					display none
