.page
	width 375px

	.main
		width 355px
		margin 0 0 0 10px

		.download
			width 345px
			margin 0 0 38px 10px

			.tag
				width 74px
				padding 12px 0 6px 0
				margin 0 10px 0 0

				p
					font-size 18px
					line-height 23px

				.fa-cloud
				.fa-mobile
				.fa-send
				.fa-file-text
					height 28px
					font-size 25px

				.fa-mobile
					height 36px
					margin -8px 0 0 -1px
					font-size 39px

				.fa-send
					font-size 21px

				.fa-file-text
					font-size 23px

	.points
		width 305px
		margin 0 0 20px 35px

		.point-container
			width 305px
			margin 0 0 14px 0

			.point
				display: inline-block

				.fa-certificate
					top -14px
					left -14px
					width 31px
					font-size 31px

				h3
					padding 8px 22px 16px 22px
					margin 0
					font-size 28px
					line-height 33px

					span
						padding 0 0 3px 0

	.center
		width 375px
		margin 0 0 30px 0

		.fa-certificate
			width 20px
			margin -16px 0 0 1px
			font-size 34px

		h1
			width 303px
			padding 10px 20px 10px 20px
			margin 0 0 14px 15px
			font-size 29px
			line-height 35px
			background $grey
			border $grey-border
			border-bottom $grey-border-bottom
			border-radius $border-radius

		.center-holder
			width 355px
			padding 34px 0 18px 20px
			margin 0

			.logo
				padding 0
				.albertsons
					width 210px
					margin 0 10px 26px 10px
				.ap
					width 84px
					margin 0 10px 26px 10px
				.costco
					width 150px
					margin 0 30px 20px 10px
				.medicap
					width 124px
					margin 0 10px 14px 10px
				.cvs
					width 240px
					margin 16px 10px 22px 0
				.publix
					width 56px
					margin 0 10px 22px 10px
				.duanereade
					width 160px
					margin 4px 20px 14px 0
				.intermountain
					width 150px
					margin 0 10px 18px 10px
				.kmart
					width 200px
					margin 20px 20px 10px 10px
				.kroger
					width 72px
					margin 4px 10px 14px 10px
				.longs
					width 200px
					margin 10px 20px 8px 0
				.stopshop
					width 92px
					margin 4px 10px 18px 10px
				.riteaid
					width 56px
					margin 18px 24px 10px 20px
				.starmarket
					width 220px
					margin 18px 0 20px 10px
				.walmart
					width 170px
					margin 8px 30px 14px 10px
				.safeway
					width 92px
					margin -10px 10px 18px 10px
				.vons
					width 92px
					margin 0 20px 10px 10px
				.winndixie
					width 190px
					margin 0 0 22px 10px
				.walgreens
					width 230px
					margin 10px 20px 0 0
				.shoprite
					width 90px
					margin -10px 20px 18px 30px
				.target
					width 66px
					margin 0px 10px 8px 0px
				.usadrug
					width 132px
					margin 0 10px 18px 10px

	.locator
		float left
		width 375px

		.locator-zip
		.locator-state
			float left
			width 295px
			padding 18px 20px 18px 20px
			margin 0 0 20px 20px

			h4
				float left
				width 275px
				padding 0
				margin 0 0 18px 10px
				font-size 30px
				line-height 38px

			input
				float left
				width 295px
				height 54px
				padding 0
				margin 0 0 10px 0
				font-size 27px
				line-height 27px

			select
				width 295px
				height 58px
				padding 2px 0 0 40px
				margin 0 0 10px 0
				font-size 26px
				line-height 26px

			.submit
				width 295px
				height 52px
				font-size 33px
				line-height 54px

		.locator-results
			width 375px
			padding 20px 0 25px 0
			margin 0 0 30px 0

			h4
				width 373px
				margin 0 0 22px 0

			.locator-results-content
				width 313px
				margin 0 30px

				.row-container
					width 313px

					p
						font-size 19px
						line-height 27px

					.pharmacy
						width 273px
						padding 12px 20px 10px 20px

					.address
						width 273px
						padding 12px 20px 10px 20px

					.phone
						width 273px
						padding 12px 20px 12px 20px

	.testimonals-holder
		width 335px
		margin 0 0 20px 20px

		.testimonals
			width 335px
			margin 0 0 20px 0

			.testimonal
				width 275px
				padding 42px 30px 28px 30px
				margin 0 0 14px 0
				background-size 100% 33px

				p
					margin 0 0 34px 0
					font-size 22px
					line-height 33px

				h2
					font-size 28px
					line-height 28px
					margin 0 0 10px 0

				h3
					font-size 23px
					line-height 23px