.page
	width 375px

    .content
		width 375px

		.main
			width 334px
			margin 0 0 0 20px

			.card
				width 304px
				padding 20px 0px 12px 30px
				margin 0 0 16px 0

				h2
					margin 0 0 8px 0
					font-size 29px
					line-height 35px

				.card-content
					width 305px

					.company
						margin 0 0 16px 0

						h5
							font-size 19px
							line-height 22px

						span
							margin 0 8px
							font-size 17px
							line-height 24px

					.patient-holder
						width 100%

						.row
							margin 0 0 12px 0

							input
								margin 0 0 12px 0
								font-size 18px
								line-height 24px

							h6
								width 76px
								padding 0
								margin 0
								font-size 9px
								line-height 9px

			.download
				width 344px
				margin 0 0 48px 0

				.tag
					width 76px
					padding 10px 0
					margin 0 10px 0 0

					p
						margin 2px 0 0 0
						font-size 18px
						line-height 18px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 26px
						font-size 21px
						line-height 21px

					.fa-mobile
						font-size 29px

					.fa-send
						font-size 16px

					.fa-file-text
						font-size 19px

		.points
			width 335px
			margin 0 0 10px 40px

			.point
				margin 0

				.fa-certificate
					width 56px
					font-size 40px
					line-height 44px

				.text
					width 263px
					margin 0 0 36px 0

					h3
						font-size 26px
						line-height 36px

						span
							padding 0 0 10px 0

		.center
			width 375px
			margin 0 0 20px 0

			.fa-certificate
				width 20px
				margin -18px 0 0 330px
				font-size 39px

			h1
				width 285px
				padding 14px 20px
				margin 0 0 18px 25px
				font-size 27px
				line-height 37px

			.center-holder
				width 355px
				padding 28px 0 24px 20px
				margin 0

				.logo
					padding 0 20px 20px 0
					margin 0 0 0 10px

					img
						float left
						height 30px
						padding 0
						margin 0

		.locator
			float left
			width 335px
			margin 0 0 0 20px
			padding 0

			.locator-zip
			.locator-state
				float left
				width 275px
				padding 20px 30px 20px 30px
				margin 0 0 20px 0

				h2
					float left
					width 100%
					padding 0
					margin 0 0 18px 0
					font-size 26px
					line-height 37px

				input
					float left
					width 255px
					height 48px
					padding 0
					margin 0 0 14px 10px

				select
					width 255px
					height 52px
					padding 0
					margin 0 0 10px 10px

				.submit
					float left
					width 255px
					padding 0
					margin 0 0 0 10px
					font-size 24px
					line-height 26px

			.locator-results
				display none

		.testimonals-holder
			width 335px
			margin 0 0 0 20px

			.testimonals
				width 335px
				margin 0 0 60px 0

				.testimonal
					width 295px
					padding 28px 20px 28px 20px
					margin 0 0 14px 0

					p
						margin 0 0 24px 0
						font-size 20px
						line-height 32px

					h2
						font-size 24px
						line-height 24px
						margin 0 0 12px 0

					h3
						font-size 20px
						line-height 20px