.legal-container
    width 338px

    .legal
        width 278px
        padding 26px 30px 20px 30px

        h1
            font-size 31px
            line-height 31px
            margin 0 0 16px 0

        .title-container
            width 278px

            .title
                display: inline-block

                h3
                    padding 4px 20px 2px 20px
                    margin 14px 0 8px 0
                    font-size 23px
                    line-height 31px

        h4
            margin 0 0 22px 0
            font-size 14px
            line-height 14px
        p
            font-size 16px
            line-height 26px
            margin 0 0 14px 0