.modal-holder
	position absolute
	width 340px
	margin 0 0 0 -170px
	top 0
	//right 500px
	left 50%
	z-index 99999

	.modal-container
		float left
		width 300px
		padding 18px 20px 28px 20px
		margin 12px 0 30px 0

		.fa-close
			float left
			width 20px
			padding 0
			margin 0 0 12px 140px

		h1
			float left
			width 300px

		h2
			float left
			width 300px
			padding 0 0 8px 0
			margin 0 0 30px 0

		.row
			float left
			width 300px

			input
				float left
				width 298px
				height 52px
				padding 0
				margin 0 0 15px 0

		.submit
			float left
			width 298px
			padding 8px 0 6px 0
			margin 0 0 20px 0


		.rx-card
			float left
			width 268px
			padding 22px 0px 18px 30px
			margin 0 0 20px 0

			h2
				float left
				width 100%
				margin 0 0 10px 0

			.card-content
				float left
				width 268px
				padding 0
				margin 0

				.card-headline
					float left
					width 100%

					.company
						float left
						width 100%

						h5
							float left
							font-style italic

						span
							float left
							margin 0 6px

					.patient-holder
						float left
						width 100%
						padding 0
						margin 0

						.row
							float left
							width 100%
							padding 0
							margin 0 0 10px 0

							h3
								float left
								width 100%
								padding 0
								margin 0 0 12px 0

							h6
								float left
								width 82px
								padding 0
								margin 0
		.legal
			float left
			width 288px
			padding 0
			margin 0 0 0 10px

			p
				float left
				width 100%
				padding 0
				margin 0 0 10px 0

			a
				color $burgundy