.filter-holder
    width 335px
    padding 24px 0 20px 0
    margin 0 0 20px 20px

    .filter-container
        width 335px

        input
            width 275px
            height 58px
            padding 2px 0 0 0
            margin 0 0 12px 30px
            font-size 29px
            line-height 30px

        .reset
            width 275px
            height 56px
            padding 0
            margin 0 0 0 30px

            .fa-times
                font-size 23px
                line-height 59px


.answers-holder
    width 335px

    .answer
        width 295px
        padding 24px 20px 20px 20px
        margin 0 0 14px 0

        h2
            width 275px
            padding 0 10px 12px 10px
            margin 0 0 20px 0
            font-size 30px
            line-height 36px

        p
            width 275px
            padding 0 10px
            margin 0 0 20px 0
            font-size 19px
            line-height 31px

        .tag-holder
            position relative
            width 295px
            padding 0
            margin 0 auto

            .tag
                margin 10px 8px 0 0
                padding 0

                h5
                    margin 0
                    padding 8px 16px
                    // font-style italic
