.page
	width 480px

	.main
		width 480px
		margin 0

		.download
			width 430px
			padding 0
			margin 0 0 38px 40px

			.tag
				width 89px
				padding 12px 0 6px 0
				margin 0 12px 0 0

				p
					font-size 19px
					line-height 24px

				.fa-cloud
				.fa-mobile
				.fa-send
				.fa-file-text
					height 31px
					font-size 27px
					line-height 22px

				.fa-mobile
					height 39px
					margin -8px 0 0 -8px
					font-size 41px

				.fa-send
					font-size 23px

				.fa-file-text
					font-size 24px

	.points
		width 480px
		margin 0 0 24px 0

		.point-container
			width 480px
			margin 0 0 14px 0

			.point
				display inline-block

				.fa-certificate
					top -14px
					left -17px
					width 36px
					font-size 31px

				h3
					padding 9px 24px 17px 24px
					margin 0
					font-size 30px
					line-height 38px

					span
						padding 0 0 3px 0

	.center
		width 480px
		margin 0 0 30px 0

		.fa-certificate
			width 20px
			margin -18px 0 0 405px
			font-size 35px

		h1
			width 338px
			padding 10px 20px 10px 20px
			margin 0 0 16px 55px
			font-size 31px
			line-height 37px

		.center-holder
			width 460px
			padding 28px 0 6px 20px
			margin 0

			.logo
				padding 0

				.albertsons
					width 190px
					margin 0 10px 22px 0

				.ap
					width 70px
					margin 0 20px 22px 10px

				.costco
					width 130px
					margin 0 14px 22px 0

				.medicap
					width 110px
					margin 0 20px 6px 5px

				.cvs
					width 210px
					margin 8px 20px 18px 5px

				.publix
					width 52px
					margin 0 10px 14px 0

				.duanereade
					width 140px
					margin 8px 10px 0 0

				.intermountain
					width 136px
					margin 0 0 14px 10px

				.kmart
					width 140px
					margin 10px 0 24px 10px

				.kroger
					width 58px
					margin 10px 20px 0 0

				.longs
					width 160px
					margin 14px 20px 8px 0

				.stopshop
					width 80px
					margin 4px 10px 18px 10px

				.riteaid
					width 46px
					margin 10px 25px 16px 25px

				.starmarket
					width 180px
					margin 18px 20px 14px 0

				.walmart
					width 140px
					margin 18px 10px 14px 0

				.safeway
					width 90px
					margin -10px 0 10px 0

				.vons
					width 76px
					margin 0px 15px 0 0

				.winndixie
					width 150px
					margin 0 15px 10px 0

				.walgreens
					width 190px
					margin 0 0 0 0

				.shoprite
					width 90px
					margin 5px 10px 18px 30px

				.target
					width 56px
					margin 10px 10px 14px 30px

				.usadrug
					width 120px
					margin 10px 10px 18px 10px

	.locator
		width 480px

		.locator-zip
		.locator-state
			width 358px
			padding 18px 20px 20px 20px
			margin 0 0 20px 40px

			h4
				width 278px
				padding 0
				margin 0 0 20px 40px
				font-size 32px
				line-height 40px

			input
				width 316px
				height 56px
				margin 0 20px 14px 20px
				font-size 29px
				line-height 29px

			select
				width 316px
				height 60px
				padding 2px 0 0 30px
				margin 0 0 14px 20px
				font-size 28px
				line-height 28px

			.submit
				width 316px
				height 54px
				padding 0
				margin 0 0 0 20px
				font-size 34px
				line-height 56px

		.locator-results
			width 480px
			padding 20px 0 25px 0
			margin 0 0 30px 0

			h4
				width 480px
				margin 0 0 18px 0
				font-size 31px
				line-height 39px

			.locator-results-content
				width 400px
				margin 0 40px

				.row-container
					width 400px

					p
						font-size 20px
						line-height 28px

					.pharmacy
						width 340px
						padding 12px 30px 10px 30px

					.address
						width 340px
						padding 12px 30px 10px 30px

					.phone
						width 340px
						padding 12px 30px 10px 30px

	.testimonals-holder
		width 400px
		margin 0 0 0 40px

		.testimonals
			width 400px
			margin 0 0 20px 0

			.testimonal
				width 320px
				padding 43px 40px 32px 40px
				margin 0 0 16px 0
				background-size 100% 34px

				p
					margin 0 0 35px 0
					font-size 23px
					line-height 34px

				h2
					font-size 29px
					line-height 29px
					margin 0 0 10px 0

				h3
					font-size 24px
					line-height 24px