.page
    .content
        .contact-holder
            .contact-detail
                h2 National RX Card, LLC
                .contact-container
                    a(href="mailto:info@nationalrxcard.com") info@natonalrxcard.com
                    a(href="tel:+1-855-525-6375") 1-855 525-6375
                    h4 PO Box 981743<br> Park City, Utah, 84098

            form.contact-form(name='user', id='user', data-ng-model='data', data-ng-submit='sendContact(user.$valid)', ng-show='!contacted', novalidate)
                .row
                    input(type="text", data-ng-model='data.name', placeholder="Name", required)
                .row
                    input(type="email", data-ng-model='data.email', placeholder="Email", required)
                .row
                    input(type="text", data-ng-model='data.phone', placeholder="Phone")
                .row
                    textarea(data-ng-model='data.message', placeholder="Message", required)

                button.submit(type='submit', ng-disabled='user.$invalid') Submit

            .contact-detail(ng-show='contacted')
                h2 Thank You {{data.name}} for<br>Using The National Rx Card
                .contact-container
                    h3 We appreciate your time contact us, and we will respond within three business days.

        .map
            #map_canvas
                ui-gmap-google-map(center='map.center', zoom='map.zoom', options='options')
                    ui-gmap-marker(coords='marker.coords', options='marker.options', icon='marker.options.icon', idkey='marker.id')
