header
	float left
	width 100%
	top 0
	padding 0
	margin 0
	background $header
	border-bottom $border-header

	.header
		position relative
		width 280px
		height 138px
		padding 0
		margin 0 auto

		.brand
			float left
			width 280px
			height 100%
			padding 0
			margin 0

			.logo
				float left
				width 278px
				height 128px
				padding 10px 0 0 0
				margin 0
				font-size 14px
				line-height 50px
				// background #d1d1d1
				border 1px dotted $black
				border-top none
				border-bottom none
				text-align center

				.mobile-navigation-button
					float left
					width 258px
					padding 10px 0 10px 0
					margin 60px 0 10px 10px
					background $card
					border $border
					border-radius 4px

					h5
						float left
						width 258px
						font-size 22px
						line-height 24px
						text-align center
						text-shadow $white-shadow

		nav
			display none
			// float left
			// width 769px
			// height 98px
			// padding 0
			// margin 0
			// border-right $border-header
			//
			// .tile
			// 	float right
			// 	height 78px
			// 	padding 0 36px 0 36px
			// 	margin 0
			// 	background $header-tile
			// 	border-left $border-header
			// 	cursor pointer
			//
			// 	h4
			// 		float left
			// 		padding 0
			// 		margin 18px 0 0 0
			// 		font-style italic
			// 		font-weight 500
			// 		font-size 21px
			// 		line-height 26px
			// 		color $white
			// 		text-align center
			// 		text-shadow $shadow
			//
			// .tile.active
			// 	height 79px
			// 	background $background
			// 	border-left $border-header
			//
			// 	h4
			// 		margin 19px 0 0 0
			// 		font-style normal
// md-sidenav.md-closed
// 	display: none

// md-sidenav
// 	position: absolute;
// 	-webkit-flex-direction: column;
// 	-ms-flex-direction: column;
// 	flex-direction: column;
// 	width: 144px
// 	max-width: 144px
// 	height 600px
// 	max-height 700px
// 	// height 100%
// 	// min-height 100%
// 	bottom: 0
// 	background none
// 	outline none
// 	overflow: none
// 	box-sizing: border-box;
// 	left: 0
// 	top: 0
// 	z-index: 999999
// 	-webkit-transform: translate3d(0%, 0, 0)
// 	transform: translate3d(0%, 0, 0)
// 	overflow scroll
//
//  md-sidenav.md-closed
// 	//-webkit-transform: translate3d(-100%, 0, 0);
// 	transform: translate3d(-100%, 0, 0)
//
// md-sidenav.md-closed-remove
// 	display: -webkit-flex
// 	display: -ms-flexbox
// 	display: flex
// 	transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1)
//
// md-sidenav.md-closed-add.md-closed-add-active, md-sidenav.md-closed-remove.md-closed-remove-active
// 	transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1)
//
// md-sidenav.md-locked-open-add,
// md-sidenav.md-locked-open-remove
// 	position: static
// 	display: -webkit-flex
//  	display: -ms-flexbox
// 	display: flex
// 	-webkit-transform: translate3d(0, 0, 0)
// 	transform: translate3d(0, 0, 0)