header
	float left
	width 100%
	padding 0
	margin 0 0 20px 0
	background $header
	border-bottom $border-header

	.header
		position relative
		width 280px
		padding 0
		margin 0 auto

		.brand
			float left
			width 100%
			padding 0 0 12px 0
			margin 0

			.logo
				float left
				width 240px
				padding 0
				margin 6px 0 16px 20px

				img
					float left
					width 100%
					height 100%

			.mobile-navigation
				float left
				width 260px
				padding 10px 0 8px 0
				margin 0 0 0 10px
				background $burgundy
				border-bottom 4px solid $burgundy-border
				border-radius $border-radius
				cursor pointer

				h5
					float left
					width 100%
					padding 0
					margin 0
					font-weight 600
					font-size 22px
					line-height 22px
					color $white
					text-align center
					text-shadow $burgundy-text-shadow

		nav
			display none
