.card
.card-modal
	float left
	width 254px
	padding 18px 0px 12px 26px
	margin 0 0 12px 0
	background $card
	border-top none
	border-bottom 4px solid #333
	border-radius 8px
	overflow hidden

	.card-logo
		position absolute
		width 52px
		padding 0
		margin 104px 0 0 180px
		z-index 1

		img
			float left
			width 100%

	.card-content
		position relative
		width 250px
		padding 0
		margin 0
		z-index 99

		h1
			float left
			width 100%
			margin 0 0 6px 0
			font-weight 600
			font-size 29px
			line-height 35px
			text-align left

		.company
			float left
			width 100%
			margin 0 0 18px 0

			h5
				float left
				font-style italic
				font-weight 500
				font-size 19px
				line-height 19px
				color $black
				text-align left
				text-shadow $white-shadow

			span
				float left
				margin 0 8px
				font-size 17px
				line-height 19px
				color $grey
				text-align left

		.patient-holder
			float left
			width 100%
			padding 0
			margin 0

			p
				float left
				width 100%
				padding 0
				margin 0 0 22px 0
				font-weight 500
				font-size 20px
				line-height 20px
				color $grey-light
				background none
				border none
				outline none
				text-align left
				text-shadow $white-shadow

			.row
				float left
				width 100%
				padding 0
				margin 0 0 9px 0

				h6
					float left
					width 72px
					padding 0
					margin 0
					font-weight 700
					font-size 10px
					line-height 10px
					color $grey-light
					text-shadow $white-shadow

.page
	position relative
	width 320px
	padding 0
	margin 0 auto

    .content
		float left
		width 320px
		margin 0
		padding 0

		.main
			float left
			width 280px
			padding 0
			margin 0 0 0 20px

			.download
				float left
				width 300px
				padding 0
				margin 0 0 38px 0

				.tag
					float left
					width 61px
					padding 12px 0 10px 0
					margin 0 12px 0 0
					background $tag
					border-bottom 4px solid $tag-border
					border-radius 8px
					cursor pointer

					p
						float left
						width 100%
						padding 0
						margin 0
						font-style italic
						font-weight 600
						color $white
						font-size 15px
						line-height 15px
						text-align center
						text-shadow $shadow

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						float left
						width 100%
						padding 0
						margin 0
						height 32px
						font-size 22px
						color $white
						text-align center
						text-shadow $shadow

					.fa-mobile
						height 40px
						margin -8px 0 0 -2px
						font-size 35px

					.fa-send
						font-size 18px

					.fa-file-text
						font-size 20px

		.points
			float left
			width 240px
			padding 0
			margin 0 0 10px 40px

			.point
				float left
				width 240px
				padding 0
				margin 0 0 14px 0
				background $header-tile
				border-bottom 4px solid #333
				border-radius 12px

				.text
					float left
					width 240px
					padding 8px 0 18px 0

					.fa-certificate
						position absolute
						width 31px
						padding 0
						margin -20px 0 0 -12px
						color $yellow
						font-size 31px
						text-shadow $shadow

					h3
						float left
						width 100%
						padding 0
						margin 0
						font-weight 500
						font-size 23px
						line-height 28px
						color $white
						text-align center
						text-shadow $shadow

						span
							padding 0 0 4px 0
							font-weight 500
							font-style italic
							border-bottom 4px solid $yellow

		.center
			float left
			width 100%
			padding 0
			margin 0 0 20px 0

			.fa-certificate
				position absolute
				width 20px
				margin -18px 0 0 270px
				font-size 39px
				color $yellow
				text-shadow $shadow

			h1
				float left
				width 220px
				padding 14px 20px
				margin 0 0 18px 30px
				font-weight 500
				font-size 27px
				line-height 35px
				color $white
				text-align center
				text-shadow $shadow
				background $header-tile
				border-bottom 4px solid #333
				border-radius 8px

			.center-holder
				float left
				width 300px
				padding 20px 0 24px 20px
				margin 0
				background #FFF
				border-left none
				border-right none
				border-bottom 4px solid #333

				.logo
					float left
					padding 0 20px 20px 0
					margin 0 0 0 10px

					img
						float left
						height 30px
						padding 0
						margin 0
						font-size 22px

		.locator
			float left
			width 280px
			margin 0 0 0 20px
			padding 0

			.locator-zip
			.locator-state
				float left
				width 240px
				padding 20px 20px 20px 20px
				margin 0 0 20px 0
				background $header-tile
				border-bottom 4px solid #333
				border-radius 12px

				h2
					float left
					width 100%
					padding 0
					margin 0 0 18px 0
					font-weight 500
					font-size 27px
					line-height 35px
					color $white
					text-align center
					text-shadow $shadow

				input
					float left
					width 200px
					height 48px
					padding 0
					margin 0 0 14px 20px
					font-weight 500
					font-size 23px
					line-height 23px
					border none
					border-bottom 4px solid #333
					border-radius 8px
					text-align center
					cursor pointer

				select
					float left
					width 200px
					height 52px
					padding 0
					margin 0 0 10px 20px
					font-weight 400
					font-size 23px
					line-height 23px
					background $white
					border none
					border-bottom 4px solid #333
					border-radius 8px
		            appearance:none
					-webkit-appearance none
					-moz-appearance none

				.submit
					float left
					width 200px
					margin 0 0 0 20px
					height 48px
					font-size 23px
					line-height 25px
					color $white
					border none
					background $burgundy
					border-bottom 4px solid $burgundy-border
					border-radius 8px
					cursor pointer

			.locator-results
				display none

		.testimonals-holder
			float left
			width 280px
			padding 0
			margin 0 0 0 20px

			.testimonals
				float left
				width 280px
				padding 0
				margin 0 0 30px 0

				.testimonal
					float left
					width 220px
					padding 30px 30px 28px 30px
					margin 0 0 14px 0
					background $white
					border-bottom 4px solid #333
					border-radius 12px

					p
						float left
						width 100%
						padding 0
						margin 0 0 18px 0
						font-style italic
						font-weight 600
						font-size 21px
						line-height 32px
						color $black
						text-align center
						text-shadow $white-shadow

					h2
						float left
						width 100%
						padding 0
						font-weight 600
						font-size 23px
						line-height 23px
						margin 0 0 12px 0
						text-align center
						text-shadow $white-shadow

					h3
						float left
						width 100%
						padding 0
						margin 0
						font-style italic
						font-weight 500
						font-size 20px
						line-height 20px
						text-align center
						text-shadow $white-shadow

				.testimonal.hide
					display none