.page
	position relative
	width 320px
	padding 0
	margin 0 auto
	overflow hidden

	// .content
	// 	float left
	// 	width 320px
	// 	margin 0
	// 	padding 0

	.main
		float left
		width 320px
		padding 0
		margin 0

		.download
			float left
			width 300px
			padding 0
			margin 0 0 38px 16px

			.tag
				float left
				width 63px
				padding 10px 0 6px 0
				margin 0 12px 0 0
				background $burgundy
				border-bottom 4px solid $burgundy-border
				border-radius $border-radius
				cursor pointer

				p
					float left
					width 63px
					padding 0
					margin 0
					font-weight 400
					color $white
					font-size 17px
					line-height 20px
					text-align center
					text-shadow $burgundy-text-shadow

				p.full
					display none

				.fa-cloud
				.fa-mobile
				.fa-send
				.fa-file-text
					float left
					width 100%
					padding 0
					margin 0
					height 26px
					font-size 22px
					color $white
					text-align center
					text-shadow $burgundy-text-shadow

				.fa-mobile
					height 33px
					margin -6px 0 0 0px
					font-size 35px

				.fa-send
					font-size 18px

				.fa-file-text
					font-size 19px

	.points
		float left
		width 300px
		padding 0
		margin 0 0 10px 10px

		.point-container
			width 300px
			margin 0 0 14px 0
			text-align center

			.point
				display: inline-block
				position relative
				padding 0
				margin 0 auto
				z-index 99

				.fa-certificate
					position absolute
					width 31px
					padding 0
					margin 0
					top -13px
					left -14px
					color $yellow
					font-size 29px
					text-shadow $yellow-text-shadow

				h3
					float left
					padding 8px 24px 18px 24px
					margin 0
					font-weight 500
					font-size 27px
					line-height 32px
					color $white
					text-align center
					background $burgundy
					border-bottom 4px solid $burgundy-border
					border-radius $border-radius
					text-shadow $burgundy-text-shadow

					span
						padding 0 0 4px 0
						margin 0
						font-weight 500
						font-style italic
						border-bottom 3px solid $yellow

	.center
		float left
		width 100%
		padding 0
		margin 0 0 20px 0

		.fa-certificate
			position absolute
			width 20px
			margin -18px 0 0 282px
			font-size 34px
			color $yellow
			text-shadow $yellow-text-shadow

		h1
			float left
			width 240px
			padding 12px 20px 12px 20px
			margin 0 0 14px 20px
			font-weight 500
			font-size 28px
			line-height 36px
			color $white
			background $grey
			border-bottom 4px solid $grey-border
			border-radius $border-radius
			text-align center
			text-shadow $grey-text-shadow

		.center-holder
			float left
			width 310px
			padding 30px 0 10px 10px
			margin 0
			background $header
			border-left none
			border-right none
			border-bottom 4px solid #333

			.logo
				float left
				// height 40px
				padding 0

				.albertsons
					float left
					width 190px
					margin 0 10px 22px 10px

				.ap
					float left
					width 70px
					margin 0 10px 22px 10px

				.costco
					float left
					width 130px
					margin 0 14px 2px 20px

				.medicap
					float left
					width 110px
					margin 0 10px 10px 10px

				.cvs
					float left
					width 210px
					margin 18px 10px 22px 5px

				.publix
					float left
					width 52px
					margin 4px 10px 14px 5px

				.duanereade
					float left
					width 140px
					margin 8px 8px 0 0

				.intermountain
					float left
					width 140px
					margin 0 0 18px 10px

				.kmart
					float left
					width 160px
					margin 10px 30px 18px 10px

				.kroger
					float left
					width 58px
					margin 4px 10px 8px 10px

				.longs
					float left
					width 160px
					margin 10px 20px 8px 10px

				.stopshop
					float left
					width 80px
					margin 4px 10px 18px 10px

				.riteaid
					float left
					width 46px
					margin 10px 25px 16px 25px

				.starmarket
					float left
					width 180px
					margin 10px 0 18px 10px

				.walmart
					float left
					width 140px
					margin 4px 20px 18px 15px

				.safeway
					float left
					width 90px
					margin -16px 10px 18px 10px

				.vons
					float left
					width 80px
					margin -5px 20px 0 15px

				.winndixie
					float left
					width 160px
					margin 0 0 14px 10px

				.walgreens
					float left
					width 190px
					margin 10px 20px 0px 10px

				.shoprite
					float left
					width 90px
					margin -10px 10px 18px 30px

				.target
					float left
					width 56px
					margin 0 10px 18px 0

				.usadrug
					float left
					width 120px
					margin 0 10px 18px 10px


	.locator
		float left
		width 320px
		margin 0
		padding 0

		.locator-zip
		.locator-state
			float left
			width 240px
			padding 20px 20px 20px 20px
			margin 0 0 30px 20px
			background $grey
			border-bottom 4px solid $grey-border
			border-radius $border-radius

			h4
				float left
				width 100%
				padding 0
				margin 0 0 18px 0
				font-weight 500
				font-size 27px
				line-height 35px
				color $white
				text-align center
				text-shadow $grey-text-shadow

			input
				float left
				width 240px
				height 52px
				padding 0
				margin 0 0 14px 0
				font-weight 500
				font-size 25px
				line-height 25px
				border none
				border-bottom 4px solid #333
				border-radius $border-radius
				text-align center
				cursor pointer

			::-webkit-input-placeholder
				line-height: normal

			select
				float left
				width 240px
				height 56px
				padding 2px 0 0 20px
				margin 0 0 10px 0
				font-weight 500
				font-size 25px
				line-height 25px
				color $grey
				background $white
				border none
				border-bottom 4px solid #333
				border-radius $border-radius
				appearance none
				-webkit-appearance none
				-moz-appearance none

			.submit
				float left
				width 240px
				margin 0
				height 48px
				font-size 27px
				line-height 51px
				color $white
				border none
				background $burgundy
				border-bottom 4px solid $burgundy-border
				border-radius $border-radius
				box-shadow none
				text-align center
				text-shadow $burgundy-text-shadow
				cursor pointer

		.locator-results
			float left
			width 320px
			padding 20px 0 25px 0
			margin 0 0 30px 0
			background $grey
			border-bottom 4px solid #333

			h4
				float left
				width 320px
				margin 0 0 18px 0
				font-weight 500
				font-size 27px
				line-height 35px
				color $white
				text-align center
				text-shadow $grey-text-shadow

			.locator-results-content
				float left
				width 280px
				padding 0
				margin 0 20px
				// background $white
				// border $black-border

				.row-container
					float left
					width 280px
					background $white
					border-bottom 4px solid #333
					border-radius $border-radius
					margin 0 0 12px 0

					p
						float left
						width 100%
						font-weight 600
						font-size 18px
						line-height 26px
						color $black
						text-align center

					.pharmacy
						float left
						width 240px
						padding 12px 20px 12px 20px
						border-bottom 1px dotted #ccc

					.address
						float left
						width 240px
						padding 12px 20px 12px 20px
						border-bottom 1px dotted #ccc

					.phone
						float left
						width 240px
						padding 12px 20px 12px 20px

	.testimonals-holder
		float left
		width 280px
		padding 0
		margin 0 0 0 20px

		.testimonals
			float left
			width 280px
			padding 0
			margin 0 0 30px 0
			font-size: 0

			.testimonal
				display: inline-block;
				vertical-align: top;
				margin: 0 1% 16px 0;
				font-size: 16px;
				width 240px
				padding 40px 20px 28px 20px
				margin 0 0 14px 0
				background $white
				background-image linear-gradient(#f1f1f1 .1em, transparent .1em)
				background-size 100% 1.9em
				border-bottom 4px solid #333
				border-radius $border-radius

				p
					float left
					width 100%
					padding 0
					margin 0 0 33px 0
					font-style italic
					font-weight 500
					font-size 20px
					line-height 30px
					color #333
					text-align center
					text-shadow none

				h2
					float left
					width 100%
					padding 0
					font-weight 600
					font-size 25px
					line-height 25px
					margin 0 0 9px 0
					text-align center
					text-shadow none

				h3
					float left
					width 100%
					padding 0
					margin 0
					font-style italic
					font-weight 500
					font-size 21px
					line-height 21px
					text-align center
					text-shadow none

			.testimonal.hide
				display none
