.page
	position relative
	width 100%
	padding 0
	margin 0 auto

	.content-holder
		position relative
		width 280px
		margin 0 auto
		z-index 100

        .content
			float left
			width 280px
			margin 0
			padding 0

			.main
				float left
				width 280px
				padding 0
				margin 30px 0 40px 0

				.rx-card
					float left
					width 260px
					padding 20px 0px 20px 20px
					margin 0 0 20px 0
					background $card
					border-bottom 4px solid #333
					border-radius 12px

					h2
						float left
						width 100%
						margin 0 0 12px 0
						font-weight 600
						font-size 28px
						line-height 30px
						text-align left
					//
					// .card-logo
					// 	position absolute
					// 	width 100px
					// 	height 160px
					// 	padding 0
					// 	margin 30px 0 0 140px
					// 	background none
					// 	z-index 1
					//
					// 	img
					// 		display none
					// 		float left
					// 		width 100%
					// 		height 100%

					.card-content
						float left
						width 260px
						// height 190px
						padding 0
						margin 0
						z-index 10

						.card-headline
							float left
							width 100%

							.company
								float left
								width 100%
								margin 0 0 20px 0

								h5
									float left
									font-style italic
									font-weight 500
									font-size 18px
									line-height 22px
									color $black
									text-align left

								span
									float left
									margin 0 6px
									font-size 16px
									line-height 23px
									color $grey
									text-align left

							.patient-holder
								float left
								width 100%
								padding 0
								margin 0

								.row
									float left
									width 100%
									padding 0
									margin 0 0 12px 0

									input
										float left
										width 100%
										margin 0 0 18px 0
										font-weight 500
										font-size 22px
										line-height 24px
										color $grey-light
										background none
										border none
										outline none
										text-align left

									h6
										float left
										width 82px
										padding 0
										margin 0
										font-weight 700
										font-size 11px
										line-height 11px
										color $grey-light

				.rx-card-download
					float left
					width 260px
					padding 0 0 0 22px
					margin 0

					.column
						float left
						width 45px
						padding 5px 0 5px 5px
						margin 0 10px 10px 0
						background $header-tile
						border-bottom 4px solid #333
						border-radius 8px
						cursor pointer

						p
							float left
							width 100%
							padding 0
							margin 0
							font-weight 500
							color $white
							font-size 14px
							line-height 20px
							text-align center
							text-shadow $shadow

							span.fa-cloud
							span.fa-mobile
							span.fa-send
							span.fa-file-text
								float left
								width 100%
								padding 0
								margin 0
								height 26px
								font-size 22px
								text-align center

							span.fa-mobile
								height 26px
								font-size 26px
								margin 0

							span.fa-send
								font-size 20px

							span.fa-file-text
								font-size 22px

			.points
				float left
				width 280px
				//height 406px
				padding 0 0 0 20px
				margin 0 0 20px 0
				// background $header-tile
				// border-bottom 4px solid #333
				// border-radius 8px

				.point
					float left
					width 100%
					padding 0
					margin 0 0 25px 0

					div.fa-certificate
						float left
						width 56px
						padding 0
						margin 0
						color #ff9
						font-size 30px
						text-shadow $shadow
						//background #ff9

					.text
						float left
						width 204px
						padding 0
						margin 0

						h3
							float left
							width 100%
							padding 0
							margin 0
							font-weight 600
							font-size 18px
							line-height 24px
							color $white
							text-align left
							text-shadow $shadow

							span
								padding 0 0 10px 0
								font-style italic
								border-bottom 6px solid #666

			.center
				float left
				width 280px
				padding 0
				margin 0 0 40px 0

				span.fa-certificate
					position absolute
					width 20px
					margin -16px 0 0 270px
					font-size 30px
					color #ff9
					text-shadow $shadow

				h1
					float left
					width 270px
					//height 40px
					padding 5px
					margin 0 0 28px 0
					font-weight 500
					font-size 18px
					line-height 24px
					color $white
					text-align center
					text-shadow $shadow
					background $header-tile
					border-bottom 4px solid #333
					border-radius 8px

				.center-holder
					float left
					width 260px
					padding 20px 0 20px 20px
					margin 0
					background #FFF
					border-bottom 4px solid #333
					border-radius 12px

					.logo
						float left
						padding 0 20px 20px 0
						margin 0 0 0 10px

						img
							float left
							height 30px
							padding 0
							margin 0
							font-size 22px

			.locator
				float left
				width 280px
				margin 0
				padding 0

				h2
					float left
					width 100%
					padding 0
					margin 0 0 18px 0
					font-weight 500
					font-size 29px
					line-height 64px
					color $white
					text-align center
					text-shadow $shadow

				.submit
					float left
					width 80px
					height 52px
					font-size 23px
					line-height 49px
					color $white
					border none
					background $header-tile
					border-bottom 4px solid #333
					border-radius 8px
					cursor pointer

				.locator-zip
					float left
					width 300px
					padding 10px 40px 30px 40px
					margin 0 20px 0 0
					background $header-tile
					border-bottom 4px solid #333
					border-radius 12px

					input
						float left
						width 158px
						height 48px
						padding 0
						margin 0 20px 0 0
						font-size 23px
						font-weight 500
						line-height 23px
						border none
						border-bottom 4px solid #333
						border-radius 8px
						text-align center
						cursor pointer

				.locator-state
					float left
					width 520px
					padding 10px 40px 30px 40px
					margin 0 0 30px 0
					background $header-tile
					border-bottom 4px solid #333
					border-radius 12px

					select
						float left
						width 178px
						height 52px
						padding 0
						margin 0 20px 0 0
						font-weight 400
						font-size 23px
						line-height 23px
						background $white
						border none
						border-bottom 4px solid #333
						border-radius 8px
			            appearance:none
						-webkit-appearance none
						-moz-appearance none

				.locator-results
					float left
					width 920px
					background $header-tile
					padding 40px 40px 35px 40px
					border-radius 12px
					border-bottom 4px solid #333

					h2
						float left
						width 100%
						padding 0
						margin 0 0 28px 0
						font-weight 500
						font-size 39px
						line-height 39px
						color $white
						text-align center
						text-shadow $shadow

					.locator-results-content
						float left
						width 920px
						padding 0
						background $white

						.row
							float left
							width 100%
							height 44px
							border-bottom 1px solid #ccc

							h4
								float left
								width 100%
								font-weight 600
								font-size 19px
								line-height 46px
								color $grey

							h4.title
								font-size 20px
								color $black

							.pharmacy
								float left
								width 250px
								height 44px
								padding 0 0 0 20px
								border-right 1px solid #ccc

							.address
								float left
								width 270px
								height 44px
								padding 0 0 0 20px
								border-right 1px solid #ccc

							.phone
								float left
								width 179px
								height 44px
								padding 0
								border-right 1px solid #ccc

								h4
									text-align center

							.directions
								float left
								width 168px
								height 44px
								padding 0

								h4
									text-align center


			.testimonals-holder
				position relative
				width 1000px
				padding 0
				margin 0 auto

				.testimonals
					float left
					width 1020px
					padding 0
					margin 0 0 60px 0

					.testimonal
						float left
						width 240px
						padding 28px 40px 28px 40px
						margin 40px 20px 0 0
						background $card
						border-bottom 4px solid #333
						border-radius 12px

						p
							float left
							width 100%
							padding 0
							margin 0 0 24px 0
							font-style italic
							font-weight 600
							font-size 19px
							line-height 31px
							color $black
							text-align center
							text-shadow $white-shadow
						h2
							float left
							width 100%
							padding 0
							font-weight 600
							font-size 23px
							line-height 23px
							margin 0 0 12px 0
							text-align center
							text-shadow $white-shadow

						h3
							float left
							width 100%
							padding 0
							margin 0
							font-weight 500
							font-size 17px
							line-height 17px
							text-align center
							text-shadow $white-shadow

					.testimonal.hide
						display none
