.legal-container
    position relative
    width 298px
    padding 0
    margin 0 auto
    border $border
    border-bottom none

    .legal
        float left
        width 238px
        padding 22px 30px 20px 30px
        background $white

        h1
            float left
            width 100%
            font-size 29px
            line-height 29px
            margin 0 0 16px 0
            text-align center

        .title-container
            width 238px
            text-align center

            .title
                display: inline-block
                position relative
                margin 0 auto
                z-index 99

                h3
                    float left
                    padding 4px 20px 2px 20px
                    margin 14px 0 8px 0
                    font-weight 500
                    font-size 21px
                    line-height 29px
                    color $white
                    background $burgundy
                    border-bottom 4px solid $burgundy-border
                    border-radius 8px
                    text-align center
                    text-shadow $burgundy-text-shadow

        h4
            float left
            width 100%
            margin 0 0 22px 0
            font-style italic
            font-size 13px
            line-height 13px
            color $grey
            text-align center

        p
            float left
            width 100%
            font-size 15px
            line-height 25px
            margin 0 0 14px 0
            text-align center