// .gmnoprint
// a[href]
//     display none !important

.map-holder
    position: relative
    width 300px
    height 380px
    margin 0 auto
    z-index: 98

    .map
        float: left
        width 298px
        height 380px
        border $border-light

        .directions
            position: absolute
            width 130px
            padding: 12px 10px 5px 10px
            background rgba(255, 255, 255, .8)
            margin 14px 0 0 136px
            z-index: 9999
            border $border-light

        .car
            display none

        h4
            float: left
            width 100%
            margin 0 0 4px 0
            font-weight 500
            font-size 18px
            line-height 18px
            text-align: center

        input
            float: left
            width 128px
            height 33px
            padding 1px 0 0 0
            margin 6px 0
            font-size 13px
            line-height 13px
            color #444
            text-align center
            background $white
            border $border-light
            -webkit-appearance none
            -moz-appearance none
            appearance none

        .submit
            float: left
            width 140px
            height 36px
            margin 6px 0 8px 0
            font-size 14px
            line-height 36px
            text-align: center
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            background-image: linear-gradient(to bottom, #444444, #222222);
            background-repeat: repeat-x;
            color #fff
            border-radius 4px


    //
    // #map_canvas
    //     float: left
    //     width 100%
    //     height 100%

.map-full
    height 500px