.modal-holder
	position absolute
	width 300px
	margin 0 0 0 -150px
	top 0
	left 50%
	z-index 9999999

	.modal-container
		float left
		width 280px
		padding 14px 10px 28px 10px
		margin 8px 0 0 0
		background $background-texture
		border $border
		border-radius 4px

		.fa-close
			float left
			width 20px
			padding 0
			margin 0 0 12px 130px
			font-weight 600
			font-size 20px
			line-height 25px
			color $grey
			text-align center
			cursor pointer

		.row
			float left
			width 280px
			padding 0
			margin 0

			input
				float left
				width 278px
				height 58px
				padding 4px 0 0 0
				margin 0 0 12px 0
				font-size 25px
				line-height 25px
				text-align center
				background $white
				border none
				border-bottom 4px solid #666
				border-radius 8px

		.submit
			float left
			width 278px
			padding 8px 0 6px 0
			margin 0 0 14px 0
			font-weight 600
			font-size 25px
			line-height 28px
			color $white
			background $tag
			border none
			border-bottom 4px solid $tag-border
			border-radius 8px
			box-shadow none
			box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
			box-shadow 1px 1px 4px #aaa
			text-align center
			text-shadow $dark-shadow
			vertical-align middle;
			user-select none
			cursor pointer

		.legal
			float left
			width 260px
			padding 0
			margin 10px 0 0 10px

			p
				float left
				width 100%
				padding 0
				margin 0 0 14px 0
				font-weight 500
				font-size 16px
				line-height 26px
				text-align center

			a
				float left
				font-weight 400
				font-size 16px
				line-height 25px
				color $burgundy