.modal-holder
	position absolute
	width 300px
	margin 0 0 0 -150px
	top 0
	left 50%
	z-index 9999999

	.modal-container
		float left
		width 280px
		padding 18px 10px 28px 10px
		margin 12px 0 30px 0
		background $background-texture
		border $border
		border-right none
		border-left none
		border-radius 4px

		.fa-close
			float left
			width 20px
			padding 0
			margin 0 0 12px 120px
			font-weight 600
			font-size 15px
			line-height 15px
			color $grey
			text-align center
			// text-shadow $shadow
			cursor pointer

		.row
			float left
			width 280px
			padding 0
			margin 0

			input
				float left
				width 278px
				height 52px
				padding 0
				margin 0 0 15px 0
				font-size 19px
				line-height 25px
				text-align center
				border $border

		.submit
			float left
			width 238px
			padding 8px 20px 6px 20px
			margin 0 0 20px 0
			font-weight 600
			font-size 27px
			line-height 30px
			color $white
			background $background
			border none
			border $border
			border-radius 8px
			box-shadow none
			box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
			box-shadow 1px 1px 4px #aaa
			text-align center
			text-shadow $dark-shadow
			vertical-align middle;
			user-select none
			cursor pointer


		.rx-card
			float left
			width 248px
			padding 22px 0px 18px 30px
			margin 0 0 20px 0
			background $card
			border-bottom 4px solid #333
			border-radius 12px

			h2
				float left
				width 100%
				margin 0 0 10px 0
				font-weight 600
				font-size 29px
				line-height 35px
				text-align left

			.card-content
				float left
				width 250px
				padding 0
				margin 0
				z-index 10

				.card-headline
					float left
					width 100%

					.company
						float left
						width 100%
						margin 0 0 18px 0

						h5
							float left
							font-style italic
							font-weight 500
							font-size 18px
							line-height 22px
							color $black
							text-align left
							text-shadow $white-shadow

						span
							float left
							margin 0 6px
							font-size 16px
							line-height 23px
							color $grey
							text-align left

					.patient-holder
						float left
						width 100%
						padding 0
						margin 0

						.row
							float left
							width 100%
							padding 0
							margin 0 0 10px 0

							input
								float left
								width 100%
								padding 0
								margin 0 0 12px 0
								font-weight 500
								font-size 19px
								line-height 24px
								color $grey-light
								background none
								border none
								outline none
								text-align left
								text-shadow $white-shadow

							h6
								float left
								width 82px
								padding 0
								margin 0
								font-weight 700
								font-size 10px
								line-height 10px
								color $grey-light
								text-shadow $white-shadow
		.legal
			float left
			width 258px
			padding 0
			margin 0 0 0 10px

			p
				float left
				width 100%
				padding 0
				margin 0 0 10px 0
				font-weight 400
				font-size 16px
				line-height 25px
				text-align center

			a
				color $burgundy