.filter-holder
    float left
    width 280px
    padding 20px 0 18px 0
    margin 0 0 20px 20px
    background $header-tile
    border-bottom 3px solid $header-tile-bottom
    border-radius $border-radius

    .filter-container
        float left
        width 280px
        padding 0
        margin 0

        select
            display none

        input
            float left
            width 240px
            height 50px
            padding 0
            margin 0 0 12px 20px
            font-weight 500
            font-size 27px
            line-height 29px
            text-align center
            border none
            border-bottom 3px solid #333
            border-radius $border-radius

        ::-webkit-input-placeholder
            line-height: normal

        .reset
            float left
            width 240px
            height 50px
            padding 0
            margin 0 0 0 20px
            color $white
            font-weight 500
            font-size 23px
            line-height 52px
            background $tag
            border none
            border-bottom 3px solid $tag-border
            border-radius $border-radius
            cursor pointer

            .fa-times
                width 100%
                padding 0
                margin 0
                font-size 23px
                line-height 54px
                color $white
                text-align center
                text-shadow $shadow

.answers-holder
    float left
    width 280px
    padding 0
    margin 0 0 20px 20px
    font-size: 0

    .answer
        display: inline-block;
        vertical-align: top;
        margin: 0 1% 16px 0;
        font-size: 16px;
        width 240px
        padding 22px 20px 20px 20px
        margin 0 0 14px 0
        background $white
        border-bottom 4px solid #333
        border-radius $border-radius

        h2
            float left
            width 100%
            margin 0 0 14px 0
            padding 0 0 8px 0
            font-weight 700
            font-size 23px
            line-height 29px
            text-align center
            border-bottom 3px solid $tag

        p
            float left
            width 100%
            margin 0 0 18px 0
            padding 0
            font-weight 500
            font-size 18px
            line-height 27px
            color $grey
            text-align center

        .tag-holder
            position relative
            width 240px
            padding 0
            margin 0 auto

            .tag
                float left
                margin 10px 8px 0 0
                padding 0
                background $tag
                border-bottom 4px solid $tag-border
                border-radius $border-radius

                h5
                    float left
                    margin 0
                    padding 8px 16px 6px 16px
                    font-style italic
                    font-weight 400
                    font-size 15px
                    line-height 15px
                    color $white
                    text-shadow $shadow
