.filter-holder
    float left
    width 280px
    padding 0
    margin 0 0 30px 20px
    background $tag
    border-bottom 3px solid $tag-border
    border-radius $border-radius

    .filter-container
        float left
        width 280px
        padding 0
        margin 0

        select
            float left
            width 220px
            height 60px
            padding 0
            margin 0 0 20px 30px
            font-weight 600
            font-size 27px
            line-height 29px
            background: transparent
            border: none
            background #fff
            border-bottom 4px solid #333
            border-radius 8px
            text-align center
            appearance none

        input
            float left
            width 208px
            height 50px
            padding 5px
            margin 0 0 20px 30px
            font-weight 600
            font-size 27px
            line-height 29px
            text-align center
            border $border-light
            border-bottom 4px solid #333
            border-radius 8px

        .reset
            float left
            width 220px
            height 50px
            padding 0
            margin 0 0 20px 30px
            color $white
            font-weight 500
            font-size 23px
            line-height 54px
            background $header-tile
            border none
            border-bottom 3px solid #333
            border-radius $border-radius
            cursor pointer

            .fa-times
                width 30px
                padding 0
                margin 0
                font-size 23px
                line-height 54px
                color $white
                text-align center
                text-shadow $shadow

.answers-holder
    float left
    width 280px
    padding 0
    margin 0 0 20px 20px

    .answer
        float left
        width 238px
        padding 20px
        margin 0 0 10px 0
        background $card
        border 1px solid #000
        border-bottom 4px solid #333
        border-radius 0 0 4px 4px

        h2
            float left
            width 238px
            margin 0 0 14px 0
            padding 0 0 8px 0
            font-weight 600
            font-size 23px
            line-height 33px
            text-align center
            border-bottom 2px solid #ccc

        p
            float left
            width 100%
            margin 0 0 18px 0
            padding 0
            font-weight 400
            font-size 17px
            line-height 29px
            color $grey
            text-align center

        .tag-holder
            position relative
            width 238px
            padding 0
            margin 0 auto

            .tag
                float left
                margin 10px 8px 0 0
                padding 0
                background $header-tile
                border-bottom 4px solid #333
                border-radius 4px

                h5
                    float left
                    margin 0
                    padding 8px 16px
                    // font-style italic
                    font-weight 400
                    font-size 15px
                    line-height 15px
                    color $white
                    text-shadow $shadow
