.user-holder
    position: relative
    width 300px
    margin: 0 auto
    z-index: 9999

    .user
        float: left
        width 298px
        padding 18px 0 28px 0
        margin 12px 0 30px 0
        background $card
        border $card-border
        border-radius 2px

        .fa-close
            float: left
            width 20px
            padding: 0
            margin 0 0 10px 139px
            font-size 16px
            line-height 16px
            color $burgundy
            text-align: center
            text-shadow $burgundy-text-shadow
            cursor pointer

        h1
            float: left
            width 258px
            padding: 0 0 8px 0
            margin 0 0 26px 20px
            font-size 36px
            line-height 46px
            border none
            border-bottom 3px solid $burgundy
            outline none
            text-shadow $burgundy-text-shadow
            text-align: center
        h6
            float left
            width 100%
            padding 0
            margin 0 0 18px 0
            font-weight 500
            font-size 18px
            line-height 18px
            color $grey
            text-align: center
            text-shadow $grey-text-shadow

        .user-row
            float: left
            width 258px
            padding 0
            margin: 0 0 34px 20px

            input
                float: left
                width 256px
                height 56px
                padding 6px 0 0 0
                font-weight 500
                font-size 19px
                line-height 19px
                border $border-light
                border-radius 0
                text-align: center
                appearance:none
                background $white

        button.submit
            float left
            width 258px
            height 62px
            padding 0
            margin -10px 0 0 20px
            font-weight 600
            font-size 27px
            line-height 59px
            color $white
            background #333
            background $grey
            background-repeat repeat-x;
            border $black-border
            border-radius 4px
            box-shadow none
            box-shadow inset 0 1px 0 rgba(255,255,255,.1), 0 1px 2px rgba(0,0,0,.05);
            box-shadow 1px 1px 4px #aaa
            text-align center
            text-shadow $card-text-shadow
            vertical-align middle;
            user-select none
            cursor pointer

            .fa-lock
                height 24px
                padding 0
                margin 0 0 0 12px
                font-size 24px
                line-height 24px
