.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        h1 Email My Free Rx Discount Card 
        .modal-row-half
            .half
                input(type="text" placeholder="Name")
            .half
                input(type="tel" placeholder="Phone")
        .mail-holder
            input(type="email" placeholder="email")
        button.submit(type='submit') Submit     
