.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        h1 Print My Free Rx Discount Card
        .modal-row-half
            .half
                input(type="text" placeholder="Name")
            .half
                input(type="tel" placeholder="Phone")
        button.submit(type='submit') Print
            
