.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        h1 Save PDF To Device
        .rx-cardholder
            .rx-card
                .company
                    h2 National Rx Card
                .card-holder
                    .card-logo
                        img(ng-src='/img/icon.png')
                    .card-content
                        .card-headline
                            .patient-holder
                                .row
                                    h2 Patient ID
                                    h4 NRX43710
                                    
                                .card-name
                                    input(placeholder="Preferred Client")
                                        
                                .row
                                    .column
                                        h3 Group
                                    .column
                                        h4 96100245    
                                .row
                                    .column
                                        h3 BIN
                                    .column
                                        h4 018398
                                .row
                                    .column
                                        h3 PCN
                                    .column
                                        h4 48300712
                                        
                    
                        
        button.submit(type='submit') Submit
