.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        h1 Text My Free Rx Discount Card 
        .modal-row-half
            .half
                input(type="text" placeholder="Name")
            .half
                input(type="tel" placeholder="Phone")
        textarea Message
        button.submit(type='submit') Submit 

        
