.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        h1 Send to your Phone
        .modal-row
            h3 Enter you phone number to receive your free Rx card
            input(type="tel", name="contact")
        
        button.submit(type='submit') Submit <span class='fa fa-send'></span>

        