.contact
	width 335px
	margin 0 0 0 20px

	.contact-detail
		width 293px
		padding 24px 20px 24px 20px
		margin 0 0 20px 0

		h2
			width 271px
			padding 9px 10px 6px 10px
			margin 0 0 22px 0
			font-size 25px
			line-height 25px

		.contact-container
			width 293px

			a
				padding 0
				margin 0 0 10px 0
				font-size 22px
				line-height 22px

			h4
				margin 10px 0 0 0
				font-size 20px
				line-height 28px

	.contact-form
		width 293px
		padding 24px 20px 18px 20px
		margin 0 0 20px 0

		.row
			float left
			width 293px
			margin 0 0 10px 0

			input
				width 293px
				height 60px
				padding 2px 0 0 0
				margin 0
				font-size 26px
				line-height 26px

			textarea
				width 273px
				height 100px
				padding 16px 10px
				margin 0
				font-size 26px
				line-height 31px

		.submit
			width 293px
			height 60px
			font-size 29px
			line-height 61px

	.card-confirmation
		width 293px
		padding 0
		margin 0

		h1
			width 100%
			padding 0
			margin 0 0 20px 0

		h2
			width 100%
			padding 0
			margin 0 0 15px 0

		p
			width 100%
			margin 0

.map
	width 333px
	margin 0 0 35px 20px
