.filter
	width 335px
	padding 18px 0 14px 0
	margin 0 0 20px 20px

	input
		width 293px
		height 58px
		padding 2px 0 0 0
		margin 0 0 12px 20px
		font-size 28px
		line-height 28px

	.reset
		width 293px
		height 50px
		padding 0
		margin 0 0 0 20px

		.fa-times
			font-size 25px
			line-height 51px


.answers
	width 335px
	margin 0 0 0 20px

	.answer
		width 295px
		padding 16px 20px 6px 20px
		margin 0 0 14px 0

		h2
			width 275px
			padding 9px 10px 7px 10px
			margin 0 0 15px 0
			font-size 23px
			line-height 27px

		p
			width 295px
			padding 0
			margin 0 0 20px 0
			font-size 18px
			line-height 27px

		.tag-holder
			position relative
			width 295px
			padding 0
			margin 0 auto

			.tag
				margin 10px 8px 0 0
				padding 0

				h5
					margin 0
					padding 8px 16px
					// font-style italic
