.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        h1 Print My Free
        h2 Rx Discount Card
        .row
            input(type="text" placeholder="Name")
        .row
            input(type="tel" placeholder="Phone")
        button.submit(type='submit') Print

