.page
    .content
        .main
            .card
                .card-logo
                    img(ng-src='/img/icon.png')
                .card-content
                    h1 National Rx Card
                    .company
                        h5 Free
                        span &bull;
                        h5 Fast
                        span &bull;
                        h5 Discounts
                    .patient-holder
                        p Preferred Customer
                        //- .row
                        //-     p BIN
                        //-     p 018398
                        .row
                            p PCN
                            p 48300712
                        .row
                            p GROUP
                            p 96100245
                        .row
                            p PATIENT
                            p NRX43710

            .download
                .tag(data-ng-click='textModal();')
                    .fa.fa-mobile.fa-rotate-90
                    p Text Card
                .tag(data-ng-click='emailModal();')
                    .fa.fa-send
                    p Email Card
                .tag(data-ng-click='saveModal();')
                    .fa.fa-cloud
                    p Save Card
                .tag(data-ng-click='printModal();')
                    .fa.fa-file-text
                    p Print Card

        .points
            .point-container
                .point
                    .fa.fa-certificate
                    h3 Membership <span>Is Free</span>
            .point-container
                .point
                    .fa.fa-certificate
                    h3 Everyone <span>Qualifies</span>
            .point-container
                .point
                    .fa.fa-certificate
                    h3 No Waiting Or <span>Deductibles</span>
            .point-container
                .point
                    .fa.fa-certificate
                    h3 No Pre-Existing <span>Exclusions</span>

        .center
            span.fa.fa-certificate
            h1 We Are Partnered With Over 63,000 Pharmacies Nationwide
            .center-holder
                .logo
                    img(ng-src='/img/pharmacies/albertsons.gif')
                .logo
                    img(ng-src='/img/pharmacies/ap.gif')
                .logo
                    img(ng-src='/img/pharmacies/kmart.gif')
                .logo
                    img(ng-src='/img/pharmacies/costco.gif')

                .logo
                    img(ng-src='/img/pharmacies/duanereade.gif')
                .logo
                    img(ng-src='/img/pharmacies/kroger.gif')
                .logo
                    img(ng-src='/img/pharmacies/target.gif')
                .logo
                    img(ng-src='/img/pharmacies/walmart.gif')

                .logo
                    img(ng-src='/img/pharmacies/vons.gif')
                .logo
                    img(ng-src='/img/pharmacies/walgreens.gif')
                .logo
                    img(ng-src='/img/pharmacies/riteaid.gif')
                .logo
                    img(ng-src='/img/pharmacies/winndixie.gif')

        .locator
            .locator-state
                h2 Search Pharmacies By State & City
                select(type="text", data-ng-model='location.state', ng-options="state for state in states", data-ng-change='stateUpdate()')
                    option(value='') State
                select(type="text", data-ng-model='location.city', ng-options="city for city in cities | orderBy:'toString()'", data-ng-change='cityResult()', ng-disabled="!location.state")
                    option(value='') City

                .submit(type='submit') Search

            .locator-zip
                h2 Search Pharmacies By Zip Code
                input(type="text", data-ng-model='location.zip', ng-init='location.zip ="10010"')
                .submit(data-ng-click='zip()') Search

            .locator-results(data-ng-show='results')
                h2 Pharmacy Locator Results
                .locator-results-content
                    .row-container(ng-repeat='row in results')
                        .pharmacy
                            p(ng-bind='::row.name')
                        .address
                            p(ng-bind='::row.address1')
                        .address
                            p {{::row.state}} - {{::row.city}}
                        .phone
                            p(ng-bind='::row.phone')
        
        .testimonals-holder
            .testimonals
                .testimonal
                    p “I saved over 50% on my expensive prescriptions with National Rx Card. This was Unbelievable!!"
                    h2 Chris
                    h3 Arizona

                .testimonal
                    p “The National Rx Card was so easy to download to my mobile phone and the Savings was Amazing"
                    h2 Lisa
                    h3 California

                .testimonal
                    p “I saved over $40.00 on my prescription with my amazing National Rx Card. Thank you very much!!!"
                    h2 Terry
                    h3 Texas

                .testimonal
                    p "The National Rx Card has saved me thousands of dollars!! Not sure what I would do with out it!!"
                    h2 Mary
                    h3 Ohio