.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        .print
            img(ng-src='https://s3.amazonaws.com/nationalrx/card/NationalRxCard.jpg')
        .submit.print(data-ng-click='print();') Print Rx Card
        .legal
            p This is <b>NOT</b> insurance and is not a substitute for insurance. Discounts are available only at participating pharmacies. You pay 100% of the discount price at the pharmacy.

            p NationalRxCard&#174; is administered by NationalRxCard, LLC, located at Park City, UT: <a href='mailto:info@nationalrxcard.com'>info@nationalrxcard.com</a>
#panel(data-ng-show='display')