.modal-holder
    .modal-container
        .fa.fa-close(data-ng-click="close();")
        h1 Text Me A Free Rx
        h2 Discount Card
        .row
            input(type="text", data-ng-model='data.phone', ui-mask='(999) 999-9999', data-ng-min='10', data-ng-max='10', required)

        .rx-card
        button.submit(type='submit') Submit


#panel(data-ng-show='display')