.page
	width 640px

	.main
		width 520px
		margin 0 0 0 60px

		.download
			width 446px
			padding 0
			margin 0 0 44px 53px

			.tag
				width 93px
				padding 14px 0 6px 0
				margin 0 12px 0 0

				p
					font-size 20px
					line-height 25px

				.fa-cloud
				.fa-mobile
				.fa-send
				.fa-file-text
					height 32px
					font-size 30px

				.fa-mobile
					height 44px
					margin -12px 0 0 -12px
					font-size 46px

				.fa-send
					font-size 25px

				.fa-file-text
					font-size 27px

	.points
		width 520px
		margin 0 0 20px 60px

		.point-container
			width 520px
			margin 0 0 14px 0

			.point
				display: inline-block
				margin 0

				.fa-certificate
					top -14px
					left -17px
					width 36px
					font-size 33px

				h3
					padding 9px 24px 17px 24px
					font-size 32px
					line-height 40px

					span
						padding 0 0 3px 0

	.center
		width 640px
		margin 0 0 20px 0

		.fa-certificate
			width 20px
			margin -18px 0 0 54px
			font-size 39px

		h1
			width 440px
			padding 10px 30px 12px 30px
			margin 0 0 14px 70px
			font-size 33px
			line-height 39px

		.center-holder
			width 600px
			padding 28px 0 10px 40px
			margin 0 0 0 0
			border-radius $border-radius

			.logo
				padding 0

				.albertsons
					width 180px
					margin 0 20px 18px 0

				.ap
					width 66px
					margin 0 20px 8px 10px

				.costco
					width 112px
					margin 0 30px 24px 10px

				.medicap
					width 96px
					margin -8px 0 2px 0

				.cvs
					width 190px
					margin 14px 20px 10px -10px

				.publix
					width 46px
					margin -6px 30px 0 10px

				.duanereade
					width 130px
					margin 0 20px 22px 0

				.intermountain
					width 130px
					margin -10px 0 0 0

				.kmart
					width 160px
					margin 2px 20px 12px 0

				.kroger
					width 60px
					margin -4px 20px 0 10px

				.longs
					width 160px
					margin 2px 20px 10px 10px

				.stopshop
					width 76px
					margin -8px 10px 20px 10px

				.riteaid
					width 46px
					margin 16px 20px 8px 10px

				.starmarket
					width 170px
					margin 16px 20px 0 10px

				.walmart
					width 140px
					margin 16px 20px 0 10px

				.safeway
					width 90px
					margin 0 10px 18px 10px

				.vons
					width 80px
					margin 0 20px 28px 0

				.winndixie
					display none
					width 160px
					margin 0 0 22px 10px

				.walgreens
					width 180px
					margin 0 10px 18px 0

				.shoprite
					width 80px
					margin -16px 0 18px 10px

				.target
					width 60px
					margin -22px 10px 18px 0

				.usadrug
					width 100px
					margin -6px 10px 18px 10px

	.locator
		width 660px

		.locator-zip
		.locator-state
			width 268px
			padding 20px 20px 24px 20px
			margin 0 20px 20px 0

			h4
				width 268px
				padding 0
				margin 0 0 24px 0
				font-size 31px
				line-height 40px

			input
				width 266px
				height 60px
				padding 0
				margin 0 20px 14px 0
				font-size 29px
				line-height 29px

			select
				width 266px
				height 64px
				padding 2px 0 0 30px
				margin 0 0 14px 0
				font-size 28px
				line-height 28px

			.submit
				width 266px
				height 60px
				margin 0
				font-size 31px
				line-height 64px

		.locator-results
			width 520px
			padding 20px 0 25px 0
			margin 0 0 30px 60px
			border-radius 12px

			h4
				width 520px
				margin 0 0 18px 0

			.locator-results-content
				width 440px
				margin 0 40px

				.row-container
					width 440px

					p
						font-size 20px
						line-height 28px

					.pharmacy
						width 380px
						padding 12px 30px 10px 30px

					.address
						width 380px
						padding 12px 30px 10px 30px

					.phone
						width 380px
						padding 12px 30px 10px 30px

	.testimonals-holder
		width 660px
		margin 0

		.testimonals
			width 660px
			margin 0 0 20px 0

			.testimonal
				width 270px
				padding 45px 20px 32px 20px
				margin 0 20px 15px 0
				background-size 100% 35px

				p
					margin 0 0 37px 0
					font-size 23px
					line-height 35px

				h2
					margin 0 0 11px 0
					font-size 28px
					line-height 28px

				h3
					font-size 24px
					line-height 24px