.page
    .content-holder
        .content
            .testimonals-holder
                .testimonals
                    .testimonal
                        p “I saved over 50% on my prescription with National Rx Card. This was Unbelievable!!"
                        h2 Chris
                        h3 Arizona

                    .testimonal
                        p “The National Rx Card was so easy to download to my mobile phone and the Savings was Amazing"
                        h2 Lisa
                        h3 California

                    .testimonal
                        p “I saved over $40.00 on my prescription with with National Rx Card. Thank you!!!"
                        h2 Terry
                        h3 Texas

                    .testimonal
                        p "The National Rx Card has saved me and my family thousands of dollars over the years!! Not sure what I would do with out it!!"
                        h2 Mary
                        h3 Ohio

                    .testimonal
                        p 'I couldn't believe the card was for "Free".  It has saved me a substantial amount of money on my prescriptions!!'
                        h2 Cindy
                        h3 Montana

                    .testimonal
                        p “The card was so easy to use and I love that I could text it to my mobile phone so I have it every time I need it"
                        h2 Sheryl
                        h3 New York

                    .testimonal
                        p 'I had no idea that I could use the card with my Pet Medications".  This card is wonderful!!!  Thank you!!'
                        h2 Pat
                        h3 Wisconsin