.page
    .content-holder
        .content
            .testimonals-holder
                .testimonals
                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas

                    .testimonal
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 James Anderson
                        h3 Victoria, Texas
