form.user-holder(name='loginForm', id="loginForm", data-ng-submit='login(loginForm.$valid)', novalidate)
    .user.login
        h1 Client Area
        .user-row
            h6 Email
            input(type='email', name='email', ng-model='user.email', placeholder='adam.carson@me.com', required, serverError)

            .errors(ng-messages='loginForm.email.$error', ng-if='loginForm.email.$touched && loginForm.email.$invalid', serverError)
                .error-common(ng-message='required')
                    .error
                        h5 Please enter your email
                        .triangle
                .error-common(ng-message='server')
                    .error
                        h5(ng-bind='message.email')
                        .triangle

        .user-row
            h6 Password
            input(type='password', name='password', ng-model='user.password', placeholder='', ng-minlength='8', ng-maxlength='8', required, serverError)
            //-
            //- .errors(ng-messages='loginForm.password.$error', ng-if='loginForm.password.$touched && loginForm.password.$invalid')
            //-     .error-common(ng-message='required')
            //-         .error
            //-             h5 Please enter your password
            //-             .triangle
            //-
            //-     .error-common(ng-message='server')
            //-         .error
            //-             h5(ng-bind='errorMessage.password')
            //-             .triangle
            //-
            //-     .error-common(ng-message='minlength')
            //-         .error.three
            //-             h5 Your password must be 8 characters
            //-             .triangle
            //-
            //-     .error-common(ng-message='maxlength')
            //-         .error.three
            //-             h5 Your password must be 8 characters
            //-             .triangle


        button.submit(type='submit', ng-disabled='loginForm.$invalid') Submit <span class='fa fa-lock'></span>
