footer
	height 98px

	.footer
		width 928px
		height 98px

		.logo
			width 190px
			margin 8px 50px 0 0

		.link
			margin 0

			p
				width 100%
				margin 0 0 10px 0
				font-size 17px
				line-height 17px

			a
				font-size 18px
				line-height 18px

		.link.email
			width 240px
			margin 28px 40px 0 0

		.link.phone
			width 160px
			margin 28px 20px 0 0

		.link.privacy
			width 100%
			margin 28px 0 0 0

		.link.terms
			width 100%
			margin 0

		.legal
			display block
			width 220px