header
	padding 0
	margin 0 0 30px 0

	.header
		width 1024px

		.brand
			width 284px
			padding 0
			margin 0 0 14px 40px

			.logo
				width 250px
				margin 10px 0 0 0

		.brand.rectangle
			width 410px
			padding 0
			margin 0 13px 0 35px

			.logo
				width 390px
				margin 25px 0 0 10px

		nav
			width 690px

			.tile-container
				width 690px
				margin 32px 0 0 0

				.tile
					position relative

					h4
						float left
						padding 9px 20px 9px 20px
						margin 0 5px
						font-size 21px
						line-height 24px

				.tile.testimonial
					display inline-block

		nav.rectangle
			width 550px

			.tile-container
				width 550px
				margin 32px 0 10px 0