footer
	.footer
		.logo
			img(ng-src='/img/logo.png')
		.link.email
			p Email Support<br><a ng-href="mailto:info@nationalrxcard.com">info@nationalrxcard.com</a>
		.link.phone
			p Phone Support<br><a ng-href="tel:+1-855 525-6375">1-855 525-6375</a>

		//- .legal
		//- 	.link.privacy
		//- 		p(ui-sref='frontend.privacy') Privacy Policy
		//- 	.link.terms
		//- 		p(ui-sref='frontend.terms') Terms &amp; Conditions