footer
	.footer
		.link.email
			p Email Support<br><i>info@nationalrxcard.com</i>
		.link.phone
			p Phone Support<br><i>1-855 525-6375</i>
		.legal
			.link.privacy
				p(ui-sref='frontend.privacy') Privacy Policy
			.link.terms
				p(ui-sref='frontend.terms') Terms &amp; Conditions