footer
	.footer
		.link.email
			p Email Support<br><i><a ng-href="mailto:info@nationalrxcard.com">info@nationalrxcard.com</a></i>
		.link.phone
			p Phone Support<br><i><a ng-href="tel:+1-855 525-6375">1-855 525-6375</a></i>
		.legal
			.link.privacy
				p(ui-sref='frontend.privacy') Privacy Policy
			.link.terms
				p(ui-sref='frontend.terms') Terms &amp; Conditions