footer
	.footer
		.link.email
			p Email Support<br>info@nationalrxcard.com
		.link.phone
			p Phone Support<br>1-800 365-3554
		.link.privacy
			p(ui-sref='frontend.privacy') Privacy<br>Policy
		.link.terms
			p(ui-sref='frontend.terms') Terms &amp;<br>Conditions