footer
	.footer
		.link.email
			h4 Email Support<br>info@nationalrxcard.com
		.link.phone
			h4 Phone Support<br>1-800 365-3554
		.link.privacy
			h4(ui-sref='frontend.privacy') Privacy<br>Policy
		.link.terms
			h4(ui-sref='frontend.terms') Terms &amp;<br>Conditions