$y = $yellow

$white = #FFFFFF
$white-border = #888

$black = #000
$black-border = 1px solid $black
$grey = #444
$grey-light = #777
$green = #44FF50
$green-border = #00D10E
$red = #733D4B
$red-border = #BA0D08
$yellow = #ff9

$tag = #8A0D4A
$tag-border = #4A0024

$burgundy = #9E1E4C
$light-burgundy = #AA1D69
$burgundy-border = #15000A
$burgundy-gradient = linear-gradient(to bottom, $light-burgundy, $burgundy)

$placeholder = #aaa
$input = #f2f2f2

$text-grey = #555

$border = 1px solid #aaa
$border-light = 1px solid #ccc
$border-dotted = 1px dotted #999
$border-black = 1px solid $black
$border-radius = 6px 6px 6px 6px

$white-shadow = 1px 1px 0 #fff
$shadow = 2px 2px 0px #000

$border-burgundy = 1px solid $burgundy

$header-tile = #666
 // url(../img/asfalt-light.png) repeat
// $header-tile-gradient = #666666 url(../img/asfalt-light.png) repeat
$header-tile-bottom = #222
$border-header = 1px solid #222

$page = #BFEADD

// $card = linear-gradient(to bottom, #fff, #ff9)
$card = #FFFEFC url(../img/cream-dust.png) repeat

// $background = #777 url(../img/brilliant.png) repeat
$background = #4280E5
// $background = #669AEC
// $background = #4269B2

// url(../img/brilliant.png) repeat

$background-border = #8F8F11

// $accent = #FFFFDC
// $accent-texture = #FFFFDC url(../img/asfalt-light.png) repeat
// $accent-border = #B4B434

// $foreground = #FFFBD9 url(../img/squared-metal.png) repeat
// $foreground = #f1f1f1


$foreground-border = #B9B16E
$foreground-border = #656464

// #2D2B2B nice off black

$secondary = #F2F0D0
$alternate = #fffaeb
$panel = #f1f1f1
