$white = #FFFFFF
$white-border = #888
$black = #000
$black-light = #333
$black-border = 1px solid $black
$yellow = #FFFFB5
$yellow-text-shadow = 0px 1px 0px #000

// $page = #BFEADD
$header = #ffffff 
// $card = #FFFFB5 
$card = #999226 url(../img/squairy.png)
$card-light = #CFF0FD
$card-border = #474200
$card-text-shadow = -1px -1px 0px #fff
$card-gradient = linear-gradient(to bottom, $card-light, $card)

// $grey = #676162
$grey = #666
$grey-border = #222
$grey-text-shadow = -1px -1px 0px #333
$border-header = 1px solid #222

$burgundy = #8A0D4A
$burgundy-border = #4A0024
$burgundy-text-shadow = -1px -1px 0px #000

// $blue = #5070DC
// $blue-border = #082071
// $blue-gradient = linear-gradient(to bottom, $light-blue, $blue)

$placeholder = #aaa
$input = #f2f2f2

$border = 1px solid #aaa
$border-light = 1px solid #ccc
$border-dotted = 1px dotted #999
$border-black = 1px solid $black
$border-radius = 6px 6px 6px 6px

$background = #9A948A
$background = #777