$y = #ff9

$white = #FFFFFF
$white-border = #888

$black = #000
$grey = #444
$grey-light = #555
$green = #44FF50
$green-border = #00D10E
$red = #733D4B
$red-border = #BA0D08
$burgundy = #8A0D4A
// $burgundy = #636363
$light-burgundy = #CBBFCC
$placeholder = #aaa
$input = #f2f2f2

$text-grey = #555

$border = 1px solid #aaa
$border-light = 1px solid #ccc
$border-dotted = 1px dotted #999

$white-shadow = 2px 1px 2px #ccc
$shadow = 2px 1px 0px #000


$header = #FDFDFD url(../img/asfalt-light.png) repeat
$header-tile = #666666 url(../img/asfalt-light.png) repeat
$border-header = 1px solid #333

$page = #BFEADD

$card = #fff

$background = #008584 url(../img/asfalt-light.png) repeat
$background-texture = #e7e7e7 url(../img/asfalt-light.png) repeat
$background-border = #8F8F11

$accent = #FFFFDC
$accent-texture = #FFFFDC url(../img/asfalt-light.png) repeat
$accent-border = #B4B434

$foreground = #FFFBD9 url(../img/squared-metal.png) repeat
$foreground = #f1f1f1


$foreground-border = #B9B16E
$foreground-border = #656464

// #2D2B2B nice off black

$secondary = #F2F0D0
$alternate = #fffaeb
$panel = #f1f1f1
