html
body
    width 100%
    margin 0
    padding 0
    background $white
    color $white

#panel
.page
header
footer .footer
    display none

footer
    border none
    background none

.modal-holder
    display block
    background none

    .modal-container
        background none
        border none

        .fa-close
        .submit
        .legal
            display none
