.legal-container
    width 928px

    .legal
        width 768px
        padding 48px 80px 60px 80px

        h1
            margin 0 0 28px 0
            font-size 49px
            line-height 49px

        .title-container
            width 768px

            .title
                display: inline-block

                h3
                    padding 4px 20px 2px 20px
                    margin 34px 0 12px 0
                    font-size 30px
                    line-height 39px

        h4
            margin 0 0 36px 0
            font-size 22px
            line-height 22px
        p
            font-size 21px
            line-height 35px
            margin 0 0 14px 0