.contact-holder
    width 380px
    margin 0 20px 0 0

    .contact-detail
        width 338px
        padding 30px 20px
        margin 0 0 20px 0

        h2
            width 338px
            padding 10px 0
            margin 0 0 18px 0
            font-size 28px
            line-height 32px

        .contact-container
            width 338px

            p
                margin 0 0 14px 0
                font-size 20px
                line-height 24px

            h3
                margin 0 0 12px 0
                font-size 24px
                line-height 27px

            h4
                margin 25px 0 8px 0
                font-size 21px
                line-height 24px

    .contact-form
        width 338px
        padding 20px

        input
            width 336px
            height 50px
            padding 4px 0 0 0
            margin 0 0 20px 0
            font-size 23px
            line-height 23px

        textarea
            width 336px
            height 50px
            padding 10px 0
            margin 0 0 20px 0
            font-size 23px
            line-height 29px

        .submit
            float left
            width 336px
            height 68px
            padding 0
            margin 0
            font-size 31px
            line-height 70px

.map
    width 298px
    height 700px
    margin 0 0 40px 0
