.card-member
	width 898px
	padding 40px 0 0 0
	margin 0 0 18px 20px
	border-radius $border-radius

	.member
		width 848px
		padding 0 0 40px 50px

		.member-brand
			width 338px
			margin 0 0 0 50px

		.member-content
			width 400px
			margin 20px 0 0 0

			.row
				margin 0 0 2px 0

				h4
					font-size 20px
					line-height 27px

				.left
					width 90px
					margin 0 10px 8px 0

					h4
						text-align right

				.right
					width 90px
					margin 0 10px 8px 0

				.left.small
					width 90px
					margin 0 10px 8px 0

				.right.small
					width 300px
					margin 0 0 8px 0

				.left.middle
					width 90px
					margin 0 10px 8px 0

				.right.middle
					width 90px
					margin 0 10px 8px 0

	.disclaimer
		width 778px
		padding 30px 60px 20px 60px

		p
			width 778px
			margin 0 0 18px 0
			font-size 18px
			line-height 27px

		a
			font-size 21px
			line-height 21px

		.brand
			width 220px
			margin 0 30px 10px 0

			img
				width 220px

.card
	width 484px
	padding 38px 0px 32px 44px
	margin 0 0 18px 0

	.card-logo
		width 100px
		margin 190px 0 0 330px

	.card-content
		width 344px

		h1
			margin 0 0 18px 0
			font-size 44px
			line-height 44px

		.company
			margin 0 0 42px 0

			h5
				font-size 31px
				line-height 31px

			span
				margin 0 12px
				font-size 23px
				line-height 29px

		.patient-holder
			width 100%

			p
				width 340px
				margin 0 0 44px 0
				font-size 31px
				line-height 31px

			.row
				margin 0 0 15px 0

				h6
					width 124px
					font-size 20px
					line-height 20px
