.card-member
	width 898px
	padding 40px 0 0 0
	margin 0 0 18px 20px
	border-radius $border-radius

	.member
		width 848px
		padding 0 0 40px 50px

		.member-brand
			width 338px
			margin 0 0 0 50px

		.member-content
			width 400px
			margin 20px 0 0 0

			.row
				margin 0 0 2px 0

				h4
					font-size 20px
					line-height 27px

				.left
					width 90px
					margin 0 10px 8px 0

					h4
						text-align right

				.right
					width 90px
					margin 0 10px 8px 0

				.left.small
					width 90px
					margin 0 10px 8px 0

				.right.small
					width 300px
					margin 0 0 8px 0

				.left.middle
					width 90px
					margin 0 10px 8px 0

				.right.middle
					width 90px
					margin 0 10px 8px 0

	.disclaimer
		width 778px
		padding 30px 60px 20px 60px

		p
			width 778px
			margin 0 0 18px 0
			font-size 18px
			line-height 27px

		a
			font-size 21px
			line-height 21px

		.brand
			width 220px
			margin 0 30px 10px 0

			img
				width 220px

.card
	width 484px
	padding 36px 0 28px 44px
	margin 0 0 18px 0

	.card-content
		width 444px

		.card-logo
			width 72px
			margin 0 32px 0 0
			
		h1
			width 340px
			margin 2px 0 12px 0
			font-size 38px
			line-height 38px

		.company
			width 340px
			margin 0 0 58px 0

			h5
				font-size 27px
				line-height 27px

			span
				margin 0 10px
				font-size 29px
				line-height 29px

		.patient-holder
			width 100%

			h6
				width 420px
				margin 0 0 42px 0
				font-size 33px
				line-height 33px

			.row
				margin 0 0 14px 0

				h6
					width 122px
					font-size 18px
					line-height 18px
