footer
    height 82px

    .footer
        width 780px
        height 82px

        .link
            margin 0

            p
            a
                font-size 20px
                line-height 29px

        .link.email
            margin 12px 60px 0 10px

        .link.phone
            margin 12px 180px 0 0

        .link.privacy
            margin 12px 0 0 0

        .legal
            width 180px