header
	margin 0 0 40px 0

	.header
		width 1000px

		.brand
			width 800px
			padding 0
			margin 0 0 0 100px

			.logo
				width 688px
				height 160px
				margin 0 0 30px 40px

		nav
			height 89px
			margin 0 0 1px 40px

			.tile
				height 88px
				padding 0 46px

				h4
					margin 18px 0 0 0
					font-size 23px
					line-height 28px

			.tile.active
				height 89px