header
	margin 0 0 40px 0
	height 130px

	.header
		width 1024px

		.brand
			width 270px
			padding 0
			margin 14px 24px 0 29px

			.logo
				width 270px
				margin 0

		nav
			width 700px
			height 76px
			margin 54px 0 0 0

			.tile
				height 75px
				padding 0 24px

				h4
					margin 13px 0 0 0
					font-size 21px
					line-height 25px

			.tile.active
				height 76px

			.tile.last
				border-radius 0 0 0 0