header
	padding 0
	margin 0 0 40px 0
	height 138px

	.header
		width 1024px

		.brand
			width 290px
			padding 0
			margin 12px 13px 0 35px

			.logo
				width 290px
				margin 0

			.mobile-navigation
				display none

		.brand.rectangle
			width 410px
			padding 0
			margin 0 13px 0 35px

			.logo
				width 390px
				margin 25px 0 0 10px

		nav
			display none
			float right
			width 680px
			height 76px
			padding 0
			margin 62px 0 0 0
			border-radius 6px 0 0 0

			.tile
				float right
				height 75px
				padding 0 24px
				margin 0
				background $grey
				border-top $header-border-bottom
				border-left $header-border-bottom
				cursor pointer

				h4
					float left
					padding 0
					font-weight 600
					margin 14px 0 0 0
					font-size 20px
					line-height 25px
					color $white
					text-align center
					text-shadow $grey-text-shadow

			.tile.active
				height 76px
				background $background

			.tile.first
				border-radius 6px 0 0 0

		nav.rectangle
			width 560px
			height 72px
			margin 62px 0 0 0