.modal-holder
	width 400px
	margin 0 0 0 -200px

	.modal-container
		width 340px
		padding 24px 30px 28px 30px
		margin 22px 0 0 0

		.print
			width 340px

			img
				width 340px

		.fa-close
			width 20px
			margin 0 0 20px 160px
			font-size 22px
			line-height 22px

		.row
			width 340px

			input
				width 340px
				height 64px
				padding 2px 0 0 0
				margin 0 0 14px 0
				font-size 29px
				line-height 29px

			::-webkit-input-placeholder
				line-height: normal

		.submit
			width 340px
			padding 14px 0 10px 0
			margin 0 0 20px 0
			font-size 31px
			line-height 31px

		.brand-holder
			float left
			width 320px
			padding 10px
			margin 0 0 10px 0

		.legal
			width 340px
			margin 10px 0 0 0

			p
				margin 0 0 20px 0
				font-size 18px
				line-height 27px

			a
				font-size 19px
				line-height 27px