.filter-holder
    float left
    width 480px
    padding 20px
    margin 50px 0 30px 0

    h2
        float left
        width 100%
        padding 0
        margin 0 0 20px 0

    .filter-container
        float left
        width 480px
        padding 0
        margin 0

        select
            float left
            width 340px
            height 50px
            padding 0
            margin 0 0 20px 70px

        input
            float left
            width 340px
            height 50px
            padding 0
            margin 0 0 20px 70px
            font-weight 600

        .reset
            float left
            width 340px
            height 50px
            padding 0
            margin 0 0 0 70px
            background $black

            .fa-times
                // float left
                width 50px
                padding: 0
                margin 0
                font-size 29px
                line-height 54px

.answers-holder
    float left
    width 480px
    padding 0
    margin 0 0 20px 0

    .answer
        float left
        width 480px
        padding 20px
        margin 0 0 20px 0

        h2
            float left
            width 100%
            margin 0 0 14px 0
            padding 0 0 8px 0
            font-size 26px
            line-height 33px

        p
            float left
            width 100%
            margin 0 0 18px 0
            padding 0
            font-weight 400
            font-size 19px
            line-height 29px

        .tag-holder
            position relative
            width 340px
            padding 0
            margin 0 auto

            .tag
                float left
                margin 10px 10px 0 0
                padding 0

                h5
                    float left
                    margin 0
                    padding 8px 16px
