section
    .page
        .content
            .content-holder
                .top-left
                    .top-left-holder
                        h2 PARTICIPATING PHARMACIES
                    .top-bottom-holder
                        .column
                            h4 SAVE
                        .column
                            h4 TEXT
                        .column
                            h4 EMAIL
                        .column 
                            h4 PRINT      
                .top-right
                    .numbers
                        .number
                            p 1
                        .number
                            p 2
                        .number
                            p 3
                    .subject
                        .row-holder
                            h3 PARTICIPATING PHARMACIES
                        .row-holder
                            h3 PARTICIPATING PHARMACIES
                        .row-holder
                            h3 PARTICIPATING PHARMACIES
                .center
                    .center-holder
                        .rows
                            
                .bottom 
                    .bottom-holder
                        .price-holder
                            p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."               
                            h2 Whisky John
                            h3 Victoria, Texas
                        .price-holder
                            p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                            h2 Whisky John
                            h3 Victoria, Texas
                        .price-holder
                            p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                            h2 Whisky John
                            h3 Victoria, Texas
        //-     
        //- 
        //- 
        //- 
        //- 
        //- 
        //- 
        //- .left
        //-     .row-holder
        //-         .row
        //-             .number
        //-                 h1 1
        //-             .content
        //-                 h2 PARTICIPATING PHARMACIES
        //-         .row
        //-             .number
        //-                 h1 2
        //-             .content
        //-                 h2 PARTICIPATING PHARMACIES
        //-         .row
        //-             .number
        //-                 h1 3
        //-                 
        //-             .content
        //-                 h2 PARTICIPATING PHARMACIES
        //- 
        //- .right
        //-     .card
        //-         .top-holder
        //-             .logo-holder
        //-                 .logo  
        //-                     h6 logo  
        //-             .link-holder
        //-                 .link 
        //-                     a www.rxcut.com/rxforless3   
        //-             .title-holder
        //-                 h1 PRESCRIPTION SAVINGS CARD
        //-         .card-content
        //-             .card-left
        //-                 .row-conatiner
        //-                     .card-row
        //-                         h3 THIS CARD IS ACTIVE
        //-                     .card-row
        //-                         .subject
        //-                             h4 Member ID:
        //-                         .data
        //-                             h5 URX10111
        //-                     .card-row
        //-                         .subject
        //-                             h4 RxGroup:
        //-                         .data
        //-                             h5 URX10111
        //-                     .card-row
        //-                         .subject
        //-                             h4 RxBIN:
        //-                         .data
        //-                             h5 01384
        //-                     .card-row
        //-                         .subject
        //-                             h4 RxPCN:
        //-                         .data
        //-                             h5 RXCUT
        //-                     .card-row
        //-                         h2 FAMILY COVERAGE
        //-                     
        //-             .card-right
        //-                 .prescription-holder
        //-                     .first-logo
        //-                         h4 logo
        //-                     .prescription
        //-                         h4 RX For Less
        //-                         h5 prescription Benefits
        //-             .card-center
        //-                 h1 Helpdesk: 1-800-808-1213
        //-     .button-holder
        //-         .button  
        //-             h4 PRINT  
        //-         .button
        //-             h4 EMAIL
        //-         .button
        //-             h4 TEXT
        //-         .button
        //-             h4 SAVE
        //- .center
        //-     .center-holder
        //-         .title-center
        //-             h1 RxCut cardholders have saved over
        //-         .number-container
        //-             .container
        //-                 h1 $
        //-             .container
        //-                 h1 1
        //-             .container
        //-                 h1 7
        //-             .container
        //-                 h1 9
        //-             .space
        //-                 h2 ,
        //-             .container
        //-                 h1 1
        //-             .container
        //-                 h1 2
        //-             .container
        //-                 h1 3
        //-             .space
        //-                 h2 ,
        //-             .container
        //-                 h1 5
        //-             .container
        //-                 h1 1
        //-             .container
        //-                 h1 6    
