.page
    .content-holder
        .content
            .contact-holder
                .contact-form(data-ng-click='toggle();', ng-show='state')
                    .full
                        p Your name(required)
                        input(type="text" placeholder="Name:")
                            
                    .full
                        p Your email(required)
                        input(type="text" placeholder="email") 
                            
                    .full
                        p Your phone number(required)
                        input(type="text" placeholder="Phone:")                                                                                 
                    .full
                        textarea Message
                    .button-holder
                        button.submit(type="button" name="submit") Submit
                
                .contact-form(data-ng-click='toggle();', ng-show='!state')
                    .card-confirmation
                        h1 Thank You John for Using The National Rx Card
                        h2 Need Help? Have Questions?
                        p 1-800 808-1213
                    
                .contact-detail
                    H2 NATIONAL RX
                    .contact-container
                        p Phone:
                        h3 6476085645
                        
                        p Email:
                        h3 manish.dutta@hotmail.com 
                        
                        h2 Address:
                        h3 Interface Agency<br> 13 Munch Place<br> Toronto,L9T8K6           
            .map
                #map_canvas
                    ui-gmap-google-map(center='map.center', zoom='map.zoom', options='options')
                        ui-gmap-marker(coords='marker.coords', options='marker.options', icon='marker.options.icon', idkey='marker.id')
                
