.page
    .content-holder
        .content
            .contact-holder
                h1 CONTACT US
                .contact-container
                    .contact-detail
                        H2 NATIONAL RX
                        .address
                            p Interface Agency<br> 13 Munch Place<br> Toronto,L9T8K6
                        .contact-information
                            h3 6476085645
                            h3 9057877575
                            h3 manish.dutta@Interfaceagency.com
                        
                        .logo
                            p logo
                    .contact-form
                        .row
                            .column
                                p Name:
                                 
                            .column
                                p Company:
                                     
                        .row
                            .column
                                p Email:
                                
                            .column
                                p Phone No:
                                
                        .message
                        p send message
                            
                .map
                    #map_canvas
                        ui-gmap-google-map(center='map.center', zoom='map.zoom', options='options')
                            ui-gmap-marker(coords='marker.coords', options='marker.options', icon='marker.options.icon', idkey='marker.id')
                    
