.page
    .content-holder
        .content
            .main
                .rx-card(ng-show='!state')
                    .card-headline
                        .company
                            h2 National RX Card
                        .card-title
                            p CARD NUMBER
                    .card-logo
                        
                    .card-numbers
                        .square
                            p 3456
                        .square
                            p 3456
                        .square
                            p 3456
                        .square
                            p 3456


                .rx-card(ng-show='!state')
                    h1 Thank You John <br>for Using The National Rx Card
                    p Need Help?Have Questions?
                    p 1-800-8081213

                .rx-card-download
                    .column(data-ng-click='saveModal();')
                        h4 Save
                    .column(data-ng-click='textModal();')
                        h4 Text
                    .column(data-ng-click='emailModal();')
                        h4 Email
                    .column(data-ng-click='printModal();')
                        h4 Print
                        

            .points
                .point
                    .number
                        h1 1
                    .text
                        h3 Selling Point That Appeals First

                .point
                    .number
                        h1 2
                    .text
                        h3 Selling Point That Appeals Second

                .point
                    .number
                        h1 3
                    .text
                        h3 Selling Point That Appeals Third
            .center
                .center-holder
                    h1 Accepted at over 66,000 U.S pharmacies:
                    .row
                        .column
                            img(ng-src='/img/pharmacies/pharm-albertsons.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-ap.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-costco.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-duanereade.gif')

                    .row
                        .column
                            img(ng-src='/img/pharmacies/pharm-kmart.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-kroger.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-riteaid.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-target.gif')

                    .row
                        .column
                            img(ng-src='/img/pharmacies/pharm-vons.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-walgreens.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-walmart.gif')
                        .column
                            img(ng-src='/img/pharmacies/pharm-winndixie.gif')

include ./testimonals.jade
