.page
    .content-holder
        .content
            .main
                .rx-card

                .rx-card-download
                    .column
                        h4 Save
                    .column
                        h4 Text
                    .column
                        h4 Email
                    .column
                        h4 Print

            .points
                .point
                    .number
                        h1 1
                    .text
                        h3 Selling Point That Appeals First

                .point
                    .number
                        h1 2
                    .text
                        h3 Selling Point That Appeals Second

                .point
                    .number
                        h1 3
                    .text
                        h3 Selling Point That Appeals Third

            .center
                .center-holder
                    h3 Images Goes Here
            .bottom
                .bottom-holder
                    .price-holder
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 Whisky John
                        h3 Victoria, Texas
                    .price-holder
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 Whisky John
                        h3 Victoria, Texas
                    .price-holder
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 Whisky John
                        h3 Victoria, Texas
                    .price-holder
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 Whisky John
                        h3 Victoria, Texas
                    .price-holder
                        p “When I gave the pharmacist my RxCut Plus Card the price was only $71.00 with your discount."
                        h2 Whisky John
                        h3 Victoria, Texas
        
