.page
    .content-holder
        .content
            .main
                .rx-card(ng-show='state')
                    .card-headline
                        .company
                            h2 National RX Card
                        .card-title
                            p CARD NUMBER
                    .card-logo
                        
                    .card-numbers
                        .square
                            p 3456
                        .square
                            p 3456
                        .square
                            p 3456
                        .square
                            p 3456


                .rx-card(ng-show='!state')
                    h1 Thank You John <br>for Using The National Rx Card
                    p Need Help?Have Questions?
                    p 1-800-8081213        

                .rx-card-download
                    .column
                        h4 Save
                    .column
                        h4 Text
                    .column
                        h4 Email
                    .column
                        h4 Print
                        

            .points
                .point
                    .number
                        h1 1
                    .text
                        h3 Selling Point That Appeals First

                .point
                    .number
                        h1 2
                    .text
                        h3 Selling Point That Appeals Second

                .point
                    .number
                        h1 3
                    .text
                        h3 Selling Point That Appeals Third

            .center
                .center-holder

include ./testimonals.jade
