.page
    .content-holder
        .content
            .main
                .rx-card(data-ng-click='toggle();', ng-show='state')
                    .card-logo
                        img(ng-src='/img/icon.png')
                    .card-content
                        .card-headline
                            .company
                                h2 National Rx Card
                            .card-title
                                p CARD NUMBER

                        .card-numbers
                            .square
                                p 3456
                            .square
                                p 3456
                            .square
                                p 3456
                            .square
                                p 3456
                        .card-name
                            input(placeholder="Preferred Client")

                .rx-card(data-ng-click='toggle();', ng-show='!state')
                    .card-logo
                        img(ng-src='/img/icon.png')
                    .card-content
                        h1 Thank You John <br>for Using The National Rx Card
                        p Need Help? Have Questions?
                        p 1-800 808-1213

                .rx-card-download
                    .column(data-ng-click='saveModal();')
                        h4 Save
                    .column(data-ng-click='textModal();')
                        h4 Text
                    .column(data-ng-click='emailModal();')
                        h4 Email
                    .column(data-ng-click='printModal();')
                        h4 Print


            .points
                .point
                    .number
                        h1 1
                    .text
                        h3 Selling Point That Appeals First

                .point
                    .number
                        h1 2
                    .text
                        h3 Selling Point That Appeals Second

                .point
                    .number
                        h1 3
                    .text
                        h3 Selling Point That Appeals Third
            .center
                .center-holder
                    h1 Accepted at over 66,000 U.S pharmacies:
                    .logo
                        img(ng-src='/img/pharmacies/pharm-albertsons.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-ap.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-costco.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-duanereade.gif')

                    .logo
                        img(ng-src='/img/pharmacies/pharm-kmart.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-kroger.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-target.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-walmart.gif')

                    .logo
                        img(ng-src='/img/pharmacies/pharm-vons.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-walgreens.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-riteaid.gif')
                    .logo
                        img(ng-src='/img/pharmacies/pharm-winndixie.gif')

include ./testimonals.jade
