
<div class="page">
  <div class="content">
    <div class="contact-holder">
      <div class="contact-detail">
        <h2>National RX Card</h2>
        <div class="contact-container"><a href="mailto:info@nationalrxcard.com">info@natonalrxcard.com</a><a href="tel:+1-855-525-6375">1-855 525-6375</a>
          <h4>P.O. Box 1170<br> Portland, Oregon, 84098</h4>
        </div>
      </div>
      <form name="user" id="user" data-ng-model="data" data-ng-submit="sendContact(user.$valid)" ng-show="!contacted" novalidate="novalidate" class="contact-form">
        <input type="text" data-ng-model="data.name" placeholder="Name" required="required"/>
        <input type="email" data-ng-model="data.email" placeholder="Email" required="required"/>
        <input type="text" data-ng-model="data.phone" placeholder="Phone"/>
        <textarea data-ng-model="data.message" placeholder="Message" required="required"></textarea>
        <button type="submit" ng-disabled="user.$invalid" class="submit">Submit</button>
      </form>
      <div ng-show="contacted" class="contact-detail">
        <h2>Thank You {{data.name}} for<br>Using The National Rx Card</h2>
        <div class="contact-container">
          <h3>We appreciate your time contact us, and we will respond within three business days.</h3>
        </div>
      </div>
    </div>
    <div class="map">
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
          <ui-gmap-marker coords="marker.coords" options="marker.options" icon="marker.options.icon" idkey="marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>