
<div class="page">
  <div class="content-holder">
    <div class="content">
      <div class="main">
        <div class="rx-card">
          <div class="card-logo"><img ng-src="/img/icon.png"/></div>
          <div class="card-content">
            <div class="card-headline">
              <div class="company">
                <h2>National Rx Card</h2>
                <h5>Free</h5><span>&bull;</span>
                <h5>Fast</h5><span>&bull;</span>
                <h5>Discounts</h5>
              </div>
              <div class="patient-holder">
                <div class="row">
                  <input type="text" value="Enter Your Name"/>
                </div>
                <div class="row">
                  <h6>PATIENT</h6>
                  <h6>NRX43710</h6>
                </div>
                <div class="row">
                  <h6>GROUP</h6>
                  <h6>96100245</h6>
                </div>
                <div class="row">
                  <h6>BIN</h6>
                  <h6>018398</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rx-card-download">
          <div data-ng-click="textModal();" class="column">
            <p><span class='fa fa-mobile'></span> Text</p>
          </div>
          <div data-ng-click="emailModal();" class="column">
            <p><span class='fa fa-send'></span> Email</p>
          </div>
          <div data-ng-click="saveModal();" class="column">
            <p><span class='fa fa-cloud'></span> Save</p>
          </div>
          <div data-ng-click="printModal();" class="column">
            <p><span class='fa fa-file-text'></span> Print</p>
          </div>
        </div>
      </div>
      <div class="points">
        <div class="point">
        </div>
      </div>
      <div class="center">
        <h1>Accepted At Over 66,000 U.S Pharmacies</h1>
        <div class="center-holder">
          <div class="logo"><img ng-src="/img/pharmacies/albertsons.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/ap.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/kmart.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/costco.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/duanereade.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/kroger.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/target.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/walmart.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/vons.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/walgreens.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/riteaid.gif"/></div>
          <div class="logo"><img ng-src="/img/pharmacies/winndixie.gif"/></div>
        </div>
      </div>
      <div class="locator">
        <div class="locator-zip">
          <h2>Search By Zip Code</h2>
          <input type="text"/>
          <button type="submit" class="submit">Search</button>
        </div>
        <div class="locator-state">
          <h2>Search By City & State</h2>
          <select type="text"></select>
          <select type="text"></select>
          <button type="submit" class="submit">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>