
<div class="page">
  <div class="content-holder">
    <div class="content">
      <div class="main">
        <div class="rx-card">
          <h2>National Rx Card</h2>
          <div class="card-content">
            <div class="card-headline">
              <div class="company">
                <h5>Free</h5><span>&bull;</span>
                <h5>Fast</h5><span>&bull;</span>
                <h5>Discounts</h5>
              </div>
              <div class="patient-holder">
                <div class="row">
                  <input type="text" value="Enter Your Name"/>
                </div>
                <div class="row">
                  <h6>PATIENT</h6>
                  <h6>NRX43710</h6>
                </div>
                <div class="row">
                  <h6>GROUP</h6>
                  <h6>96100245</h6>
                </div>
                <div class="row">
                  <h6>BIN</h6>
                  <h6>018398</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rx-card-download">
          <div data-ng-click="textModal();" class="column">
            <p><span class='fa fa-mobile'></span> Text</p>
          </div>
          <div data-ng-click="emailModal();" class="column">
            <p><span class='fa fa-send'></span> Email</p>
          </div>
          <div data-ng-click="saveModal();" class="column">
            <p><span class='fa fa-cloud'></span> Save</p>
          </div>
          <div data-ng-click="printModal();" class="column">
            <p><span class='fa fa-file-text'></span> Print</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>