.contact-holder
    width 440px

    .contact-detail
        width 398px
        padding 30px 20px 30px 20px
        margin 0 0 20px 0

        h2
            width 398px
            margin 0 0 28px 0
            font-size 33px
            line-height 33px

        .contact-container
            width 398px

            p
                margin 0 0 14px 0
                font-size 16px
                line-height 16px

            a
                margin 0 0 12px 0
                font-size 25px
                line-height 25px

            h4
                margin 15px 0 0 0
                font-weight 500
                font-size 21px
                line-height 31px

    .contact-form
        width 378px
        padding 40px 30px 30px 30px
        margin 0 0 16px 0

        input
            width 378px
            height 56px
            padding 4px 0 0 0
            margin 0 0 20px 0
            font-size 23px
            line-height 23px

        textarea
            width 358px
            height 120px
            padding 16px 10px 10px 10px
            margin 0 0 20px 0
            font-size 23px
            line-height 29px

        .submit
            width 378px
            height 68px
            font-size 31px
            line-height 70px

        .card-confirmation
            width 280px

            h1
                width 236px
                margin 0 0 20px 0
                font-size 24px

            h2
                margin 0 0 15px 0
                font-size 18px

            p
                font-size 14px

.map
    width 438px
    height 280px
    margin 0 0 40px 20px