.lists
    width 400px
    margin 0 0 30px 40px

    .list
        width 338px
        padding 20px 30px 18px 30px
        margin 0 0 14px 0

        .image
            width 338px
            margin 0 0 30px 0

            .thumb-image
                width 336px
                min-height 80px

        .information
            width 338px

            h3
                width 316px
                height 33px
                padding 4px 10px 5px 10px
                margin 0
                font-size 28px
                line-height 33px

            h5
                width 338px
                margin 0 0 12px 0
                font-size 23px
                line-height 23px

            .full
                width 338px
                margin 0 0 18px 0

    .item
        width 338px
        padding 20px 30px 8px 30px
        margin 0 0 14px 0

        .image
            width 338px
            margin 0 0 30px 0

            .tag-holder
                width 318px

                .tag
                    width 42px
                    height 42px
                    margin 0 6px 0 0

                    .fa-pencil
                        width 42px
                        height 42px
                        font-size 21px
                        line-height 43px

                    .fa-arrows-h
                        width 42px
                        height 42px
                        font-size 25px
                        line-height 45px

                    .file-upload
                        width 42px
                        height 42px

                .tag.save
                    background $burgundy

                    .fa-cloud
                        width 42px
                        height 42px
                        font-size 19px
                        line-height 43px

                    .fa-arrows-h
                        width 42px
                        height 42px
                        font-size 25px
                        line-height 45px

            .thumb-image
                width 336px
                min-height 80px

        .information
            width 338px

            .h3
                width 316px
                height 33px
                padding 4px 10px 4px 10px
                margin 0
                font-size 28px
                line-height 33px

            h5
                width 338px
                margin 0 0 12px 0
                font-size 23px
                line-height 23px

            .full
                width 338px
                margin 0 0 28px 0

        .submit
            width 336px
            padding 12px 0 10px 0
            margin 0 0 20px 0
            font-size 27px
            line-height 27px