.card-member
	width 400px
	padding 30px 0 0 0
	margin 0 0 18px 40px

	.member
		width 350px
		padding 0 0 20px 50px

		.member-content
			width 350px
			margin 10px 0 20px 0

			.row
				margin 0

				h4
					font-size 19px
					line-height 19px

				.left
					width 54px
					margin 0 0 12px 0

				.right
					width 100px
					margin 0 0 12px 0

				.left.small
					width 80px
					margin 0 0 12px 0

				.right.small
					width 220px
					margin 0 0 12px 0

				.left.middle
					width 140px
					margin 0 0 8px 0

				.right.middle
					width 140px
					margin 0 0 8px 0

		.member-brand
			width 280px
			margin 0 0 0 10px

	.disclaimer
		width 420px
		padding 30px 10px 10px 40px

		p
			width 310px
			margin 12px 0 10px 0
			font-size 17px
			line-height 26px

		a
			font-size 21px
			line-height 21px

		.brand
			width 160px
			margin 0 20px 0 0

			img
				width 160px

.card-modal
	width 268px
	padding 24px 0px 18px 30px
	margin 0 0 10px 0

	.card-logo
		width 68px
		margin 94px 0 0 180px

	.card-content
		width 268px

		h1
			margin 0 0 12px 0
			font-size 29px
			line-height 29px

		.company
			width 100%

			h5
				font-size 20px
				line-height 20px

			span
				margin 0 8px
				font-size 18px
				line-height 20px

		.patient-holder
			width 100%

			p
				margin 0 0 28px 0
				font-size 24px
				line-height 24px

			.row
				margin 0 0 8px 0

				h6
					width 86px
					font-size 14px
					line-height 14px


.card
	width 370px
	padding 28px 0 22px 50px
	margin 0 0 12px 30px

	.card-logo
		width 82px
		margin 154px 0 0 240px

	.card-content
		width 360px

		h1
			margin 0 0 12px 0
			font-size 35px
			line-height 35px

		.company
			margin 0 0 36px 0

			h5
				font-size 22px
				line-height 22px

			span
				margin 0 9px
				font-size 24px
				line-height 24px

		.patient-holder
			width 100%

			h6
				margin 0 0 36px 0
				font-size 27px
				line-height 27px

			.row
				margin 0 0 12px 0

				h6
					width 102px
					padding 0
					margin 0
					font-size 16px
					line-height 16px
