.card-member
	width 400px
	padding 20px 0 0 0
	margin 0 0 18px 40px

	.member
		width 350px
		padding 0 0 20px 50px

		.member-brand
			width 300px
			margin 0 0 20px 0
			
		.member-content
			width 330px
			margin 10px 0 0 10px

			.row
				margin 0

				h4
					font-size 23px
					line-height 29px

				.left
					width 160px
					margin 0 0 12px 0

				.right
					width 150px
					margin 0 0 12px 0

	.disclaimer
		width 420px
		padding 20px 10px 20px 40px

		p
			width 320px
			margin 0 0 18px 0
			font-size 19px
			line-height 30px

		a
			font-size 19px
			line-height 30px

		.brand
			width 280px
			margin 0 20px 20px 25px

			img
				width 360px

.card-modal
	width 268px
	padding 28px 0px 18px 30px
	margin 0 0 10px 0

	.card-logo
		width 68px
		margin 94px 0 0 180px

	.card-content
		width 268px

		h1
			width 234px
			margin 0 0 11px 0
			font-size 30px
			line-height 30px

		.company
			width 234px
			margin 0 0 32px 0

			h5
				font-size 22px
				line-height 22px

			span
				margin 0 8px
				font-size 24px
				line-height 24px

		.patient-holder
			width 100%

			h6
				margin 0 0 30px 0
				font-size 25px
				line-height 25px

			.row-holder
				float left
				width 210px

				.row
					margin 0 0 10px 0

					h6
						width 88px
						font-size 15px
						line-height 15px
						
			.lines 
				width 58px
				margin 12px 0 0 0

.card
	width 376px
	padding 30px 0 22px 44px
	margin 0 0 12px 30px

	.card-content
		width 360px

		h1
			width 280px
			margin 0 0 12px 0
			font-size 32px
			line-height 32px

		.company
			width 280px
			margin 0 0 32px 0

			h5
				font-size 23px
				line-height 23px

			span
				margin 0 8px
				font-size 25px
				line-height 25px

		.patient-holder
			width 100%

			h6
				margin 0 0 30px 0
				font-size 27px
				line-height 27px

			.row-holder
				float left
				width 240px

				.row
					margin 0 0 12px 0

					h6
						width 104px
						padding 0
						margin 0
						font-size 16px
						line-height 16px

			.lines
				width 64px
				margin 12px 0 0 0