footer
    height 74px

    .footer
        width 400px
        height 74px

        .link
            margin 0

            p
                font-size 17px
                line-height 26px

        .link.phone
            margin 12px 70px 0 50px

        .link.privacy
            margin 12px 0 0 0

        .legal
            width 170px