footer
    height 60px

    .footer
        width 400px
        height 60px

        .link
            margin 9px 30px 0 0

            p
                font-size 16px
                line-height 20px


        .link.phone
            margin 9px 60px 0 30px

        .link.terms
            margin 9px 0 0 0