footer
    height 60px

    .footer
        width 400px
        height 60px

        .link
            margin 7px 30px 0 0

            h4
                font-size 17px
                line-height 22px

        .link.phone
            margin 7px 60px 0 30px

        .link.terms
            margin 7px 0 0 0