header
	margin 0 0 20px 0

	.header
		width 440px

		.brand
			padding 0 0 14px 0

			.logo
				width 440px
				height 98px

			.mobile-navigation
				width 400px
				margin 0 0 0 20px

				h5
					font-size 24px
					line-height 26px