header
	margin 0 0 18px 0

	.header
		width 320px

		.brand
			padding 0 0 12px 0

			.logo
				width 220px
				margin 6px 40px 0 0

			.mobile
				width 44px
				padding 9px 0 6px 0
				margin 22px 0 0 0

				.fa-bars
					font-size 23px
					line-height 23px