header
	margin 0 0 30px 0

	.header
		width 440px

		.brand
			padding 0 0 14px 0

			.logo
				width 320px
				margin 6px 0 20px 60px

			.mobile-navigation
				width 400px
				padding 9px 0 8px 0
				margin 0 0 0 20px

				h5
					font-size 24px
					line-height 26px