.card-member
	width 400px
	padding 30px 0 0 0
	margin 0 0 18px 40px

	.member
		width 360px
		padding 0 0 30px 40px

		.member-brand
			width 320px
			margin 0 0 0 0px

		.member-content
			width 280px
			margin 10px 0 20px 20px

			.row
				margin 0 0 12px 0

				h4
					font-size 19px
					line-height 25px

				.left
					width 120px

				.right
					width 160px

	.disclaimer
		width 320px
		padding 30px 40px 10px 40px

		p
			margin 0 0 22px 0
			font-size 18px
			line-height 27px

		a
			font-size 21px
			line-height 21px

		.brand
			width 320px
			margin 0 0 20px 0

			img
				width 280px
				margin 0 0 0 20px



.card
	width 360px
	padding 26px 0 14px 40px
	margin 0 0 14px 40px

	.card-logo
		width 82px
		margin 94px 0 0 250px

	.card-content
		width 360px

		h1
			margin 0 0 8px 0
			font-size 34px
			line-height 39px

		.company
			margin 0 0 18px 0

			h5
				font-size 21px
				line-height 23px

			span
				margin 0 8px
				font-size 18px
				line-height 25px

		.patient-holder
			width 100%

			p
				margin 0 0 26px 0
				font-size 20px
				line-height 20px

			.row
				margin 0 0 12px 0

				h6
					width 82px
					padding 0
					margin 0
					font-size 11px
					line-height 11px

.page
	width 480px

    .content
		width 480px

		.main
			width 480px
			margin 0

			.download
				width 430px
				padding 0
				margin 0 0 38px 40px

				.tag
					width 91px
					padding 12px 0 8px 0
					margin 0 12px 0 0

					p
						width 71px
						margin 0 10px
						font-size 19px
						line-height 22px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 30px
						font-size 22px
						line-height 22px

					.fa-mobile
						height 38px
						margin -8px 0 0 -8px
						font-size 36px

					.fa-send
						font-size 20px

					.fa-file-text
						font-size 21px

		.points
			width 480px
			margin 0 0 40px 0

			.point-container
				width 480px
				margin 0

				.point
					display: inline-block

					.fa-certificate
						top -14px
						left -15px
						width 36px
						font-size 35px

					h3
						padding 10px 30px 20px 30px
						font-size 31px
						line-height 39px

						span
							padding 0 0 5px 0

		.center
			width 480px
			margin 0 0 20px 0

			.fa-certificate
				width 20px
				margin -18px 0 0 425px
				font-size 39px

			h1
				width 360px
				padding 12px 20px 10px 20px
				margin 0 0 14px 45px
				font-size 31px
				line-height 41px

			.center-holder
				width 460px
				padding 28px 0 6px 20px
				margin 0

				.logo
					padding 0

					.albertsons
						width 190px
						margin 0 10px 22px 0

					.ap
						width 70px
						margin 0 20px 22px 10px

					.costco
						width 130px
						margin 0 14px 22px 0

					.medicap
						width 110px
						margin 0 20px 6px 5px

					.cvs
						width 210px
						margin 8px 20px 18px 5px

					.publix
						width 52px
						margin 0 10px 14px 0

					.duanereade
						width 140px
						margin 8px 10px 0 0

					.intermountain
						width 136px
						margin 0 0 14px 10px

					.kmart
						width 140px
						margin 10px 0 24px 10px

					.kroger
						width 58px
						margin 10px 20px 0 0

					.longs
						width 160px
						margin 14px 20px 8px 0

					.stopshop
						width 80px
						margin 4px 10px 18px 10px

					.riteaid
						width 46px
						margin 10px 25px 16px 25px

					.starmarket
						width 180px
						margin 18px 20px 14px 0

					.walmart
						width 140px
						margin 18px 10px 14px 0

					.safeway
						width 90px
						margin -10px 0 10px 0

					.vons
						width 76px
						margin 0px 15px 0 0

					.winndixie
						width 150px
						margin 0 15px 10px 0

					.walgreens
						width 190px
						margin 0 0 0 0

					.shoprite
						width 90px
						margin 5px 10px 18px 30px

					.target
						width 56px
						margin 10px 10px 14px 30px

					.usadrug
						width 120px
						margin 10px 10px 18px 10px

		.locator
			width 480px

			.locator-zip
			.locator-state
				width 360px
				padding 22px 20px 24px 20px
				margin 0 0 20px 40px

				h2
					width 280px
					padding 0
					margin 0 0 20px 40px
					font-size 31px
					line-height 39px

				input
					width 300px
					height 56px
					margin 0 20px 14px 30px
					font-size 29px
					line-height 29px

				select
					width 300px
					height 60px
					padding 0 0 0 30px
					margin 0 0 14px 30px
					font-size 29px
					line-height 29px

				.submit
					width 300px
					height 58px
					padding 0
					margin 0 0 0 30px
					font-size 31px
					line-height 61px

			.locator-results
				width 480px
				padding 20px 0 25px 0
				margin 0 0 30px 0

				h2
					width 440px
					margin 0 0 18px 20px
					font-size 31px
					line-height 39px

				.locator-results-content
					width 400px
					margin 0 40px

					.row-container
						width 400px

						p
							font-size 20px
							line-height 28px

						.pharmacy
							width 340px
							padding 12px 30px 10px 30px

						.address
							width 340px
							padding 12px 30px 10px 30px

						.phone
							width 340px
							padding 12px 30px 10px 30px

		.testimonals-holder
			width 400px
			margin 0 0 0 40px

			.testimonals
				width 400px
				margin 0 0 20px 0

				.testimonal
					width 320px
					padding 28px 40px 32px 40px
					margin 0 0 15px 0

					p
						margin 0 0 24px 0
						font-size 21px
						line-height 33px

					h2
						font-size 25px
						line-height 25px
						margin 0 0 12px 0

					h3
						font-size 21px
						line-height 21px