.page
	width 480px

    .content
		width 480px

		.main
			width 480px
			margin 0

			.card
				width 360px
				padding 22px 0 14px 40px
				margin 0 0 20px 40px

				.card-logo
					width 92px
					margin 114px 0 0 240px

				.card-content
					width 360px

					h2
						margin 0 0 8px 0
						font-size 34px
						line-height 39px

					.company
						margin 0 0 18px 0

						h5
							font-size 21px
							line-height 23px

						span
							margin 0 8px
							font-size 18px
							line-height 25px

					.patient-holder
						width 100%

						.row
							margin 0 0 14px 0

							input
								margin 0 0 12px 0
								font-size 20px
								line-height 24px

							h6
								width 82px
								padding 0
								margin 0
								font-size 11px
								line-height 11px

			.download
				width 430px
				padding 0
				margin 0 0 58px 40px

				.tag
					width 91px
					padding 10px 0
					margin 0 12px 0 0

					p
						margin 2px 0 0 0
						font-size 19px
						line-height 19px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 28px
						font-size 22px
						line-height 22px

					.fa-mobile
						font-size 34px

					.fa-send
						font-size 20px

					.fa-file-text
						font-size 22px

		.points
			width 430px
			margin 0 0 40px 50px

			.point
				margin 0

				.fa-certificate
					width 64px
					font-size 43px
					line-height 46px

				.text
					width 344px
					margin 3px 0 36px 0

					h3
						font-size 33px
						line-height 48px

						span
							padding 0 0 10px 0

		.center
			width 440px
			margin 0 0 20px 0

			.fa-certificate
				width 20px
				margin -18px 0 0 400px
				font-size 39px

			h1
				width 340px
				padding 14px 20px
				margin 0 0 18px 40px
				font-size 31px
				line-height 41px

			.center-holder
				width 460px
				padding 20px 0 20px 20px

				.logo
					padding 0 30px 20px 0
					margin 0 0 0 10px

					img
						height 30px

		.locator
			width 400px
			margin 0 0 0 40px

			.locator-zip
			.locator-state
				width 360px
				padding 28px 20px 30px 20px
				margin 0 0 20px 0

				h2
					margin 0 0 24px 0
					font-size 29px
					line-height 29px

				input
					width 300px
					height 58px
					margin 0 20px 15px 40px
					font-size 18px
					line-height 23px

				select
					width 300px
					height 52px
					margin 0 0 15px 40px
					font-size 23px
					line-height 23px

				.submit
					width 300px
					height 58px
					margin 0 0 0 40px
					font-size 27px
					line-height 27px

		.testimonals-holder
			width 400px
			margin 0 0 0 40px

			.testimonals
				width 400px
				margin 0 0 20px 0

				.testimonal
					width 320px
					padding 28px 40px 32px 40px
					margin 0 0 15px 0

					p
						margin 0 0 24px 0
						font-size 21px
						line-height 33px

					h2
						font-size 25px
						line-height 25px
						margin 0 0 12px 0

					h3
						font-size 21px
						line-height 21px