.modal-holder
	width 360px
	margin 0 0 0 -180px

	.modal-container
		width 300px
		padding 18px 30px 20px 30px
		margin 18px 0 0 0

		.print
			width 300px

			img
				width 300px

		.fa-close
			width 22px
			margin 0 0 20px 139px
			font-size 22px
			line-height 22px

		.row
			width 340px

			input
				width 300px
				height 64px
				padding 2px 0 0 0
				margin 0 0 12px 0
				font-size 29px
				line-height 29px

		.submit
			width 300px
			padding 14px 0 10px 0
			margin 0 0 18px 0
			font-size 31px
			line-height 31px

		.brand-holder
			float left
			width 280px
			padding 10px
			margin 0 0 10px 0

		.legal
			width 270px
			margin 14px 0 0 15px

			p
				margin 0 0 20px 0
				font-size 18px
				line-height 27px

			a
				font-size 19px
				line-height 27px