.modal-holder
	position absolute
	width 360px
	margin 0 0 0 -180px
	top 0
	right 50%
	z-index 99999

	.modal-container
	width 300px
		padding 18px 30px 28px 30px
		margin 12px 0 30px 0

		.fa-close
			width 30px
			padding 0
			margin 0 0 12px 135px
			font-weight 600
			font-size 25px
			line-height 30px

		h1
			width 100%
			padding 0 0 8px 0
			margin 0 0 10px 0
			font-size 32px
			line-height 37px
			font-weight 600

		h2
			width 100%
			padding 0 0 8px 0
			margin 0 0 30px 0

		.row
			width 340px
			padding 0
			margin 0

			input
				width 298px
				height 65px
				padding 0
				margin 0 0 15px 0

		.submit
			width 298px
			padding 8px 0 6px 0
			margin 0 0 20px 0
			font-weight 600
			font-size 28px
			line-height 34px
			color $white

		.rx-card
			width 268px
			padding 22px 0px 18px 30px
			margin 0 0 20px 0
			background $card
			border-bottom 4px solid #333
			border-radius 12px

			h2
				width 100%
				margin 0 0 10px 0
				font-weight 600
				font-size 29px
				line-height 35px
				text-align left
				border none

			.card-content
				width 268px
				padding 0
				margin 0
				z-index 10

				.card-headline
					width 100%

					.company
						width 100%
						margin 0 0 18px 0

						h5
							font-style italic
							font-weight 500
							font-size 20px
							line-height 24px

						span
							margin 0 6px

					.patient-holder
						width 100%
						padding 0
						margin 0

						.row
							width 100%

							h3
								width 100%
								padding 0
								margin 0 0 12px 0
								font-weight 600
								font-size 23px
								line-height 27px

							h6
								width 82px
								padding 0
								margin 0
								font-weight 700
								font-size 12px
								line-height 14px
								color $grey-light
								text-shadow $white-shadow

		.legal
			width 300px
			padding 0
			margin 0

			p
				width 100%
				padding 0
				margin 0 0 10px 0
				font-size 18px
				line-height 22px

			a
				color $burgundy