.filter
	width 380px
	padding 20px 0 16px 20px
	margin 0 0 20px 40px

	select
		width 340px
		height 58px
		margin 0 0 14px 0
		font-size 27px
		line-height 29px

	input
		width 358px
		height 62px
		padding 0
		margin 0 0 12px 0
		font-size 29px
		line-height 29px

	.reset
		width 358px
		height 50px
		margin 0

		.fa-times
			font-size 26px
			line-height 51px

.answers
	width 400px
	margin 0 0 20px 40px

	.answer
		width 338px
		padding 22px 30px 12px 30px
		margin 0 0 14px 0

		h2
			width 298px
			padding 10px 20px 8px 20px
			margin 0 0 16px 0
			font-size 26px
			line-height 30px

		p
			width 338px
			margin 0 0 20px 0
			font-size 19px
			line-height 28px

		.tag-holder
			position relative
			width 340px
			padding 0
			margin 0 auto

			.tag
				float left
				margin 10px 10px 0 0
				padding 0
				background $grey
				border-bottom 4px solid #333
				border-radius 4px

				h5
					float left
					margin 0
					padding 8px 16px
					// font-style italic
					font-weight 400
					font-size 15px
					line-height 15px
					color $white
					text-shadow $burgundy-text-shadow