.filter-holder
    width 400px
    padding 26px 0 22px 0
    margin 0 0 20px 40px

    .filter-container
        width 370px
        margin 0 0 0 30px

        select
            width 340px
            height 58px
            margin 0 0 14px 0
            font-size 27px
            line-height 29px

        input
            width 340px
            height 56px
            padding 0
            margin 0 0 14px 0
            font-size 27px
            line-height 29px

        .reset
            width 340px
            height 56px
            margin 0

            .fa-times
                font-size 24px
                line-height 57px

.answers-holder
    width 400px
    margin 0 0 20px 40px

    .answer
        width 320px
        padding 22px 40px 20px 40px
        margin 0 0 14px 0

        h2
            width 280px
            margin 0 0 14px 0
            padding 0 20px 8px 20px
            font-size 28px
            line-height 35px

        p
            width 320px
            padding 0
            margin 0 0 10px 0
            font-size 17px
            line-height 28px

        .tag-holder
            position relative
            width 340px
            padding 0
            margin 0 auto

            .tag
                float left
                margin 10px 10px 0 0
                padding 0
                background $grey
                border-bottom 4px solid #333
                border-radius 4px

                h5
                    float left
                    margin 0
                    padding 8px 16px
                    // font-style italic
                    font-weight 400
                    font-size 15px
                    line-height 15px
                    color $white
                    text-shadow $shadow
