.contact-holder
    width 380px
    margin 0 20px 0 40px

    .contact-detail
        width 338px
        padding 24px 20px
        margin 0 0 20px 0

        h2
            width 338px
            padding 10px 0
            margin 0 0 24px 0
            font-size 33px
            line-height 33px

        .contact-container
            width 338px

            p
                margin 0 0 14px 0
                font-size 20px
                line-height 24px

            a
                margin 0 0 16px 0
                font-size 25px
                line-height 25px

            h4
                margin 15px 0 0 0
                font-size 21px
                line-height 30px

    .contact-form
        width 338px
        padding 30px 20px 30px 20px
        margin 0 0 40px 0

        .row
            width 338px
            padding 0
            margin 0 0 12px 0

            input
                width 336px
                height 54px
                margin 0
                padding 8px 0 0 0
                margin 0
                font-size 25px
                line-height 25px

            textarea
                width 336px
                height 100px
                padding 18px 0
                margin 0
                font-size 26px
                line-height 35px

        .submit
            width 336px
            height 68px
            font-size 31px
            line-height 70px

.map
    width 298px
    height 750px
    margin 0 0 40px 0
