.contact-holder
    float left
    width 380px
    padding 0
    margin 0 20px 0 20px

    .contact-detail
        float left
        width 338px
        padding 20px
        margin 20px 0 20px 0
        border $border
        border-bottom 4px solid #333
        background $background-texture
        border-radius 0 0 8px 8px

        h2
            float left
            width 338px
            padding 10px 0
            margin 0 0 18px 0
            font-size 28px
            line-height 32px
            text-align center

        .contact-container
            float left
            width 338px
            padding 0
            margin 0

            p
                float left
                width 100%
                margin 0 0 14px 0
                font-size 20px
                line-height 24px
                font-weight 400
                text-align center

            h3
                float left
                width 100%
                padding 0
                margin 0 0 12px 0
                font-weight 600
                font-size 24px
                line-height 27px
                color $burgundy
                text-align center
                text-shadow $white-shadow

            h4
                float left
                width 100%
                padding 0
                margin 25px 0 8px 0
                font-weight 500
                font-size 21px
                line-height 24px
                text-align center

    .contact-form
        float left
        width 338px
        padding 20px
        margin 0
        background $background-texture
        border $border
        border-bottom 4px solid #333
        border-radius 0 0 8px 8px

        .row
            float left
            width 338px
            padding 0
            margin 0 0 20px 0

            input
                width 336px
                height 50px
                padding 4px 0 0 0
                margin 0
                font-size 23px
                line-height 23px

            textarea
                width 336px
                height 50px
                padding 10px 0
                margin 0
                font-size 23px
                line-height 29px

        .submit
            float left
            width 336px
            height 68px
            padding 0
            margin 0
            font-size 31px
            line-height 70px

.map
    float left
    width 298px
    height 700px
    padding 0
    margin 20px 0 0 0
