.lists
    width 738px
    margin 0 0 30px 30px

    .list
        width 304px
        padding 30px 20px 20px 20px
        margin 0 20px 24px 0

        .image
            width 304px
            margin 0 0 32px 0

            .thumb-image
                width 302px
                min-height 80px

        .information
            width 304px

            h3
                width 284px
                height 35px
                padding 4px 10px 4px 10px
                font-size 30px
                line-height 35px

            h5
                width 304px
                margin 0 0 12px 0
                font-size 24px
                line-height 24px

    .item
        width 628px
        padding 30px 40px 10px 40px
        margin 0 20px 24px 0

        .image
            width 628px
            margin 0 0 38px 0

            .tag-holder
                width 588px

                .tag
                    width 50px
                    height 50px
                    margin 0 6px 0 0

                    .fa-pencil
                        width 50px
                        height 50px
                        font-size 23px
                        line-height 54px

                    .fa-arrows-h
                        width 50px
                        height 50px
                        font-size 27px
                        line-height 52px

                    .file-upload
                        width 50px
                        height 50px

                .tag.save
                    background $burgundy

                    .fa-cloud
                        width 50px
                        height 50px
                        font-size 21px
                        line-height 54px

                    .fa-arrows-h
                        width 50px
                        height 50px
                        font-size 27px
                        line-height 52px

            .thumb-image
                width 626px
                min-height 80px

        .information
            width 628px

            .h3
                width 586px
                height 35px
                padding 8px 20px 10px 20px
                font-size 30px
                line-height 35px

            h5
                width 628px
                margin 0 0 12px 0
                font-size 24px
                line-height 24px

            .full
                width 628px
                margin 0 0 38px 0

        .submit
            width 626px
            padding 16px 0 14px 0
            margin 0 0 30px 0
            font-size 31px
            line-height 31px