.card-discount
	width 500px
	margin 10px 20px 12px 40px
	border-radius 4px 4px 4px 4px

	img
		float left
		width 100%
		border none
		background none
		padding 0
		margin 0
		border-radius 4px 4px 4px 4px
		
.card-member
	width 500px
	padding 20px 0 0 0
	margin 10px 20px 0 40px

	.member
		width 460px
		padding 0 0 20px 40px

		.member-brand
			width 380px
			margin 0 0 20px 20px

		.member-content
			width 400px
			margin 10px 0 0 20px

			.row
				margin 0

				h4
					font-size 23px
					line-height 29px

				.left
					width 170px
					margin 0 0 12px 0

				.right
					width 180px
					margin 0 0 12px 0

			.row.hide
				display none

	.disclaimer
		width 480px
		padding 30px 0 20px 40px

		p
			width 420px
			margin 6px 0 14px 0
			font-size 19px
			line-height 30px

		a
			font-size 19px
			line-height 30px

		.brand
			width 320px
			margin 0 80px 20px 0 

			img
				width 320px

.card
	width 468px
	padding 42px 0 26px 60px
	margin 0 30px 18px 40px

	.card-content
		width 480px

		h1
			width 340px
			margin 0 0 13px 0
			font-size 39px
			line-height 39px

		.company
			width 340px
			margin 0 0 52px 0

			h5
				font-size 28px
				line-height 28px

			span
				padding 0
				margin 0 10px
				font-size 30px
				line-height 30px

		.patient-holder
			width 100%

			h6
				margin 0 0 48px 0
				font-size 35px
				line-height 35px

			.row-holder
				width 300px

				.row
					margin 0 0 15px 0

					h6
						width 124px
						font-size 19px
						line-height 19px

			.lines
				width 92px
				padding 0
				margin 0