footer
    height 86px

    .footer
        width 680px
        height 86px

        .link
            margin 0

            p
            a
                font-size 20px
                line-height 29px

        .link.email
            margin 13px 60px 0 10px

        .link.phone
            margin 13px 80px 0 0

        .link.privacy
            margin 13px 0 0 0

        .legal
            width 180px