footer
    height 68px

    .footer
        width 680px
        height 68px

        .link
            margin 11px 40px 0 0

            h4
                font-size 18px
                line-height 23px

        .link.email
            margin 11px 40px 0 10px

        .link.phone
            margin 11px 90px 0 0

        .link.terms
            margin 11px 0 0 0