header
	height 138px
	margin 0 0 60px 0

	.header
		width 768px

		.brand
			width 230px
			margin 28px 0 36px 10px

			.logo
				width 230px
				margin 0

			.mobile-navigation
				display none

		nav
			display block
			float left
			width 510px
			height 84px
			padding 0
			margin 0 0 1px 0

			.tile
				float right
				height 85px
				padding 0 18px
				margin 0
				background $header-tile
				border-top $border-header
				border-left $border-header
				cursor pointer

				h4
					float left
					padding 0
					margin 16px 0 0 0
					font-style italic
					font-weight 600
					font-size 17px
					line-height 27px
					color $white
					text-align center
					text-shadow $shadow

			.tile.active
				height 85px
				background $background

				h4
					font-style normal
