header
	margin 0 0 40px 0

	.header
		width 768px

		.brand
			padding 0

			.logo
				width 688px
				height 160px
				margin 0 0 30px 40px

			.mobile-navigation
				display none

		nav
			display block
			float left
			height 84px
			padding 0
			margin 0 0 1px 15px
			border-left $border-header

			.tile
				float left
				height 85px
				padding 0 28px
				margin 0
				background $header-tile
				border-top $border-header
				border-right $border-header
				cursor pointer

				h4
					float left
					padding 0
					margin 16px 0 0 0
					font-style italic
					font-weight 600
					font-size 22px
					line-height 27px
					color $white
					text-align center
					text-shadow $shadow

			.tile.active
				height 85px
				background $background

				h4
					margin 19px 0 0 0
					font-style normal
