header
	height 248px
	margin 0 0 60px 0

	.header
		width 768px

		.brand
			width 690px
			margin 18px 0 12px 10px

			.logo
				width 320px
				margin 0 0 0 80px

			.mobile-navigation
				display none

		nav
			display block
			float left
			width 750px
			height 82px
			padding 0
			margin 0 0 0 6px
			border-right $border-header
			border-radius 6px 6px 0 0

			.tile
				float right
				height 81px
				padding 0 28px
				margin 0
				background $header-tile
				border-top $border-header
				border-left $border-header
				cursor pointer

				h4
					float left
					padding 0
					margin 15px 0 0 0
					// font-style italic
					font-weight 600
					font-size 22px
					line-height 27px
					color $white
					text-align center
					text-shadow $shadow

			.tile.active
				height 82px
				background $background
				//
				// h4
				// 	font-style normal

			.tile.first
				border-radius 6px 0 0 0

			.tile.last
				border-radius 0 6px 0 0