.page
	width 708px

    .content
		width 708px

		.main
			width 708px
			margin 0 0 60px 0

			.card
				width 476px
				padding 42px 0px 24px 54px
				margin 0 0 20px 0

				h2
					margin 0 0 18px 0
					font-size 41px
					line-height 42px

				.card-content
					width 480px

					.company
						margin 0 0 32px 0

						h5
							font-size 26px
							line-height 26px

						span
							margin 0 12px
							font-size 21px
							line-height 26px

					.patient-holder
						width 100%

						.row
							margin 0 0 20px 0

							input
								margin 0 0 22px 0
								font-size 27px
								line-height 33px

							h6
								width 98px
								padding 0
								margin 0
								font-size 14px
								line-height 14px

			.download
				width 120px
				padding 0
				margin 0 0 0 40px

				.tag
					width 91px
					padding 10px 0
					margin 0 0 12px 0

					p
						margin 3px 0 0 0
						font-size 20px
						line-height 20px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 32px
						font-size 22px
						line-height 22px

					.fa-mobile
						font-size 39px

					.fa-send
						font-size 20px

					.fa-file-text
						font-size 22px

		.points
			width 688px
			padding 0
			margin 0 0 70px 10px

			.point
				margin 0

				.fa-certificate
					width 92px
					margin 2px 0 0 0
					font-size 62px
					line-height 62px

				.text
					width 584px
					padding 0
					margin 0 0 46px 0

					h3
						width 100%
						padding 0
						margin 0
						font-size 49px
						line-height 69px

						span
							padding 0 0 8px 0

		.center
			width 708px
			padding 0
			margin 0 0 40px 0

			.fa-certificate
				width 20px
				margin -26px 0 0 646px
				font-size 55px

			h1
				width 580px
				padding 20px 30px 24px 30px
				margin 0 0 26px 34px
				font-size 41px
				line-height 53px

			.center-holder
				width 678px
				padding 20px 0 20px 30px
				margin 0

				.logo
					padding 0 20px 20px 0
					margin 0 0 0 10px

					img
						height 40px

		.locator
			float left
			width 728px
			margin 0 0 30px 0

			.locator-zip
			.locator-state
				float left
				width 304px
				padding 28px 20px 30px 20px
				margin 0 20px 0 0

				h2
					width 100%
					padding 0
					margin 0 0 28px 0

				input
					float left
					width 304px
					height 48px
					padding 0
					margin 0 0 14px 0

				select
					float left
					width 304px
					height 52px
					padding 0
					margin 0 0 10px 0

				.submit
					float left
					width 304px
					padding 0
					margin 0 0 0 0

		.testimonals-holder
			width 728px
			margin 0

			.testimonals
				width 728px
				margin 0 0 30px 0

				.testimonal
					float left
					width 304px
					padding 28px 20px 30px 20px
					margin 0 20px 14px 0

					p
						float left
						width 100%
						padding 0
						margin 0 0 14px 0

					h2
						float left
						width 100%
						padding 0
						margin 0 0 12px 0
						font-weight 600

					h3
						float left
						width 100%
						padding 0
						margin 0

				.testimonal.hide
					display block
