.card
	width 604px
	padding 34px 0px 28px 64px
	margin 0 0 18px 40px

	.card-logo
		width 102px
		margin 124px 0 0 400px

	.card-content
		width 480px

		h1
			margin 0 0 16px 0
			font-size 49px
			line-height 49px

		.company
			margin 0 0 36px 0

			h5
				font-size 31px
				line-height 31px

			span
				margin 0 14px
				font-size 29px
				line-height 31px

		.patient-holder
			width 100%

			p
				margin 0 0 48px 0
				font-size 37px
				line-height 37px

			.row
				margin 0 0 18px 0

				h6
					width 122px
					font-weight 600
					font-size 15px
					line-height 15px

.page
	width 768px

    .content
		width 768px

		.main
			width 768px
			margin 0 0 60px 0

			.download
				width 650px
				margin 0 0 0 68px

				.tag
					width 138px
					padding 18px 0 12px 0
					margin 0 20px 0 0

					p
						width 100%
						margin 0
						font-size 22px
						line-height 25px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 38px
						font-size 33px

					.fa-mobile
						height 50px
						margin -12px 0 0 -10px
						font-size 51px

					.fa-send
						font-size 26px

					.fa-file-text
						font-size 28px

		.points
			width 600px
			padding 0
			margin 0 0 50px 84px

			.point-container
				width 600px
				margin 0 0 24px 0

				.point
					display: inline-block

					.fa-certificate
						top -20px
						left -22px
						width 47px
						font-size 47px

					h3
						padding 14px 50px 24px 50px
						font-size 41px
						line-height 51px

						span
							padding 0 0 5px 0

		.center
			width 768px
			padding 0
			margin 0 0 40px 0

			.fa-certificate
				width 20px
				margin -26px 0 0 682px
				font-size 55px

			h1
				width 568px
				padding 20px 30px 24px 30px
				margin 0 0 14px 80px
				font-size 41px
				line-height 53px

			.center-holder
				width 738px
				padding 38px 0 28px 30px
				margin 0
				border-radius 0 0 0 0

				.logo
					padding 0

					.albertsons
						width 220px
						margin 0 30px 20px 0

					.ap
						width 88px
						margin 0 20px 20px 10px

					.costco
						width 152px
						margin 0 30px 20px 20px

					.medicap
						width 136px
						margin 0 0 22px 0

					.cvs
						width 200px
						margin 18px 30px 24px -10px

					.publix
						width 58px
						margin 0 30px 24px 0

					.duanereade
						width 190px
						margin 0 30px 24px 0

					.intermountain
						width 180px
						margin 0 0 32px 0

					.kmart
						width 200px
						margin 0 30px 18px 10px

					.kroger
						width 78px
						margin -8px 24px 4px 10px

					.longs
						width 210px
						margin 0 26px 20px 10px

					.stopshop
						width 92px
						margin 0 20px 26px 10px

					.riteaid
						width 58px
						margin 10px 50px 8px 10px

					.starmarket
						width 220px
						margin 14px 20px 0 0

					.walmart
						width 180px
						margin 10px 30px 0 10px

					.safeway
						width 100px
						margin 0 10px 18px 10px

					.vons
						width 96px
						margin 0 20px 28px 0

					.walgreens
						width 230px
						margin 0 20px 0 0

					.shoprite
						width 92px
						margin -10px 30px 0 0

					.target
						width 76px
						margin -16px 20px 0 0

					.usadrug
						width 120px
						margin 0

		.locator
			width 728px
			margin 0 0 0 30px

			h2
				margin 0 0 24px 0
				font-size 35px
				line-height 43px

			.locator-zip
			.locator-state
				float left
				width 304px
				padding 22px 20px 22px 20px
				margin 0 20px 30px 0

				h2
					width 284px
					margin 0 0 26px 10px

				input
					width 304px
					height 62px
					padding 0
					margin 0 0 14px 0
					font-size 31px
					line-height 31px

				select
					width 304px
					height 67px
					padding 0 0 0 40px
					margin 0 0 14px 0
					font-size 30px
					line-height 30px

				.submit
					width 304px
					padding 0
					margin 0
					font-size 33px
					line-height 70px
					text-shadow $shadow

			.locator-results
				width 708px
				padding 28px 0 30px 0
				margin 0 0 30px 0
				border-radius 12px

				h2
					width 708px
					margin 0 0 32px 0
					font-size 37px
					line-height 46px

				.locator-results-content
					width 648px
					margin 0 40px

					.row-container
						width 304px
						margin 0 20px 14px 0

						p
							font-size 20px
							line-height 29px

						.pharmacy
							width 264px
							padding 14px 20px 12px 20px

						.address
							width 264px
							padding 14px 20px 12px 20px

						.phone
							width 264px
							padding 14px 20px 12px 20px

		.testimonals-holder
			width 728px
			margin 0 0 0 30px

			.testimonals
				width 728px
				margin 0 0 40px 0

				.testimonal
					width 284px
					padding 28px 30px 30px 30px
					margin 0 20px 16px 0

					p
						margin 0 0 22px 0

					h2
						margin 0 0 14px 0

					h3
						font-size 25px
						line-height 25px

				.testimonal.hide
					display block