.card
	width 584px
	padding 42px 0px 24px 64px
	margin 0 0 22px 30px

	.card-logo
		width 142px
		margin 84px 0 0 400px

	.card-content
		width 480px

		h1
			margin 0 0 16px 0
			font-size 47px
			line-height 47px

		.company
			margin 0 0 36px 0

			h5
				font-size 29px
				line-height 29px

			span
				margin 0 14px
				font-size 25px
				line-height 29px

		.patient-holder
			width 100%

			p
				margin 0 0 44px 0
				font-size 29px
				line-height 29px

			.row
				margin 0 0 16px 0

				h6
					width 98px
					font-size 15px
					line-height 15px


.page
	width 708px

    .content
		width 708px

		.main
			width 708px
			margin 0 0 60px 0

			.download
				width 520px
				margin 0 0 0 108px

				.tag
					width 108px
					padding 20px 0 14px 0
					margin 0 20px 0 0

					p
						font-size 22px
						line-height 22px

					.fa-cloud
					.fa-mobile
					.fa-send
					.fa-file-text
						height 36px
						font-size 29px

					.fa-mobile
						height 48px
						margin -12px 0 0 -12px
						font-size 48px

					.fa-send
						font-size 24px

					.fa-file-text
						font-size 26px

		.points
			width 600px
			padding 0
			margin 0 0 50px 54px

			.point-container
				width 600px
				margin 0 0 24px 0

				.point
					display: inline-block

					.fa-certificate
						top -20px
						left -22px
						width 47px
						// margin -30px 0 0 -18px
						font-size 47px

					h3
						padding 14px 40px 24px 40px
						font-size 43px
						line-height 53px

						span
							padding 0 0 6px 0

		.center
			width 708px
			padding 0
			margin 0 0 40px 0

			.fa-certificate
				width 20px
				margin -26px 0 0 646px
				font-size 55px

			h1
				width 580px
				padding 20px 30px 24px 30px
				margin 0 0 26px 34px
				font-size 41px
				line-height 53px

			.center-holder
				width 678px
				padding 20px 0 20px 30px
				margin 0

				.logo
					padding 0 20px 20px 0
					margin 0 0 0 10px

					img
						height 40px

		.locator
			width 728px

			h2
				margin 0 0 28px 0
				font-size 33px
				line-height 42px

			.locator-zip
			.locator-state
				float left
				width 304px
				padding 22px 20px 22px 20px
				margin 0 20px 30px 0

				h2
					width 284px
					margin 0 0 26px 10px

				input
					width 304px
					height 62px
					padding 0
					margin 0 0 14px 0
					font-size 29px
					line-height 29px

				select
					width 304px
					height 66px
					padding 0
					margin 0 0 14px 0
					font-size 29px
					line-height 29px

				.submit
					width 304px
					padding 0
					margin 0
					font-size 31px
					line-height 69px
					text-shadow $shadow

			.locator-results
				width 708px
				padding 28px 0 30px 0
				margin 0 0 30px 0
				border-radius 12px

				h2
					width 708px
					margin 0 0 32px 0
					font-size 37px
					line-height 46px

				.locator-results-content
					width 648px
					margin 0 40px

					.row-container
						width 304px
						margin 0 20px 14px 0
						border-bottom $black-border

						p
							font-size 20px
							line-height 29px

						.pharmacy
							width 264px
							padding 14px 20px 12px 20px

						.address
							width 264px
							padding 14px 20px 12px 20px

						.phone
							width 264px
							padding 14px 20px 12px 20px

		.testimonals-holder
			width 728px
			margin 0

			.testimonals
				width 728px
				margin 0 0 30px 0

				.testimonal
					float left
					width 304px
					padding 28px 20px 30px 20px
					margin 0 20px 14px 0

					p
						float left
						width 100%
						padding 0
						margin 0 0 14px 0

					h2
						float left
						width 100%
						padding 0
						margin 0 0 12px 0
						font-weight 600

					h3
						float left
						width 100%
						padding 0
						margin 0

				.testimonal.hide
					display block
