.modal_holder
    margin 30px 0 0 0

    .modal
        width 380px

        .square
            width 338px
            padding 28px 20px 24px 20px

            h1
                width 338px
                padding: 0 0 7px 0
                margin 0 0 28px 0
                font-size 41px
                line-height 41px

            .field
            .field.textarea
                width 338px
                margin: 0 0 32px 0

                h5
                    margin 0 0 14px 0
                    font-size 24px
                    line-height 24px

                input
                    width 336px
                    height 48px
                    padding 12px 0 0 0
                    font-size 23px
                    line-height 23px

            .field.end
                margin 0 0 18px 0

            .submit
                width 338px
                height 58px
                font-size 30px
                line-height 60px

                span.fa-lock
                    margin 0 0 0 10px
                    font-size 25px
                    line-height 25px