.modal-holder
	position absolute
	width 500px
	margin 0 0 0 -250px
	top 0
	left 50%
	z-index 99999

	.modal-container
		width 440px
		padding 18px 30px 28px 30px
		margin 12px 0 30px 0

		.fa-close
			width 40px
			padding 0
			margin 0 0 20px 205px
			font-weight 600
			font-size 30px
			line-height 36px

		h1
			width 440px
			padding 0 0 8px 0
			margin 0 0 15px 0
			font-size 45px
			line-height 55px

		h2
			width 440px
			padding 0 0 8px 0
			margin 0 0 30px 0
			font-size 38px
			line-height 70px

		.row
			width 440px
			padding 0
			margin 0

			input
				width 440px
				height 80px
				padding 0
				margin 0 0 25px 0
				font-size 24px
				line-height 28px

		.submit
			width 438px
			padding 12px 0 8px 0
			margin 0 0 25px 0
			font-weight 600
			font-size 36px
			line-height 50px


		.rx-card
			width 410px
			padding 22px 0px 18px 30px
			margin 0 0 20px 0

			h2
				width 100%
				margin 0 0 10px 0
				font-weight 600
				font-size 34px
				line-height 39px

			.card-content
				width 410px
				padding 0
				margin 0

				.card-headline
					width 100%

					.company
						width 100%
						margin 0 0 18px 0

						h5
							font-style italic
							font-weight 500
							font-size 24px
							line-height 28px

						span
							margin 0 6px
							font-size 24px
							line-height 28px

					.patient-holder
						width 100%
						padding 0
						margin 0

						.row
							width 100%
							padding 0
							margin 0 0 10px 0

							h3
								width 100%
								padding 0
								margin 0 0 12px 0
								font-weight 600
								font-size 26px
								line-height 34px

							h6
								width 82px
								padding 0
								margin 0
								font-weight 700
								font-size 14px
								line-height 19px

		.legal
			width 440px
			padding 0
			margin 0

			p
				width 100%
				padding 0
				margin 0 0 10px 0
				font-weight 400
				font-size 26px
				line-height 40px

			