.filter-holder
    width 568px
    padding 32px 50px 26px 50px
    margin 0 0 30px 50px

    .filter-container
        width 568px
        margin 0

        input
            width 568px
            height 74px
            padding 4px 0 0 0
            margin 0 0 18px 0
            font-size 35px
            line-height 36px

        .reset
            width 568px
            height 68px

            .fa-times
                font-size 28px
                line-height 70px

.answers-holder
    width 568px
    margin 0 0 20px 50px

    .answer
        width 548px
        padding 30px 60px 24px 60px
        margin 0 0 16px 0

        h2
            width 488px
            margin 0 0 22px 0
            padding 0 30px 10px 30px
            font-size 38px
            line-height 49px

        p
            width 528px
            padding 0 10px
            margin 0 0 20px 0
            font-size 24px
            line-height 37px

        .tag-holder
            position relative
            width 340px
            padding 0
            margin 0 auto

            .tag
                float left
                margin 10px 10px 0 0
                padding 0

                h5
                    float left
                    margin 0
                    padding 8px 16px
