.filter-holder
    width 568px
    padding 32px 50px 26px 50px
    margin 0 0 30px 20px

    .filter-container
        width 568px
        margin 0

        input
            width 568px
            height 74px
            margin 0 0 18px 0

        .reset
            width 568px
            height 66px

            .fa-times
                font-size 28px
                line-height 66px

.answers-holder
    width 568px
    margin 0 0 20px 20px

    .answer
        width 548px
        padding 32px 60px 30px 60px
        margin 0 0 16px 0

        h2
            margin 0 0 22px 0
            padding 0 0 8px 0
            font-size 38px
            line-height 49px

        p
            width 528px
            padding 0 10px
            margin 0 0 18px 0
            font-size 23px
            line-height 35px

        .tag-holder
            position relative
            width 340px
            padding 0
            margin 0 auto

            .tag
                float left
                margin 10px 10px 0 0
                padding 0

                h5
                    float left
                    margin 0
                    padding 8px 16px
