.filter-holder
    width 568px
    padding 32px 50px 26px 50px
    margin 0 0 30px 50px

    .filter-container
        width 568px
        margin 0

        input
            width 568px
            height 64px
            padding 2px 0 0 0
            margin 0 0 14px 0
            font-size 31px
            line-height 31px

        .reset
            width 568px
            height 58px

            .fa-times
                font-size 26px
                line-height 64px

.answers-holder
    width 568px
    margin 0 0 20px 50px

    .answer
        width 588px
        padding 30px 40px 24px 40px
        margin 0 0 16px 0

        h2
            width 588px
            margin 0 0 18px 0
            padding 0 0 10px 0
            font-size 32px
            line-height 39px

        p
            width 588px
            padding 0
            margin 0 0 20px 0
            font-size 22px
            line-height 33px

        .tag-holder
            position relative
            width 340px
            padding 0
            margin 0 auto

            .tag
                float left
                margin 10px 10px 0 0
                padding 0

                h5
                    float left
                    margin 0
                    padding 8px 16px
