.page
	.content
		.legal-container
			.legal
				h1 Terms &amp; Conditions
				h4 Last Modified: January 1, 2016
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat omnis ipsam hic fuga qui, odit, fugiat, laboriosam repellat dolorem optio sapiente iusto ullam perspiciatis voluptatem officiis aspernatur corporis inventore minima.

				.title-container
					.title
						h3 This A Title
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat omnis ipsam hic fuga qui, odit, fugiat, laboriosam repellat dolorem optio sapiente iusto ullam perspiciatis voluptatem officiis aspernatur corporis inventore minima.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat omnis ipsam hic fuga qui, odit, fugiat, laboriosam repellat dolorem optio sapiente iusto ullam perspiciatis voluptatem officiis aspernatur corporis inventore minima.
				.title-container
					.title
						h3 This A Title
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat omnis ipsam hic fuga qui, odit, fugiat, laboriosam repellat dolorem optio sapiente iusto ullam perspiciatis voluptatem officiis aspernatur corporis inventore minima.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat omnis ipsam hic fuga qui, odit, fugiat, laboriosam repellat dolorem optio sapiente iusto ullam perspiciatis voluptatem officiis aspernatur corporis inventore minima.
				.title-container
					.title
						h3 This A Title
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat omnis ipsam hic fuga qui, odit, fugiat, laboriosam repellat dolorem optio sapiente iusto ullam perspiciatis voluptatem officiis aspernatur corporis inventore minima.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat omnis ipsam hic fuga qui, odit, fugiat, laboriosam repellat dolorem optio sapiente iusto ullam perspiciatis voluptatem officiis aspernatur corporis inventore minima.

