.page
    .content
        .main
            .card-discount
                img(src='{{member.file_url}}')
            .download
                .tag(data-ng-click='textModal();')
                    .fa.fa-mobile.fa-rotate-90
                    p Text
                    p.full Text <span>Card</span>
                .tag(data-ng-click='emailModal();')
                    .fa.fa-send
                    p Email
                    p.full Email <span>Card</span>
                .tag(data-ng-click='saveModal();')
                    .fa.fa-cloud
                    p Save
                    p.full Save <span>Card</span>
                .tag(data-ng-click='printModal();')
                    .fa.fa-file-text
                    p Print
                    p.full Print <span>Card</span>
                    //- .member-brand
                    //-     img(ng-src='/img/best_deals_4_moms.png')

                //- .disclaimer
                //-     .brand
                //-         img(ng-src='/img/logo.png')
                //-     p Present this card to a participating pharmacy to receive your discount on your prescription. This card is not valid for Medicaid or Medicare patients, including Medicare Part D, or other state or federal programs. For processing questions call: Argus Health Systems <a href='tel:1-866-921-7286'>1-866 921-7286</a>, customer service: <a href='tel:1-855-525-6375'>1-855 525-6375</a>

        .points
            .point-container
                .point
                    .fa.fa-certificate
                    h3 Membership <span>Is Free</span>
            .point-container
                .point
                    .fa.fa-certificate
                    h3 Everyone <span>Qualifies</span>
            .point-container
                .point
                    .fa.fa-certificate
                    h3 No Waiting Or <span>Deductibles</span>
            .point-container
                .point
                    .fa.fa-certificate
                    h3 No Pre-Existing <span>Exclusions</span>
            .point-container
                .point
                    .fa.fa-certificate
                    h3 Available For <span>Pet Meds</span>

        .center
            span.fa.fa-certificate
            h1 We Are Partnered With Over 63,000 Pharmacies Nationwide
            .center-holder
                .logo
                    img.albertsons(ng-src='/img/pharmacies/albertsons.gif')
                .logo
                    img.ap(ng-src='/img/pharmacies/ap.gif')

                .logo
                    img.costco(ng-src='/img/pharmacies/costco.gif')
                .logo
                    img.medicap(ng-src='/img/pharmacies/medicap.png')

                .logo
                    img.cvs(ng-src='/img/pharmacies/cvs.png')
                .logo
                    img.publix(ng-src='/img/pharmacies/publix.png')

                .logo
                    img.duanereade(ng-src='/img/pharmacies/duanereade.png')
                .logo
                    img.intermountain(ng-src='/img/pharmacies/intermountain.png')

                .logo
                    img.kmart(ng-src='/img/pharmacies/kmart.gif')
                .logo
                    img.kroger(ng-src='/img/pharmacies/kroger.jpg')

                .logo
                    img.longs(ng-src='/img/pharmacies/longs.png')
                .logo
                    img.stopshop(ng-src='/img/pharmacies/stopshop.png')

                .logo
                    img.riteaid(ng-src='/img/pharmacies/riteaid.gif')
                .logo
                    img.starmarket(ng-src='/img/pharmacies/starmarket.png')

                .logo
                    img.walmart(ng-src='/img/pharmacies/walmart.gif')
                .logo
                    img.safeway(ng-src='/img/pharmacies/safeway.png')

                .logo
                    img.vons(ng-src='/img/pharmacies/vons.gif')
                .logo
                    img.winndixie(ng-src='/img/pharmacies/winndixie.gif')

                .logo
                    img.walgreens(ng-src='/img/pharmacies/walgreens.png')
                .logo
                    img.target(ng-src='/img/pharmacies/target.png')

                .logo
                    img.shoprite(ng-src='/img/pharmacies/shoprite.png')
                .logo
                    img.usadrug(ng-src='/img/pharmacies/usadrug.png')

        .locator
            .locator-state
                h4 Search Pharmacies By State & City
                select(type="text", data-ng-model='location.state', ng-options="state for state in states", data-ng-change='stateUpdate()')
                    option(value='') Enter State
                select(type="text", data-ng-model='location.city', ng-options="city for city in cities | orderBy:'toString()'", data-ng-change='cityResult()', ng-disabled="!location.state")
                    option(value='') Enter City

                .submit(type='submit') Search

            .locator-zip
                h4 Search Pharmacies By Zip Code
                input(type="text", data-ng-model='location.zip', placeholder='10010')
                .submit(data-ng-click='zip()') Search

            .locator-results(data-ng-show='results')
                h4 Pharmacy Locator Results
                .locator-results-content
                    .row-container(ng-repeat='row in results')
                        .pharmacy
                            p(ng-bind='::row.name')
                        .address
                            p(ng-bind='::row.address1')
                        .address
                            p {{::row.state}} - {{::row.city}}
                        .phone
                            p(ng-bind='::row.phone')

        .testimonals-holder
            .testimonals
                .testimonal
                    p “I saved over 50% on my expensive prescriptions with National Rx Card. This was Unbelievable!!"
                    h2 Chris Landry
                    h3 Arizona

                .testimonal
                    p “The National Rx Card was so easy to text to my mobile phone and the Savings was Amazing"
                    h2 Lisa Carpenter
                    h3 California

                .testimonal
                    p “I saved over $40.00 on my prescription with my amazing National Rx Card. Thank you so much!"
                    h2 Terry Lau
                    h3 Texas

                .testimonal
                    p "The National Rx Card has saved me thousands of dollars!! Not sure what I would do with out it!!"
                    h2 Mary Freedman
                    h3 Ohio