footer
	.footer
		.column-holder
			.column
				.row
					h3 MENTAL
				.row
					p Support
				.row
					p Coaching
				.row
					p Substance
				.row
					p Abuse

			.column
				.row
					h3 PHYSICAL
				.row
					p Health
				.row
					p Diet
				.row
					p Exercise
				.row
					p Aliments

			.column
				.row
					h3 FAMILY
				.row
					p Caretaker
				.row
					p Father
				.row
					p Events
				.row
					p Parenting

			.column
				.row
					h3 SOCIAL
				.row
					p Tradition
				.row
					p Dinner
				.row
					p Drinking
				.row
					p Manners

			.column
				.row
					h3 ACTIVISM
				.row
					p Issues
				.row
					p Rights
				.row
					p Advocacy
				.row
					p(ui-sref='index.legal') Legal

			.subscribe
				.cost()
					span Join For $1
					.triangle
					//- h5 Per<br>Month
				.row
					h3 SIGN UP
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad vero laudantium dolore.

			.donate
				.cost()
					span Donate Now
					.triangle
				.row
					h3 DONATE
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad vero laudantium dolore.
			
			.company
				h1 ONE OF THE FEW PLACES IT IS <i>SAFE TO BE A MAN</i>
				//- p() Legal
				//- p() Legal
				//- p() Legal
				//- p() Legal
				//- p() Legal
				//- p() Legal
				//- p() Legal
