//- .side(data-ng-controller='NavigationController')
//-   ul
//-     li.close
//-       a.fa.fa-long-arrow-left(data-ng-click="$spMenu.hide(); turnOff();", href='#')
//-     li
//-       a.clean(ui-sref="index.home", data-ng-click="$spMenu.hide(); turnOff();", href='#', data-ng-class="{active: $state.includes('index.home')}") Home
//-     li
//-       a.clean(ui-sref="index.list", data-ng-click="$spMenu.hide(); turnOff();", href='#', data-ng-class="{active: $state.includes('index.list')}") Board Games
//-     li
//-       a.clean(ui-sref="login", data-ng-click="$spMenu.hide(); turnOff();", href='#', data-ng-class="{active: $state.includes('index.community')}") Community
//-     li
//-       a.clean(ui-sref="index.contact", data-ng-click="$spMenu.hide(); turnOff();", href='#', data-ng-class="{active: $state.includes('index.contact')}") Contact
